<!-- {% load static %}

<link rel="stylesheet" href="{% static '/scss/parts/popup.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap" rel="stylesheet">

    <div id="popup" class="hidden">
        <h1>Ved å bruke denne nettsiden samtyker du til vår bruk av cookies</h1>
        <button id="accept">Samtyk</button>
    </div> -->
