{% load static %}

<link rel="stylesheet" href="{% static '/scss/parts/popup.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap" rel="stylesheet">

    <div id="popup" class="hidden">
        <h1>På grunn av høy etterspørsel, så bruker vi litt lengre tid på bestillinger</h1>
        <button id="accept">Det går fint</button>
    </div>
    <div class="circle" id="popupCircleBackground"></div>
