$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;


  #desNav{
    #desNavBusinessLink{
        color: $primBtn;
    }
}


.page{
    #businessQ{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: auto;
        background: white;
        color: $txt;
        font-size: 17px;
        padding: 11px 18px;
        padding-top: 13px;
        font-weight: 400;
        z-index: 10000;
        text-align: left;
        border-block: 1px solid rgba(100,100,100,0.22);
    }
    .business{
        padding-top: 155px;
        padding-inline: 18px;
        padding-bottom: 19px;
        margin-bottom: 19px;
        a{
            width: max-content;
        }
        .business-info{
            text-align: left;
            .alert{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 12px;
                max-width: 420px;
                padding: 10px;
                height: 68px;
                background: $primBtn;
                border-radius: 4px;
                left: 0;
                .alert-one{
                    width: max-content;
                    color: $white;
                    background: #05a36e;
                    font-size: 13px;
                    font-weight: 500;
                    padding: 11px 9px;
                    border-radius: 25px;
                    position: absolute;
                    left: 12px;
                }
                .alert-two{
                    width: max-content;
                    color: $white;
                    font-size: 15px;
                    font-weight: 500;
                    padding-left: 145px;
                }
            }
            .text{
                h1{
                    font-size: 22.5px;
                    color: $txt;
                    font-weight: 500;
                }
                p{
                    color: $txt;
                    font-size: 15px;
                    opacity: 0.9;
                }
            }
            .info-four{
                button{
                    margin-top: 15px;
                    color: $white;
                    background: $primBtn;
                    text-align: center;
                    padding: 10px;
                    width: 280px;
                    outline: none;
                    border: none;
                    border-radius: 4px;
                }
            }
            form{
                margin-block: 15px;
                margin-top: 20px;
                text-align: left;
                label{
                    color: $txt;
                    font-size: 15px;
                    opacity: 0.95;
                }
                input{
                    width: 100%;
                    max-width: 420px;
                    height: 45px;
                    border: 0;
                    outline: 0;
                    border-radius: 4px;
                    padding: 10px;
                    color: $txt;
                    font-size: 14px;
                    opacity: 0.95;
                    border: 1px solid rgba(100,100,100,0.1);
                    &::placeholder{
                        color: $txt;
                        font-size: 14px;
                        opacity: 0.66;
                    }
                }
                textarea{
                    margin-bottom: -7px;
                    width: 100%;
                    max-width: 420px;
                    min-height: 185px;
                    max-height: 290px;
                    border: 0;
                    outline: 0;
                    border-radius: 4px;
                    padding: 10px;
                    color: $txt;
                    font-size: 14px;
                    opacity: 0.95;
                    border: 1px solid rgba(100,100,100,0.1);
                    &::placeholder{
                        color: $txt;
                        font-size: 14px;
                        opacity: 0.66;
                    }
                }
                button{
                    width: 100%;
                    max-width: 420px;
                    background: $primBtn;
                    color: $white;
                    height: 45px;
                    outline: none;
                    border: none;
                    border-radius: 4px;
                    font-weight: 400;
                    &.not-ready{
                        background: #08ac759c;
                        cursor: not-allowed !important;
                        pointer-events: none;
                        text-decoration: line-through;
                        &:hover{
                            filter: brightness(100%);
                        }
                    }
                    &.ready{
                        background: $primBtn;
                        cursor: pointer;
                        pointer-events: visible;
                    }
                }
            }
        }
    }
}



@media only screen and (min-device-width: 1140px) {
    .page{
      #businessQ{
          position: absolute;
          top: 66px;
          left: 0;
          width: 100%;
          height: auto;
          background: $primBtn;
          color: $white;
          font-size: 15px;
          padding: 10px 35px;
          font-weight: 500;
          z-index: 10000;
          text-align: left;
          &.sticky{
            position: fixed;
            top: 66px;
            box-shadow: 0 0 4px rgba(5,5,5,0.12);
          }
      }
      .business{
        position: relative;
        padding-top: 155px;
        padding-bottom: 19px;
        margin-bottom: 19px;
        padding-inline: 35px;
        h1{
            font-size: 23px;
            color: $txt;
            font-weight: 500;
        }
        p{
            max-width: 700px;
            color: $txt;
            font-size: 16px;
            opacity: 0.87;
        }
        a{
            display: block;
            font-size: 16px;
            opacity: 0.9;
            padding: 4px 0;
        }
    }
    }
  }