$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;

#mobileNav{
    &.sticky{
        box-shadow: none;
        position: absolute;
      }
    .hamburger{
        span{
            background: #183b56;
        }
    }
}

.page{
    min-height: 90vh !important;
}


