$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;

#footer{
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  #mobileNav{
    position: absolute;
    background: white;
    &::before{
        display: none;
    }
    &.sticky{
        position: fixed;
        &::before{
            display: none;
        }
    }
  }

.page{
    #policyQ{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: auto;
        background: white;
        color: $txt;
        font-size: 17px;
        padding: 11px 18px;
        padding-top: 13px;
        font-weight: 400;
        z-index: 10000;
        text-align: left;
        border-block: 1px solid rgba(100,100,100,0.22);
    }
    .policy{
        position: relative;
        padding-top: 155px;
        padding-bottom: 19px;
        margin-bottom: 19px;
        padding-inline: 18px;
        h1{
            font-size: 22.5px;
            color: $txt;
            font-weight: 500;
        }
        p{
            color: $txt;
            font-size: 15px;
            opacity: 0.87;
        }
        a{
            display: block;
            font-size: 15px;
            opacity: 0.9;
            padding: 4px 0;
        }
    }
}