$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;


.page{
    #vilkårQ{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: auto;
        background: white;
        color: $txt;
        font-size: 17px;
        padding: 11px 18px;
        padding-top: 13px;
        font-weight: 400;
        z-index: 10000;
        text-align: left;
        border-block: 1px solid rgba(100,100,100,0.22);
    }
    .vilkår{
        position: relative;
        padding-top: 155px;
        padding-bottom: 19px;
        margin-bottom: 19px;
        padding-inline: 18px;
        h1{
            font-size: 22.5px;
            color: $txt;
            font-weight: 500;
        }
        h2{
            font-size: 19px;
            color: $txt;
            font-weight: 500;
            margin-bottom: 10px;
            transform: translateX(-1px);
        }
        p{
            color: $txt;
            font-size: 15px;
            opacity: 0.87;
        }
        a{
            display: block;
            font-size: 15px;
            opacity: 0.9;
            padding: 4px 0;
        }
    }
}