$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;


#footer{
    border-top: 1px solid rgba(0,0,0,0.1);
}
#mobileNav{
    position: absolute;
    background: white;
    &::before{
        display: none;
    }
    &.sticky{
        &::before{
            display: none;
        }
    }
}

.product-search{
    position: absolute;
    top: 55px;
    width: 100%;
    padding-inline: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(40,40,40,0.1);
    z-index: 10000;
    background: white;
    &.sticky{
        position: fixed;
        top: 0;
        box-shadow: 0 0 4px rgba(5,5,5,0.12);
    }
    form{
        border: 1px solid rgb(234,234,234);
        border-radius: 4px;
        display: flex;
    }
    button{
        border: none;
        background: transparent;
        position: absolute;
        right: 42px;
        top: 29px;
        padding: 3px 8px;
        margin: -3px -8px;
        border-radius: 100%;
        background: rgba(155, 155, 155, 0.22);
        i{
            font-size: 15px;
            color: #183b56a9;
        }
    }
    input{
      width: 85%;
      height: 50px;
      border: none;
      outline: none;
      padding: 7px;
      background: white;
      color: $txt;
      border-radius: 4px;
      font-size: 15px;
      &::placeholder{
        color: $txt;
        opacity: 0.8;
      }
    }
}

.page{
    .mapouter{
        width: 100%;
        height: 400px;
    }
}
.product-section{
    position: relative;
    padding-top: 133px;
    .carousel-control-prev{
        opacity: 1;
        width: max-content;
        height: max-content;
        position: absolute;
        top: calc(50% + 5px);
        transform: translateY(-50%);
        left: 8px;
        padding: 6px 15px;
        background: rgba(160,160,160,0.25);
        color: $white;
        border-radius: 100%;
        font-size: 18px;
        transition: .3s;
        &:focus{
            transform: translateY(-50%) scale(1.07);
            filter: brightness(92%);
        }
    }
    .carousel-control-next{
        opacity: 1;
        width: max-content;
        height: max-content;
        position: absolute;
        top: calc(50% + 5px);
        transform: translateY(-50%);
        right: 8px;
        padding: 6px 15px;
        background: rgba(160,160,160,0.25);
        color: $white;
        border-radius: 100%;
        font-size: 18px;
        transition: .3s;
        &:focus{
            transform: translateY(-50%) scale(1.07);
            filter: brightness(92%);
        }
    }
    .product-image{
        width: 100%;
        height: 280px;
        object-fit: cover;
        filter: brightness(75%);
    }
    .quick-links{
        background: $primBtn;
        height: 52px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-inline: 18px;
        position: absolute;
        &.sticky{
            position: fixed;
            top: 78px;
            z-index: 10000;
        }
        a{
            padding-inline: 5px;
            margin-inline: 3px;
            font-size: 15px;
            color: $white;
            text-decoration: none;
            opacity: 0.64;
            font-weight: 500;
            &.active{
                opacity: 1;
            }
            &:hover{
                color: $white;
            }
            &:first-child{
                padding-left: 0;
                margin-left: 0;
            }
            &:last-child{
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
    .text{
        margin-top: 10px;
        padding-inline: 18px;
        &.main{
            padding-top: 58px;
        }
        .reviews{
            display: flex;
            margin-block: 3px;
            p{
              margin-bottom: 0;
              color: #FFBC55;
              font-size: 12px;
              margin-top: 1px;
              i{
                transform: translateY(-0.9px);
                margin-right: 3px;
                font-size: 11px;
              }
            }
            span{
              color: rgb(170, 170, 170);
              font-size: 11px;
              transform: translateX(4px) translateY(2px);
            }
          }
        .name{
            font-size: 28px;
            color: $txt;
            font-weight: 500;
        }
        .business-name{
            font-size: 13px;
            color: $txt;
            opacity: 0.7;
            font-weight: 500;
            width: max-content;
            padding: 5px;
            margin: -2px;
            transform: translateY(4px);
            background: rgba(110,110,110,0.1);
            border-radius: 4px;
            i{
                font-size: 12px;
                margin-right: 6px;
            }
        }
    }
    #infoSec{ 
        display: block;
        &.hidden{
            display: none;
        }
        &.active{
            display: block;
        }
        .info{
                margin-top: 38px;
                h1{
                    font-size: 22.5px;
                    color: $txt;
                font-weight: 500;
            }
            p{
                color: $txt;
                font-size: 15px;
                opacity: 0.8;
            }
        }
        .location{
            margin-top: 0;
            padding-inline: 18px;
            h1{
                font-size: 22.5px;
                color: $txt;
                font-weight: 500;
                margin-bottom: 3px;
            }
            p{
                margin-left: 1px;
                color: $txt;
                font-size: 13px;
                opacity: 0.8;
            }
            #map{
                margin-top: 18px;
            }
        }
        .opening-hours{
            margin-top: 0;
            padding-inline: 18px;
            h1{
                font-size: 22.5px;
                color: $txt;
                font-weight: 500;
            }
            .card{
                background: rgba(241,241,241,0.98);
                width: 100%;
                height: auto;
                border-radius: 4px;
                padding: 13px 33px;
                border: none;
                margin-top: 15px;
                .day{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        color: $txt;
                        font-size: 14px;
                        opacity: 0.9;
                        margin: 0;
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
    }
    #reviewsSec{
        display: none;
        &.active{
            display: block;
        }
        &.hidden{
            display: none;
        }
        .reviews{
            margin-top: 38px;
            h1{
                font-size: 22.5px;
                color: $txt;
                font-weight: 500;
                margin-bottom: 17px;
            }
            p{
                color: $txt;
                font-size: 15px;
                opacity: 0.8;
            }
            .no-reviews{
                margin-top: 3px;
                opacity: 1;
                font-size: 17px;
                border-left: 10px solid $primBtn;
                padding-left: 10px;
                padding-right: 5px;
                background: rgba(190,190,190,0.1);
                width: max-content;
            }
            .add-review-btn{
                margin-block: 10px;
                width: 100%;
                color: $white;
                background: $primBtn;
                text-align: center;
                padding: 13px 5px;
                outline: none;
                border: none;
                border-radius: 4px;
            }
            .add-review-txt{
                text-align: center;
            }
            #reviewCard{
                width: 100%;
                background: white;
                padding: 11px;
                border-radius: 4px;
                margin-block: 20px;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                .title{
                    font-size: 17px;
                    margin-bottom: 3px;
                }
                .date{
                    font-size: 13px;
                    opacity: 0.7;
                    margin-bottom: 9px;
                }
                .stars{
                    display: flex;
                    margin-block: 3px;
                    p{
                      margin-bottom: 0;
                      color: #FFBC55;
                      font-size: 12px;
                      margin-top: 1px;
                      i{
                        transform: translateY(-0.9px);
                        margin-right: 3px;
                        font-size: 11px;
                      }
                    }
                }
                .content{
                    font-size: 14px;
                    margin-bottom: 0;
                    opacity: 0.9;
                }
                .conf{
                    opacity: 0.8;
                    color: $primBtn;
                    font-size: 11px;
                    i{
                        margin-right: 6px;
                    }
                }
            }
        }
    }
    #contactSec{
        display: none;
        &.hidden{
            display: none;
        }
        &.active{
            display: block;
        }
        .contact{
            margin-top: 38px;
            h1{
                font-size: 22.5px;
                color: $txt;
                font-weight: 500;
            }
            p{
                color: $txt;
                font-size: 15px;
                opacity: 0.8;
            }
            a{
                font-size: 15px;
                opacity: 0.8;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}