$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;


#footer{
    border-top: 1px solid rgba(0,0,0,0.1);
}
#mobileNav{
    position: absolute;
    background: white;
    &.sticky{
        &::before{
            display: none;
        }
    }
}

.product-search{
    position: absolute;
    top: 55px;
    width: 100%;
    padding-inline: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(40,40,40,0.1);
    z-index: 10000;
    background: white;
    &.sticky{
        position: fixed;
        top: 0;
        box-shadow: 0 0 4px rgba(5,5,5,0.12);
    }
    button{
        width: 0;
        height: 0;
        border: none;
        position: absolute;
        right: 58px;
        top: 30px;
        i{
            font-size: 15px;
            color: #183b56a9;
            padding: 5px;
            margin: -5px;
            background: rgba(155, 155, 155, 0.22);
            border-radius: 100%;
        }
    }
    input{
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
      padding: 7px;
      background: white;
      border: 1px solid rgb(240,240,240);
      color: $txt;
      border-radius: 4px;
      font-size: 15px;
      &::placeholder{
        color: $txt;
        opacity: 0.8;
      }
    }
}

.page{
    .mapouter{
        width: 100%;
        height: 400px;
    }
}
.product-section{
    position: relative;
    padding-top: 39px;
    .carousel-control-prev{
        opacity: 1;
        width: max-content;
        height: max-content;
        position: absolute;
        top: calc(50% + 5px);
        transform: translateY(-50%);
        left: 8px;
        padding: 6px 15px;
        background: rgba(160,160,160,0.25);
        color: $white;
        border-radius: 100%;
        font-size: 18px;
        transition: .3s;
        &:focus{
            transform: translateY(-50%) scale(1.07);
            filter: brightness(92%);
        }
    }
    .carousel-control-next{
        opacity: 1;
        width: max-content;
        height: max-content;
        position: absolute;
        top: calc(50% + 5px);
        transform: translateY(-50%);
        right: 8px;
        padding: 6px 15px;
        background: rgba(160,160,160,0.25);
        color: $white;
        border-radius: 100%;
        font-size: 18px;
        transition: .3s;
        &:focus{
            transform: translateY(-50%) scale(1.07);
            filter: brightness(92%);
        }
    }
    .product-image{
        width: 100%;
        height: 280px;
        object-fit: cover;
        filter: brightness(75%);
    }
    .quick-links{
        background: #0cb37b;
        height: 52px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-inline: 18px;
        a{
            padding-inline: 5px;
            margin-inline: 3px;
            font-size: 16px;
            color: $white;
            text-decoration: none;
            opacity: 0.64;
            font-weight: 500;
            &.active{
                opacity: 1;
            }
            &:first-child{
                padding-left: 0;
                margin-left: 0;
            }
            &:last-child{
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
    .text{
        margin-top: 10px;
        padding-inline: 18px;
        .reviews{
            display: flex;
            margin-block: 3px;
            p{
              margin-bottom: 0;
              color: #FFBC55;
              font-size: 12px;
              margin-top: 1px;
              i{
                transform: translateY(-0.9px);
                margin-right: 3px;
                font-size: 11px;
              }
            }
            span{
              color: rgb(170, 170, 170);
              font-size: 11px;
              transform: translateX(4px) translateY(2px);
            }
          }
        .name{
            font-size: 28px;
            color: $txt;
            font-weight: 500;
        }
        .business-name{
            font-size: 13px;
            color: $txt;
            opacity: 0.7;
            font-weight: 500;
            width: max-content;
            padding: 5px;
            margin: -2px;
            transform: translateY(4px);
            background: rgba(110,110,110,0.1);
            border-radius: 4px;
            i{
                font-size: 12px;
                margin-right: 6px;
            }
        }
    }
    .info{
        margin-top: 32px;
        h1{
            font-size: 22.5px;
            color: $txt;
            font-weight: 500;
        }
        p{
            color: $txt;
            font-size: 15px;
            opacity: 0.8;
        }
    }
    .location{
        margin-top: 0;
        padding-inline: 18px;
        h1{
            font-size: 22.5px;
            color: $txt;
            font-weight: 500;
        }
        p{
            color: $txt;
            font-size: 15px;
            opacity: 0.8;
        }
        #map{
            margin-top: 18px;
        }
    }
}