$loader: rgb(80, 104, 180);




// STANDARD PHONE
.login{
    // LOGIN FORM
    #loginForm{     
        .or-signup{
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            padding-top: 35px;
            border-top: 1px solid lightgray;
            a{
              color: rgba(0, 0, 0, 0.4);
            }
          }
      }
    }
