// STANDARD PHONE
.login-signup{
    #loginForm{
        text-align: left;
        width: 100%;
        display: none;
        .part-one{
            border-radius: 10px;
            background: white !important;
            width: 100%;
            .form-tag-username{
                font-size: 15px;
                color: rgb(60, 84, 160);
                background: white;
                width: max-content;
                padding: 0 2px;
                position: absolute;
                left: 20px;
                top: 13px;
            }
            .form-tag-password{
                font-size: 15px;
                color: rgb(60, 84, 160);
                background: white;
                width: max-content;
                padding: 0 2px;
                position: absolute;
                left: 20px;
                top: 78px;
            }
            input{
                width: 100%;
                border: 2px solid rgb(60, 84, 160);
                border-radius: 4px;
                padding: 8px;
                outline: none;
                font-size: 15px;      
            }
            button{
                color: rgb(15, 15, 15);
                background: white;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 100%;
                border-top: 1px solid rgb(225, 225, 225);
                font-size: 18px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                outline: none;
                &:active{
                    background: rgb(215, 215, 215);
                }
            }
        }
        .part-two{
            border-radius: 10px;
            background: white;
            margin: 7px 0;
            a{
                border-radius: 10px;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 100%;
                font-weight: bolder;
                &:active{
                    background: rgb(215, 215, 215);
                }
            }
        }
        &.active{
            display: block;
        }
    }
}