.order-full-info{
    height: auto;
    width: 100%;
    margin-top: 0;
    .content{
      text-align: left;
      width: 100%;
      padding-top: 0;
      position: relative;
      .rows{
        width: 100%;
      }
      .row-one{
        background: rgba(200,200,200,0.1);  
        width: 100%;
        padding: 8px;
        padding-block: 12px;  
        display: flex;
        align-items: center;
        justify-content: space-between;  
      }
      .row-two{
        width: 100%;
        padding: 8px;
        padding-block: 12px;  
        p{
          width: 100%;
          margin-bottom: 15px;
          i{
            transform: translateX(3px) translateY(1.4px);
            font-size: 14px;
          }
          &:last-child{
            margin: 0;
          }
        }
      }
      .row-three{
        width: 100%;
        padding: 8px;
        padding-block: 12px; 
        padding-top: 2px; 
        display: flex;
        align-items: center;
        justify-content: space-between;  
      }
  }
}
  