// STANDARD PHONE
.login-signup{
    #signUpForm{
        width: auto;
        display: none;
        input{
            border: 1px solid black;
            border-radius: 5px;
            padding: 3px;
        }
        label{
            font-weight: bold;
        }
        .form-flex-text{
            display: flex;
            text-align: center;   
            label{
                width: 50%;
            }
        }
        .form-flex-input{
            display: flex;
            align-items: center;
            justify-content: center;  
            margin: 10px;
            margin-top: 0;
            input{
                width: 50%;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
        #submit{
            text-align: center;
            width: auto;
        }
        button{
            margin: 15px;
            margin-left: 0;
            margin-right: 0;
        }
        span{
            margin: 15px;
            margin-left: 0;
            margin-right: 0;
        }
        #signUpFormButton{
            border-radius: 30px;
            border: 2px solid black;
            color: rgb(30, 30, 30);
            display: inline-block;
            text-decoration: none;
            width: 60%;
            font-size: 18px;
            padding: 5px;
            transition: all .5s ease-in-out;
            background: black;
            color: white;
        }
        span{
            border-radius: 30px;
            border: 2px solid black;
            color: rgb(30, 30, 30);
            display: inline-block;
            text-decoration: none;
            width: 60%;
            font-size: 18px;
            padding: 5px;
            transition: all .5s ease-in-out;
            background: white;
            color: black;
        }
        &.active{
            display: block;
        }
    }
}
    