// STANDARD PHONE
.login-signup{
    #signUpForm{
        text-align: left;
        width: auto;
        display: none;
        margin: 5px;
        .form-tag-username{
            font-size: 15px;
            color: rgb(60, 84, 160);
            background: white;
            width: max-content;
            padding: 0 2px;
            position: absolute;
            left: 25px;
            top: 28px;
        }
        .form-tag-first_name{
            font-size: 15px;
            color: rgb(60, 84, 160);
            background: white;
            width: max-content;
            padding: 0 2px;
            position: absolute;
            left: 25px;
            top: 93px;
        }
        .form-tag-last_name{
            font-size: 15px;
            color: rgb(60, 84, 160);
            background: white;
            width: max-content;
            padding: 0 2px;
            position: absolute;
            left: 25px;
            top: 155px;
        }
        .form-tag-email{
            font-size: 15px;
            color: rgb(60, 84, 160);
            background: white;
            width: max-content;
            padding: 0 2px;
            position: absolute;
            left: 25px;
            top: 221px;
        }
        .form-tag-password1{
            font-size: 15px;
            color: rgb(60, 84, 160);
            background: white;
            width: max-content;
            padding: 0 2px;
            position: absolute;
            left: 25px;
            top: 285px;
        }
        .form-tag-password2{
            font-size: 15px;
            color: rgb(60, 84, 160);
            background: white;
            width: max-content;
            padding: 0 2px;
            position: absolute;
            left: 25px;
            top: 348px;
        }
        input{
            width: 100%;
            border: 2px solid rgb(60, 84, 160);
            border-radius: 4px;
            padding: 7px;
            outline: none;
            font-size: 15px;      
        }
        #submit{
            text-align: center;
            width: auto;
        }
        button{
            margin: 15px;
            margin-left: 0;
            margin-right: 0;
        }
        span{
            margin: 15px;
            margin-left: 0;
            margin-right: 0;
        }
        #signUpFormButton{
            border-radius: 4px;
            display: inline-block;
            text-decoration: none;
            width: 60%;
            font-size: 18px;
            padding: 5px;
            transition: all .5s ease-in-out;
            color: white;
            outline: none;
            background: linear-gradient(135deg,rgb(60, 84, 160), #7996f8);    
            box-shadow: 1.5px 3px 2px rgb(60, 84, 160);
            border: 2px solid transparent;      
            margin-top: 20px;
        }
        span{
            text-align: center;
            border-radius: 30px;
            border: 2px solid transparent;
            color: rgb(30, 30, 30);
            display: inline-block;
            text-decoration: none;
            width: 60%;
            font-size: 18px;
            padding: 5px;
            transition: all .5s ease-in-out;
            color: rgb(72, 90, 185);
            background: transparent;
    }
        &.active{
            display: block;
        }
    }
}
    