$loader: rgb(80, 104, 180);

// STANDARD PHONE
.signup{
    width: 100%;
    height: auto;
    background: transparent;
    transform: translateY(113px);
    margin-bottom: 170px;
    // SIGNUP FORM
    form{
      margin: 0 auto;
      text-align: left;
      background: transparent;
      width: 93%;
      max-width: 700px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.224);
      padding: 20px;
      border-radius: 7px;
        // SIGNUP HEADING
        .heading{
          color: #183B56;
          font-size: 22px;
          font-weight: 800;
          text-shadow: 1px 0 #183B56;
          letter-spacing:1px; 
        }
        .signup-form-inputs{
          label{
            color: #183B56;
            font-size: 15px;
            font-weight: 800;
          }
          input{
            padding: 5px;
            border-radius: 4px;
            border: 2px solid #0089f91f;
            outline: none;
            color: #183B56;
            font-size: 13px;
            width: 82%;
            max-width: 500px;
            font-weight: 600;
            height: 45px;
          }
        }
        // SIGNUP FORM ACTIONS
        .form-actions{
          margin-top: 23px;
          button{
            border-radius: 4px;
            width: 200px;
            font-size: 16px;
            padding: 10px;
            transition: all .2s ease-in-out;
            color: white;
            outline: none;
            border: none;    
            background: #0082ec;   
          }
        }
        .or-login{
            font-size: 13px;
            color: #183B56;
            font-weight: 800;
        }
      }
}
