{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/store/email.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/email.js' %}" type="text/javascript"></script>


<div class="load-wrapp" id="emailLoader">
   <div class="load-2">
     <div class="line"></div>
     <div class="line"></div>
     <div class="line"></div>
   </div>
 </div>

 <div class="cover">
   <div class="cover-desktop">
      <div class="cover-text">
          <h1>Vi har motatt mailen</h1>
          <p id="coverText2">Mailen har blitt tilsendt, og vi vill svare deg så fort som mulig</p>
      </div>
      <div class="img">
         <img src="{% static '/images/covers/cover-6.png' %}" alt="cover-img">
     </div>
   </div>
   <div class="cover-mobile">
      <div class="cover-text">
          <h1>Vi har motatt mailen</h1>
          <p id="coverText2">Mailen har blitt tilsendt, og vi vill svare deg så fort som mulig</p>
      </div>
      <div class="img">
         <img src="{% static '/images/covers/cover-6.png' %}" alt="cover-img">
     </div>
   </div>
 </div>

 {% endblock %}