$primaryColor: #2d9cb3;
$dark:#000;
$gold:#D4AF37;
$loader: rgb(80, 104, 180);


// // // STANDARD PHONE
// footer
#footer{
  #newsletter{
    display: block !important;
  }
}
// some global css for home page
.dots-png{
  display: none;
}
.section{
  padding: 25px;
  margin-block: 15px;
  @media only screen and (min-device-width: 1124px) {
    margin-block: 95px;
  }
}
// INTRO
.intro{
  background: white;
  width: 100%;
  height: auto;
  padding: 5px; /* overwrites the global statement */
  .content{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 4px solid #0088F9;
    padding-top: 25px;
    border-radius: 0.45rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    .card{
      border: none;
      width: 50%;
      text-align: center;
      h1{
        font-size: 23px;
        color: #183B56;
        font-weight: 800;
        text-shadow: 0.5px 0 #183B56;
        letter-spacing: 0.5px;    
      }
      p{
        font-size: 16px;
        color: #183B56;
        opacity: 0.9;
        font-weight: 500;
        width: 100%;
      }
    }
  }
}
// WHY WEBISER
.why-webiser{
  width: 100%;
  height: auto;
  position: relative;
  background: linear-gradient(to bottom, #EDF3F8, white);
  .content{
    .text{
      text-align: center;
      .why-webiser-headingp{
        font-size: 14px;
        line-height: 15.75px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #5a7386;
        margin-bottom: 1rem;
      }
      h1{
        transform: translateY(7px);
        color: #183B56;
        text-shadow: 1px 0 #183B56;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 2.8125rem;
        letter-spacing: -1px;
      }
      .why-webiser-long-ptext{
        transform: translateY(30px);
        box-sizing: border-box;
        color: rgb(90, 115, 134);
        display: block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
// SELL
.sell-anything{
  background: white;
  width: 100%;
  height: auto;
  .content{
    .text{
      text-align: left;
      margin-bottom: 45px;
      position: relative;
      h1{
        color: #183B56;
        font-size: 6px;
        font-weight: 800;
        text-shadow: 1px 0 #183B56;
        letter-spacing:1px; 
        padding: 10px;
        font-size: 23px;
      }
    }
    .card{
      margin-block: 34px;
      height: auto;
      padding: 25px;
      width: 100%;
      max-width: 400px;
      border-radius: 14px;
      border: none;
      background-color: rgba(255, 255, 255, 0.918);
      box-shadow: 0 0 6px 2px rgba(130, 130, 130, 0.2);
      .card-content{
        display: flex;
        .icon{
          width: 25%;
          height: auto;
          display: flex;
          justify-content: center;
          i{
            color: #0088F9;
            font-size: 32px;
            transform: translateX(-15px);
          }
        }
        .card-text{
          width: 75%;
          text-align: left;
          transform: translateX(7px);
          h1{
            color: #183B56;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px;    
            font-size: 18px;
            font-weight: 800;
            letter-spacing: 0.3px; 
          }
          p{
            box-sizing: border-box;
            color: rgb(90, 115, 134);
            display: block;
            font-family: Inter, sans-serif;
            font-size: 16px;
            font-weight: 400;
            height: auto;
            line-height: 27px;
            margin-block-end: 32px;
            margin-block-start: 0px;
            margin-bottom: 0;
            margin-inline-end: 0px;
            margin-inline-start: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
          }
        }
      }
    }
  }
  // WEBSITE BENEFITS
  .website-benefits{
    width: 100%;
    height: auto;
    .content{
      text-align: left;
      .flex{
        width: 100%;
        display: flex;
        margin-block: 27px;
        .icon{
          border-radius: 50%;
          padding: 1.5px 6px;
          background: rgba(16, 180, 38, 0.15);
          i{
            color: rgb(28, 211, 28);
            font-size: 15px;
          }
        }
        p{
          font-size: 16px;
          color: #1B1B1B;
          margin: 0 15px;
          opacity: 0.8;
          transform: translateY(1px);
        }
      }
    }
  }
}
// PROCCESS
.proccess{
  background: white;
  width: 100%;
  height: auto;
  .content{
    .text{
      text-align: left;
      margin-bottom: 45px;
      position: relative;
      h1{
        color: #183B56;
        font-size: 36px;
        font-weight: 800;
        text-shadow: 1px 0 #183B56;
        letter-spacing:1px; 
        transform: translateY(12px);
      }
    }
    .proccess-card{
      margin-block: 25px;
    }
    .proccess-image{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 6px;
      width: 100%;
      img{
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.164);
        width: 100%;
        height: auto;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 6px;
        filter: brightness(90%);
        margin: 15px auto;
      }
      .ribbon-number{
        position: absolute;
        right: 30px;
        top: -5px;
        width: 40px;
        height: 40px;
        padding: 10px;
        background: #007be0;
        font-size: 22px;
        color: white;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }
    }
    .proccess-image-text{
      width: 100%;
      transform: translateY(3px);
      &::before{
        content: '';
        display: block;
        position: absolute;
        height: 28px;
        width: 4px;
        background: #183b56bd;
        border-radius: 12px;
      }
      h1{
        transform: translateX(20px);
        font-size: 20px;
        font-weight: 600;
      }
      p{
        transform: translateX(20px) translateY(-3px);
        font-size: 15.3px;
        letter-spacing: 0.2px;
        opacity: 0.8;
        box-sizing: border-box;
        display: block;
        font-family: Inter, sans-serif;
        font-size: 15.5px;
        font-weight: 400;
        height: auto;
        line-height: 27px;
        width: auto;
        padding-right: 10px;
      }
    }
  }
}
// BOOST CONVERSIONS
.boost-conversions{
  background: #0082ec;
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 25px;
  .content{
    img{
      margin-block: 15px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
      width: 110%;
      max-width: 400px;
    }
    .text{
      text-align: left;
      .boost-headingp{
        font-size: 14px;
        line-height: 15.75px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        opacity: 0.7;
        margin-bottom: 1rem;
      }
      h1{
        transform: translateY(7px);
        color: white;
          text-shadow: 1px 0 white;
        letter-spacing:1px;    
        font-size: 30px;
        font-weight: 800;
      }
      .boost-longp{
        transform: translateY(21px);
        box-sizing: border-box;
        color: white;
        display: block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 400;
        opacity: 0.7;
      }
    }
  }
  // BOOST BENEFITS
  .boost-benefits{
    width: 100%;
    height: auto;
    margin-top: 0;
    .content{
      text-align: left;
      margin-top: 42px;
      .flex{
        width: 100%;
        display: flex;
        margin-block: 27px;
        .icon{
          border-radius: 50%;
          padding: 1.5px 6px;
          background: rgb(247, 254, 255);
          i{
            color: rgb(28, 211, 28);
            font-size: 15px;
          }
        }
        p{
          font-size: 16px;
          color: white;
          margin: 0 15px;
          opacity: 0.8;
          transform: translateY(1px);
        }
      }
    }
  }
}
// CUSTOMER QUOUTE
.customer-quote{
  width: 100%;
  height: auto;
  margin-top: 0;
  transition: .2s;
  position: relative;
  padding-bottom: 80px;
  background: linear-gradient(to bottom, white, rgb(240, 240, 240));
    // logo
    .logo1{
      display: none;
    }
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #daeeff;
    z-index: -1;
    border-bottom: 2px solid #b9dfff;
  }
  .carousel-indicators{
    position: absolute;
    bottom: -65px;
    border-radius: 20px;
    li{
      background-color: #008cff;
      transition: .2s;
      &.active{
        width: 15px;
      }
    }
  }
  a{
    color: white;
    background: rgba(0, 0, 0, 0.473);
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
  }
  .content{
    transition: .2s;
    h1{
      font-weight: 800;
      font-size: 42px;
      padding-bottom: 5px;
      font-style: italic;
      height: 220px;
      span{
        border-bottom: 3px solid #0088F9;
      }
    }
    .img{
      position: relative;
      img{
        width: 100%;
        max-width: 420px;
        height: auto;
      }
      p{
        background: linear-gradient(to top, black, transparent);
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        padding: 8px;  
        padding-top: 126px;
        color: white;
        max-width: 420px;
      }
    }
  }
}
// PRICES
.prices{
  background: white;
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 25px;
  .content{
    width: 100%;
    img{
      margin-block: 15px;
      position: relative;
      left: 50%;
      transform: translateX(-52%);
      height: auto;
      width: 110%;
      max-width: 400px;
    }
    .text{
      text-align: left;
      .price-headingp{
        font-size: 14px;
        line-height: 15.75px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #5a7386;
        margin-bottom: 1rem;
      }
      h1{
        transform: translateY(7px);
        color: #183B56;
        text-shadow: 1px 0 #183B56;
        letter-spacing:1px;    
        font-size: 30px;
        font-weight: 800;
      }
      .prices-longp{
        transform: translateY(21px);
        box-sizing: border-box;
        color: rgb(90, 115, 134);
        display: block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }
    // CHOOSE PRODUCT
    .choose-type-of-product-flex{
      transform: translateY(25px);
      display: flex;
      opacity: 1;
      pointer-events: visible;
      width: 100%;
      height: max-content;
      transition: .3s;
      &.hide{
        pointer-events: none;
        opacity: 0;
        height: 0;
        p{
          border: none;
          transition: .2s;
        }
      }
      p{
        opacity: 0.75;
        margin-inline: 18px;
        margin-block: 0;
        width: 80px;
        padding: 7px;
        text-align: center;
        font-size: 16px;
        transition: 0;
        transition: background-color 0;
        border-radius: 0;
        &#eco{
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
    // CHOOSE PRODUCT BLOG
    .choose-type-of-productblog-flex{
      display: flex;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 0;
      transform: translateY(25px);
      position: relative;
      left: -20px;
      &.show{
        left: 0px;
        pointer-events: visible;
        opacity: 1;
        height: max-content;
        transition: .3s;
      }
      i{
        font-size: 25px;
        color: #0088F9;
        text-align: center;
        padding: 7px;
      }
      p{
        opacity: 1;
        margin-left: 12px;
        margin-block: 0;
        border-radius: 28px;
        width: 80px;
        padding: 7px;
        text-align: center;
        font-size: 15px;
        transition: .2s;
        transition: background-color 0;
        background-color: #0088F9;
        color: white;
      }
    }
    // CHOOSE PRODUCT PERSONAL
    .choose-type-of-productpers-flex{
      display: flex;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 0;
      transform: translateY(25px);
      position: relative;
      left: -20px;
      &.show{
        left: 0px;
        pointer-events: visible;
        opacity: 1;
        height: max-content;
        transition: .3s;
      }
      i{
        font-size: 25px;
        color: #0088F9;
        text-align: center;
        padding: 7px;
      }
      p{
        opacity: 1;
        margin-left: 12px;
        margin-block: 0;
        border-radius: 28px;
        width: 80px;
        padding: 7px;
        text-align: center;
        font-size: 15px;
        transition: .2s;
        transition: background-color 0;
        background-color: #0088F9;
        color: white;
      }
    }
    // CHOOSE PRODUCT ECOMMERCE
    .choose-type-of-producteco-flex{
      display: flex;
      opacity: 0;
      pointer-events: none;
      min-width: 100%;
      height: 0;
      transform: translateY(25px);
      position: relative;
      left: -20px;
      &.show{
        left: 0px;
        pointer-events: visible;
        opacity: 1;
        height: max-content;
        transition: .3s;
      }
      i{
        font-size: 25px;
        color: #0088F9;
        text-align: center;
        padding: 7px;
      }
      p{
        opacity: 0.6;
        margin-inline: 18px;
        margin-block: 0;
        border-radius: 28px;
        width: 80px;
        padding: 7px;
        text-align: center;
        font-size: 15px;
        transition: .2s;
        transition: background-color 0;
        &.click{
          transform: scale(1.3);
        }
        &#big{
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
        &#middle{
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
        &#small{
          margin-left: 12px;
          background-color: #0088F9;
          color: white;
          opacity: 1;
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
      }
    }
    .product-section{
      margin-top:20px;
      // BLOG PRODUCT
      .productblog{
        margin: 40px 0;
        text-align: left;
        background: transparent;
        width: 100%;
        max-width: 340px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
        padding: 28px;
        border-radius: 10px;
        .product-row-one{
          width: 100%;
          display: flex;
          position: relative;
          .product-name{                
            width: 88%;
            font-size: 23px;
            color: #183B56;
            font-weight: 800;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px; 
          }
          .product-price{
            color: black;
            opacity: 0.5;
            font-size: 15px;
            width: 12%;
            transform: translateY(3px) translateX(-18px);
            border-bottom: 2px solid #0088F9;
          }
        }
        .product-row-two{
          width: 100%;
          transform: translateY(0);
          .flex{
            width: 100%;
            display: flex;
            margin-block: 16px;
            transform: translateX(-6px);
            .icon{
              transform: translateY(-5px);
              i{
                color: rgb(28, 211, 28);
                font-size: 13px;
              }
            }  
            p{
              font-size: 14px;
              color: #1B1B1B;
              margin: 0 15px;
              opacity: 0.8;
              transform: translateY(1px);
            }
          }
        }
        p{
          color: #183B56;
          font-size: 15px;
          width: 100%;
          span{
            font-weight: 800;
          }
      }
        &.blog{
          display: none;
          transition: .2s;
          transform: scale(0.9);
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(3px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
      }
      // PERS PRODUCT
      .productpers{
        margin: 40px 0;
        text-align: left;
        background: transparent;
        width: 100%;
        max-width: 340px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
        padding: 28px;
        border-radius: 10px;
        .product-row-one{
          width: 100%;
          display: flex;
          position: relative;
          .product-name{                
            width: 88%;
            font-size: 23px;
            color: #183B56;
            font-weight: 800;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px; 
          }
          .product-price{
            color: black;
            opacity: 0.5;
            font-size: 15px;
            width: 12%;
            transform: translateY(3px) translateX(-18px);
            border-bottom: 2px solid #0088F9;
          }
        }
        .product-row-two{
          width: 100%;
          transform: translateY(0);
          .flex{
            width: 100%;
            display: flex;
            margin-block: 16px;
            transform: translateX(-6px);
            .icon{
              transform: translateY(-5px);
              i{
                color: rgb(28, 211, 28);
                font-size: 13px;
              }
            }  
            p{
              font-size: 14px;
              color: #1B1B1B;
              margin: 0 15px;
              opacity: 0.8;
              transform: translateY(1px);
            }
          }
        }
        p{
          color: #183B56;
          font-size: 15px;
          width: 100%;
          span{
            font-weight: 800;
          }
      }
        &.pers{
          display: none;
          transition: .2s;
          transform: scale(0.9);
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(3px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
      }
      // ECOMMERCE PRODUCT
      .producteco{
        margin: 40px 0;
        text-align: left;
        background: transparent;
        width: 100%;
        max-width: 340px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
        padding: 28px;
        border-radius: 10px;
        .product-row-one{
          width: 100%;
          display: flex;
          position: relative;
          .popular{
            position: absolute;
            top: 50px;
            background: linear-gradient(to bottom right, #0088F9, #005091);
            border-radius: 4px;
            h1{
              color: white;
              font-weight: bold;
              font-size: 13px;
              padding: 5px;
              padding-inline: 12px;
              transform: translateY(3px);
            }
          }
          .product-name{                
            width: 88%;
            font-size: 23px;
            color: #183B56;
            font-weight: 800;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px; 
          }
          .product-tag{
            color: #0088F9;
            font-size: 13px;
            transform: translateY(10px) translateX(10px);
          }
          .product-price{
            color: black;
            opacity: 0.5;
            font-size: 15px;
            width: 12%;
            transform: translateY(3px) translateX(-18px);
            border-bottom: 2px solid #0088F9;
          }
        }
        .product-row-two{
          width: 100%;
          transform: translateY(0);
          .flex{
            width: 100%;
            display: flex;
            margin-block: 16px;
            transform: translateX(-6px);
            .icon{
              i{
                color: rgb(28, 211, 28);
                font-size: 13px;
              }
            }
            .icon-same{
              margin-right: 15px;
              background: rgba(0, 0, 0, 0.834);
              transform: translateY(10px) translateX(8px);
              height: 2px;
              width: 12px;
            }
            
            p{
              font-size: 14px;
              color: #1B1B1B;
              margin: 0 15px;
              opacity: 0.8;
              transform: translateY(1px);
            }
          }
        }
        p{
          color: #183B56;
          font-size: 15px;
          width: 100%;
          span{
            font-weight: 800;
          }
      }
        &.small{
          display: none;
          transition: .2s;
          transform: scale(0.9);
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(3px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
        &.middle{
          display: none;
          transform: scale(0.9);
          transition: .2s;
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(0px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
        &.big{
          display: none;
          transform: scale(0.9);
          transition: .2s;
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(0px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
      }
    }
  }
}
// // SMALL DESKTOP
@media only screen and (min-device-width: 1145px) {
  // INTRO shorten if needed
  .intro{
    background: white;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: +50px; /* overwrites global statement */
    .content{
      width: 90%;
      height: auto;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      border-top: 4px solid #0088F9;
      border-radius: 0.45rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      .card{
        transform: translateY(20px);
        border: none;
        width: auto;
        height: auto;
        padding: 3px;
        text-align: center;
        margin-inline: 40px;
        &:nth-child(3){
          transform: translateY(20px);
        }
        &:nth-child(4){
          transform: translateY(20px);
        }
        h1{
          font-size: 28px;
          color: #183B56;
          font-weight: 800;
          text-shadow: 0.5px 0 #183B56;
          letter-spacing: 0.5px;    
        }
        p{
          font-size: 16px;
          color: #183B56;
          opacity: 0.9;
          font-weight: 500;
          width: 100%;
        }
      }
    }
  }
  // WHY WEBISER shorten if needed
  .why-webiser{
    background: white;
    width: 100%;
    height: auto;
    padding: 17px;
    position: relative;
    border-left: 80px solid #0082ec;
    .content{
      .text{
        text-align: center;
        .why-webiser-headingp{
          font-size: 14px;
          line-height: 15.75px;
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #5a7386;
          margin-bottom: 1rem;
        }
        h1{
          transform: translateY(7px);
          color: #183B56;
          text-shadow: 1px 0 #183B56;
          font-weight: 800;
          font-size: 2.25rem;
          line-height: 45px;
          line-height: 2.8125rem;
          letter-spacing: -1px;
          margin-bottom: 32px;
        }
        .why-webiser-long-ptext{
          position: relative;
          left: 50%;
          transform: translateY(30px) translateX(-50%);
          box-sizing: border-box;
          color: rgb(90, 115, 134);
          display: block;
          font-family: Inter, sans-serif;
          font-size: 18px;
          font-weight: 400;
          width: 60%;
        }
      }
    }
  }
  // SELL shorten if needed
  .sell-anything{
    background: white;
    width: 100%;
    height: auto;
    padding: 25px 75px;
    padding-bottom: 0;
    .content{
      position: relative;
      .dots-png{
        position: absolute;
        bottom: -210px;
        right: -20px;
        width: 250px;
        height: auto;
        display: block;
      }
      .text{
        text-align: left;
        margin-bottom: 45px;
        position: relative;
        h1{
          color: #183B56;
          font-size: 28px;
          font-weight: 800;
          text-shadow: 1px 0 #183B56;
          letter-spacing:1px; 
          background: linear-gradient(to right, rgba(211, 211, 211, 0.321),rgba(211, 211, 211, 0.321), white);
          border-right: 15px solid #0082ec;
        }
      }
      .flex{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      .card{
        margin-block: 34px;
        margin-inline-end: 50px;
        height: auto;
        height: max-content;
        padding: 25px;
        width: 100%;
        max-width: 400px;
        border-radius: 14px;
        border: none;
        background-color: rgba(255, 255, 255, 0.918);
        box-shadow: 0 0 6px 2px rgba(130, 130, 130, 0.2);
        &:nth-child(1),&:nth-child(2){
          margin-top: 20px;
        }
        .card-content{
          display: flex;
          position: relative;
          .icon{
            width: 25%;
            height: auto;
            display: flex;
            justify-content: center;
            i{
              color: #0088F9;
              font-size: 32px;
              transform: translateX(-15px);
            }
          }
          .card-text{
            width: 75%;
            text-align: left;
            transform: translateX(7px);
            h1{
              color: #183B56;
              text-shadow: 1px 0 #183B56;
              letter-spacing:1px;    
              font-size: 18px;
              font-weight: 800;
              letter-spacing: 0.3px; 
            }
            p{
              box-sizing: border-box;
              color: rgb(90, 115, 134);
              display: block;
              font-family: Inter, sans-serif;
              font-size: 16px;
              font-weight: 400;
              height: auto;
              line-height: 27px;
              margin-block-end: 32px;
              margin-block-start: 0px;
              margin-bottom: 0;
              margin-inline-end: 0px;
              margin-inline-start: 0px;
              margin-left: 0px;
              margin-right: 0px;
              margin-top: 0px;
            }
          }
        }
      }
    }
    // WEBSITE BENEFITS
  .website-benefits{
    width: 100%;
    height: auto;
    transform: translateX(500px) translateY(-215px);
    position: absolute;
    .content{
      text-align: left;
      .flex{
        width: 100%;
        display: flex;
        margin-block: 27px;
        .icon{
          border-radius: 50%;
          padding: 1.5px 6px;
          background: rgba(16, 180, 38, 0.15);
          i{
            color: rgb(28, 211, 28);
            font-size: 15px;
          }
        }
        p{
          font-size: 16px;
          color: #1B1B1B;
          margin: 0 15px;
          opacity: 0.8;
          transform: translateY(1px);
        }
      }
    }
  }
  } 
  // PROCCESS shorten if needed
  .proccess{
    background: white;
    width: 100%;
    height: auto;
    padding: 25px 75px;
    position: relative;
    .content{
      .dots-png{
        position: absolute;
        bottom: -18px;
        left: 40px;
        width: 95px; 
        height: auto;
        display: block;
      }
      .text{
        text-align: left;
        margin-bottom: 45px;
        position: relative;
        h1{
          border-left: 15px solid #0082ec;
          color: #183B56;
          font-size: 36px;
          font-weight: 800;
          text-shadow: 1px 0 #183B56;
          letter-spacing:1px; 
          transform: translateY(12px);
          padding-block: 10px;
          padding-left: 15px;
        }
      }
      .proccess-card{
        margin-block: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .proccess-image{
        position: relative;
        left: 0;
        transform: translateX(0);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 6px;
        width: 50%;
        max-width: 400px;
        margin-right: 90px;
        img{
          position: relative;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.164);
          width: 100%;
          height: auto;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          border-bottom-left-radius: 6px;
          filter: brightness(90%);
          margin: 15px auto;
        }
        .ribbon-number{
          position: absolute;
          right: 30px;
          top: -5px;
          width: 40px;
          height: 40px;
          padding: 10px;
          background: #007be0;
          font-size: 22px;
          color: white;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
        }
      }
      .proccess-image-text{
        width: 50%;
        transform: translateY(0);
        &::before{
          content: '';
          display: block;
          position: absolute;
          height: 28px;
          width: 4px;
          background: #183b56bd;
          border-radius: 12px;
        }
        h1{
          transform: translateX(20px);
          font-size: 24px;
          font-weight: 600;
        }
        p{
          transform: translateX(20px) translateY(-3px);
          font-size: 15.3px;
          letter-spacing: 0.2px;
          opacity: 0.8;
          box-sizing: border-box;
          display: block;
          font-family: Inter, sans-serif;
          font-size: 16.5px;
          font-weight: 400;
          height: auto;
          line-height: 27px;
          width: auto;
          padding-right: 10px;
        }
      }
    }
  }
  // BOOST CONVERSIONS
  .boost-conversions{
    width: 100%;
    height: auto;
    padding: 25px 75px;
    .content{
      img{
        margin-block: 15px;
        position: absolute;
        right: 0;
        transform: translateX(0);
        height: auto;
        width: 110%;
        max-width: 400px;
      }
      .text{
        text-align: left;
        width: 500px;
        .boost-headingp{
          font-size: 14px;
          line-height: 15.75px;
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: white;
          opacity: 0.7;
          margin-bottom: 1rem;
        }
        h1{
          transform: translateY(7px);
          letter-spacing:1px;    
          font-size: 36px;
          font-weight: 800;
        }
        .boost-longp{
          transform: translateY(21px);
          box-sizing: border-box;
          color: white;
          display: block;
          font-family: Inter, sans-serif;
          font-size: 16px;
          font-weight: 400;
          opacity: 0.7;
        }
      }
    }
    // BOOST BENEFITS
    .boost-benefits{
      width: 100%;
      height: auto;
      margin-top: 0;
      .content{
        text-align: left;
        margin-top: 42px;
        .flex{
          width: 100%;
          display: flex;
          margin-block: 27px;
          .icon{
            border-radius: 50%;
            padding: 1.5px 6px;
            background: rgb(247, 254, 255);
            i{
              color: rgb(28, 211, 28);
              font-size: 15px;
              transform: translateX(.5px) translateY(-1px);
            }
          }
          p{
            font-size: 16px;
            color: white;
            margin: 0 15px;
            opacity: 0.8;
            transform: translateY(1px);
          }
        }
      }
    }
  }
  // CUSTOMER QUOUTE
  .customer-quote{
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 25px 75px;
    transition: .2s;
    position: relative;
    // logo
    .logo1{
      position: absolute;
      right: 15px;
      bottom: 20px;
      height: auto;
      width: 100px;
      margin: 5px;
      display: block;
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background: #daeeff;
      z-index: -1;
      border-bottom: 2px solid #b9dfff;
    }
    .carousel-indicators{
      position: absolute;
      bottom: -5px;
      border-radius: 20px;
      li{
        background-color: #008cff;
        transition: .2s;
        width: 45px;
        height: 4px;
        &.active{
          width: 20px;
        }
      }
    }
    a{
      color: white;
      background: rgba(0, 0, 0, 0.473);
      width: max-content;
      height: max-content;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px;
    }
    .content{
      transition: .2s;
      display: flex;
      padding-block: 80px;
      h1{
        font-weight: 800;
        font-size: 42px;
        padding-bottom: 5px;
        font-style: italic;
        height: 220px;
        text-align: center;
        width: 40%;
        margin-right: 8px;
        span{
          border-bottom: 3px solid #0088F9;
        }
      }
      .img{
        position: relative;
        top: -110px;
        width: 60%;
        margin-left: 8px;
        img{
          width: 100%;
          max-width: 520px;
          height: auto;
          position: relative;
          left: 50%;
          transform: translateX(-50%);  
        }
        p{
          background: linear-gradient(to top, black, transparent);
          position: absolute;
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);  
          width: 100%;
          padding: 8px;  
          padding-top: 126px;
          color: white;
          max-width: 520px;
        }
      }
    }
  }
  // PRICES
  .prices{
    width: 100%;
    height: auto;
    margin-top: -96px;
    padding-inline: 75px;
    padding-bottom: 95px;
    padding-top: 120px;
    border-right: 90px solid #0082ec;
    i{
      cursor: pointer;
      &:hover{
        transform: scale(1.2);
      }
    }
    p{
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    .content{
      width: 100%;
      img{
        margin-block: 15px;
        position: absolute;
        right: 65px;
        transform: translateX(0);
        height: auto;
        width: 110%;
        max-width: 400px;
      }
      .text{
        text-align: left;
        margin-bottom: 10px;
        .price-headingp{
          font-size: 14px;
          line-height: 15.75px;
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #5a7386;
          margin-bottom: 1rem;
        }
        h1{
          transform: translateY(7px);
          color: #183B56;
          text-shadow: 1px 0 #183B56;
          letter-spacing:1px;    
          font-size: 34px;
          font-weight: 800;
          width: 460px;
        }
        .prices-longp{
          transform: translateY(21px);
          box-sizing: border-box;
          color: rgb(90, 115, 134);
          display: block;
          font-family: Inter, sans-serif;
          font-size: 16px;
          font-weight: 400;
          cursor: text !important;
          &:hover{
            text-decoration: none !important;
          }
        }
      }
      // CHOOSE PRODUCT
      .choose-type-of-product-flex{
        transform: translateY(25px);
        display: flex;
        opacity: 1;
        pointer-events: visible;
        width: 100%;
        height: max-content;
        transition: .3s;
        &.hide{
          pointer-events: none;
          opacity: 0;
          height: 0;
          p{
            border: none;
            transition: .2s;
          }
        }
        p{
          opacity: 0.9;
          margin-inline: 18px;
          margin-block: 0;
          width: 80px;
          padding: 7px;
          text-align: center;
          font-size: 16px;
          transition: 0;
          transition: background-color 0;
          border-radius: 0;
          cursor: pointer;
          &#eco{
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
      // CHOOSE PRODUCT BLOG
      .choose-type-of-productblog-flex{
        display: flex;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 0;
        transform: translateY(25px);
        position: relative;
        left: -20px;
        &.show{
          left: 0px;
          pointer-events: visible;
          opacity: 1;
          height: max-content;
          transition: .3s;
        }
        i{
          font-size: 25px;
          color: #0088F9;
          text-align: center;
          padding: 7px;
        }
        p{
          opacity: 1;
          margin-left: 12px;
          margin-block: 0;
          border-radius: 28px;
          width: 80px;
          padding: 7px;
          text-align: center;
          font-size: 15px;
          transition: .2s;
          transition: background-color 0;
          background-color: #0088F9;
          color: white;
        }
      }
      // CHOOSE PRODUCT PERSONAL
      .choose-type-of-productpers-flex{
        display: flex;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 0;
        transform: translateY(25px);
        position: relative;
        left: -20px;
        &.show{
          left: 0px;
          pointer-events: visible;
          opacity: 1;
          height: max-content;
          transition: .3s;
        }
        i{
          font-size: 25px;
          color: #0088F9;
          text-align: center;
          padding: 7px;
        }
        p{
          opacity: 1;
          margin-left: 12px;
          margin-block: 0;
          border-radius: 28px;
          width: 80px;
          padding: 7px;
          text-align: center;
          font-size: 15px;
          transition: .2s;
          transition: background-color 0;
          background-color: #0088F9;
          color: white;
        }
      }
      // CHOOSE PRODUCT ECOMMERCE
      .choose-type-of-producteco-flex{
        display: flex;
        opacity: 0;
        pointer-events: none;
        min-width: 100%;
        height: 0;
        transform: translateY(25px);
        position: relative;
        left: -20px;
        &.show{
          left: 0px;
          pointer-events: visible;
          opacity: 1;
          height: max-content;
          transition: .3s;
        }
        i{
          font-size: 25px;
          color: #0088F9;
          text-align: center;
          padding: 7px;
        }
        p{
          opacity: 0.6;
          margin-inline: 18px;
          margin-block: 0;
          border-radius: 28px;
          width: 80px;
          padding: 7px;
          text-align: center;
          font-size: 15px;
          transition: .2s;
          transition: background-color 0;
          &.click{
            transform: scale(1.3);
          }
          &#big{
            &.active{
              background-color: #0088F9;
              color: white;
              opacity: 1;
            }
            &.unactive{
              background-color: transparent;
              opacity: 0.6;
              color: black;
            }
          }
          &#middle{
            &.active{
              background-color: #0088F9;
              color: white;
              opacity: 1;
            }
            &.unactive{
              background-color: transparent;
              opacity: 0.6;
              color: black;
            }
          }
          &#small{
            margin-left: 12px;
            background-color: #0088F9;
            color: white;
            opacity: 1;
            &.active{
              background-color: #0088F9;
              color: white;
              opacity: 1;
            }
            &.unactive{
              background-color: transparent;
              opacity: 0.6;
              color: black;
            }
          }
        }
      }
      .product-section{
        margin-top:20px;
        p{
          text-decoration: none;
          cursor: default;
        }
        // BLOG PRODUCT
        .productblog{
          margin: 40px 0;
          text-align: left;
          background: transparent;
          width: 100%;
          max-width: 340px;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
          padding: 28px;
          border-radius: 10px;
          .product-row-one{
            width: 100%;
            display: flex;
            position: relative;
            .product-name{                
              width: 88%;
              font-size: 23px;
              color: #183B56;
              font-weight: 800;
              text-shadow: 1px 0 #183B56;
              letter-spacing:1px; 
            }
            .product-price{
              color: black;
              opacity: 0.5;
              font-size: 15px;
              width: 12%;
              transform: translateY(3px) translateX(-18px);
              border-bottom: 2px solid #0088F9;
            }
          }
          .product-row-two{
            width: 100%;
            transform: translateY(0);
            .flex{
              width: 100%;
              display: flex;
              margin-block: 16px;
              transform: translateX(-6px);
              .icon{
                transform: translateY(-5px);
                i{
                  color: rgb(28, 211, 28);
                  font-size: 13px;
                }
              }  
              p{
                font-size: 14px;
                color: #1B1B1B;
                margin: 0 15px;
                opacity: 0.8;
                transform: translateY(1px);
              }
            }
          }
          p{
            color: #183B56;
            font-size: 15px;
            width: 100%;
            span{
              font-weight: 800;
            }
        }
          &.blog{
            display: none;
            transition: .2s;
            transform: scale(0.9);
            .flex{
              .icon{
                padding: 0 5.5px;
                padding-bottom: 0;
                i{
                  transform: translateY(3px);
                }
              }
              p{
                transform: translateX(-7px);
              }
            }
            &.active{
              display: block;
            }
            &.scale{
              transform: scale(1);
            }
          }
        }
        // PERS PRODUCT
        .productpers{
          margin: 40px 0;
          text-align: left;
          background: transparent;
          width: 100%;
          max-width: 340px;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
          padding: 28px;
          border-radius: 10px;
          .product-row-one{
            width: 100%;
            display: flex;
            position: relative;
            .product-name{                
              width: 88%;
              font-size: 23px;
              color: #183B56;
              font-weight: 800;
              text-shadow: 1px 0 #183B56;
              letter-spacing:1px; 
            }
            .product-price{
              color: black;
              opacity: 0.5;
              font-size: 15px;
              width: 12%;
              transform: translateY(3px) translateX(-18px);
              border-bottom: 2px solid #0088F9;
            }
          }
          .product-row-two{
            width: 100%;
            transform: translateY(0);
            .flex{
              width: 100%;
              display: flex;
              margin-block: 16px;
              transform: translateX(-6px);
              .icon{
                transform: translateY(-5px);
                i{
                  color: rgb(28, 211, 28);
                  font-size: 13px;
                }
              }  
              p{
                font-size: 14px;
                color: #1B1B1B;
                margin: 0 15px;
                opacity: 0.8;
                transform: translateY(1px);
              }
            }
          }
          p{
            color: #183B56;
            font-size: 15px;
            width: 100%;
            span{
              font-weight: 800;
            }
        }
          &.pers{
            display: none;
            transition: .2s;
            transform: scale(0.9);
            .flex{
              .icon{
                padding: 0 5.5px;
                padding-bottom: 0;
                i{
                  transform: translateY(3px);
                }
              }
              p{
                transform: translateX(-7px);
              }
            }
            &.active{
              display: block;
            }
            &.scale{
              transform: scale(1);
            }
          }
        }
        // ECOMMERCE PRODUCT
        .producteco{
          margin: 40px 0;
          text-align: left;
          background: transparent;
          width: 100%;
          max-width: 340px;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
          padding: 28px;
          border-radius: 10px;
          .product-row-one{
            width: 100%;
            display: flex;
            position: relative;
            .popular{
              position: absolute;
              top: 50px;
              background: linear-gradient(to bottom right, #0088F9, #005091);
              border-radius: 4px;
              h1{
                color: white;
                font-weight: bold;
                font-size: 13px;
                padding: 5px;
                padding-inline: 12px;
                transform: translateY(3px);
              }
            }
            .product-name{                
              width: 88%;
              font-size: 23px;
              color: #183B56;
              font-weight: 800;
              text-shadow: 1px 0 #183B56;
              letter-spacing:1px; 
            }
            .product-tag{
              color: #0088F9;
              font-size: 13px;
              transform: translateY(10px) translateX(10px);
            }
            .product-price{
              color: black;
              opacity: 0.5;
              font-size: 15px;
              width: 12%;
              transform: translateY(3px) translateX(-18px);
              border-bottom: 2px solid #0088F9;
            }
          }
          .product-row-two{
            width: 100%;
            transform: translateY(0);
            .flex{
              width: 100%;
              display: flex;
              margin-block: 16px;
              transform: translateX(-6px);
              .icon{
                i{
                  color: rgb(28, 211, 28);
                  font-size: 13px;
                }
              }
              .icon-same{
                margin-right: 15px;
                background: rgba(0, 0, 0, 0.834);
                transform: translateY(10px) translateX(8px);
                height: 2px;
                width: 12px;
              }
              
              p{
                font-size: 14px;
                color: #1B1B1B;
                margin: 0 15px;
                opacity: 0.8;
                transform: translateY(1px);
              }
            }
          }
          p{
            color: #183B56;
            font-size: 15px;
            width: 100%;
            span{
              font-weight: 800;
            }
        }
          &.small{
            display: none;
            transition: .2s;
            transform: scale(0.9);
            .flex{
              .icon{
                padding: 0 5.5px;
                padding-bottom: 0;
                i{
                  transform: translateY(3px);
                }
              }
              p{
                transform: translateX(-7px);
              }
            }
            &.active{
              display: block;
            }
            &.scale{
              transform: scale(1);
            }
          }
          &.middle{
            display: none;
            transform: scale(0.9);
            transition: .2s;
            .flex{
              .icon{
                padding: 0 5.5px;
                padding-bottom: 0;
                i{
                  transform: translateY(0px);
                }
              }
              p{
                transform: translateX(-7px);
              }
            }
            &.active{
              display: block;
            }
            &.scale{
              transform: scale(1);
            }
          }
          &.big{
            display: none;
            transform: scale(0.9);
            transition: .2s;
            .flex{
              .icon{
                padding: 0 5.5px;
                padding-bottom: 0;
                i{
                  transform: translateY(0px);
                }
              }
              p{
                transform: translateX(-7px);
              }
            }
            &.active{
              display: block;
            }
            &.scale{
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
