// STANDARD PHONE
#footer{
    width: 100%;
    height: 100%;
    padding-block: 8px;
    background-color: #f9f9fb;
    position: relative;
    .footer-links{
        width: 100%;
        padding-inline: 20px;
        margin-top: 7px;
        a{
            margin-block: 6px;
            width: 100%;
            display: inline-block;
            color: #183B56;
            font-size: 16px;
            opacity: 0.8;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
            i{
                transform: translateY(2px) translateX(10px);
            }
        }
    }
    // footer bottom
    .footerbottom{
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        position: relative;
        // social icons
        .social-icons{
            width: auto;
            height: auto;
            position: absolute;
            right: 8px;
            .icons{
                display: flex;
                i{
                    transition: .3s ease-in-out;
                    border-radius: 4px;
                    font-size: 22px;
                    padding: 10px;
                    color: #183B56;
                    opacity: 0.8;
                    margin-inline: 3px;
                    cursor: pointer;
                    &:hover{
                        color: #0082ec;
                    }
                }
            }
        }
        // copyright
        .copyright{
            width: auto;
            position: absolute;
            left: 20px;
            p{
                padding: auto;
                margin: auto;
                color: #183B56;
                font-size: 13px;
                opacity: 0.8;
            }
        }
    }
    // newsletter
    #newsletter{
        margin-bottom: 15px;
        width: 100%;
        height: auto;
        border-radius: 4px;
        padding: 32px 30px;
        background-color: white;
        text-align: center;
        h1{
            transform: translateY(-10px);
            color: #183B56;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px;    
            font-size: 26.5px;
            font-weight: 800;
        }
        .content{
             // input
            input{
                border-radius: 0;
                padding: 5px;
                border: none;
                border-bottom: 2px solid rgba(211, 211, 211, 0.611);
                outline: none;
                color: #183B56;
                font-size: 13px;
                width: 82%;
                max-width: 500px;
                font-weight: 600;
                height: 45px;
                cursor: pointer;
                &:hover{
                    filter: brightness(95%);
                }
            }
            // button
            button{
                border: none;
                outline: none;
                background: transparent;
                i{
                    transform: translateX(-20px) translateY(2px);
                    z-index: 1000;
                    font-size: 22px;
                    color: #183B56;
                    cursor: pointer;
                    transition: .2s;
                    &:hover{
                        filter: brightness(95%);
                    }
                    &:focus{
                        cursor: unset;
                        filter: brightness(100%);
                    }
                }
            }
        }
        #footerNewsLetterAlert{
            margin-top: 15px;
        }
    }
}
// NORMAL DESKTOP
@media only screen and (min-device-width:1145px) { 
    #footer{
        width: 100%;
        height: 100%;
        padding-block: 12px;
        background: white;
        border-top: 1px solid rgba(0,0,0,.1);        
        .footer-links{
            width: 100%;
            padding-inline: 20px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            a{
                border-right: 1px solid lightgrey;
                color: #183B56;
                font-size: 16px;
                opacity: 0.8;
                cursor: pointer;
                &:nth-child(3){
                    border-right: none;
                }
                &:hover{
                    text-decoration: underline;
                }
                i{
                    transform: translateY(2px) translateX(10px);
                }
            }
        }
        // footer bottom
        .footerbottom{
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            position: relative;
            padding-block: 20px;
            // social icons
            .social-icons{
                width: auto;
                height: auto;
                position: absolute;
                right: 64px;
                .icons{
                    display: flex;
                    i{
                        transition: .3s ease-in-out;
                        border-radius: 4px;
                        font-size: 22px;
                        padding: 10px;
                        color: #183B56;
                        opacity: 0.8;
                        margin-inline: 3px;
                        cursor: pointer;
                        &:hover{
                            color: #0082ec;
                        }
                    }
                }
            }
            // copyright
            .copyright{
                width: auto;
                position: absolute;
                left: 75px;
                p{
                    padding: auto;
                    margin: auto;
                    color: #183B56;
                    font-size: 13px;
                    opacity: 0.8;
                }
            }
        }
        // newsletter
        #newsletter{
            margin-bottom: 15px;
            width: 100%;
            height: auto;
            border-radius: 4px;
            padding: 32px 30px;
            background-color: white;
            text-align: center;
            h1{
                transform: translateY(-10px);
                color: #183B56;
                text-shadow: 1px 0 #183B56;
                letter-spacing:1px;    
                font-size: 26.5px;
                font-weight: 800;
            }
            .content{
                 // input
                input{
                    border-radius: 0;
                    padding: 5px;
                    border: none;
                    border-bottom: 2px solid rgba(211, 211, 211, 0.611);
                    outline: none;
                    color: #183B56;
                    font-size: 13px;
                    width: 82%;
                    max-width: 500px;
                    font-weight: 600;
                    height: 45px;
                    cursor: pointer;
                    &:hover{
                        filter: brightness(95%);
                    }
                }
                // button
                button{
                    border: none;
                    outline: none;
                    background: transparent;
                    i{
                        transform: translateX(-20px) translateY(2px);
                        z-index: 1000;
                        font-size: 22px;
                        color: #183B56;
                        cursor: pointer;
                        transition: .2s;
                        &:hover{
                            filter: brightness(95%);
                        }
                        &:focus{
                            cursor: unset;
                            filter: brightness(100%);
                        }
                    }
                }
            }
            #footerNewsLetterAlert{
                margin-top: 15px;
            }
        }
    }
}