$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;

// STANDARD PHONE
#desNav{
    display: none;
  }
#mobileNav{
    // NAVBAR CSS
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    position: fixed;
    top: 0;
    z-index: 10000000000000000000;
    transition: .0s;
    background: transparent;
    &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: -60px;
        background: white;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .3s;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    // NAVBAR STICKY
    &.sticky{
        transition: 0s;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
        }
        .nav-hamburger-img{
            opacity: 0;
        }
        .logo{
            h1{
                color: $txt;
                span{
                    border-color: $primBtn;
                }
            }
          .logo1{
            display: none;
          }
          .logo2{
            display: block;
          }
        }
        .hamburger{
            span{
              background: #183b56;
            }
        }
    }
    // NAVBAR MENU
    &.menu{
      background: #ffffff;
      border-bottom: 1px solid rgba(160,160,160,0.1);
      .logo{
        h1{
            color: $txt;
            span{
                border-color: $primBtn;
            }
        }
        .logo1{
            display: none;
          }
          .logo2{
            display: block;
          }
    }
    .hamburger{
        span{
          background: #183b56;
        }
    }
    }
    // right img
    .nav-hamburger-img{
        position: absolute;
        right: 0;
        top: -20px;
        opacity: 0.4;
        z-index: 1000;
        transition: .2s;
    }
    // LOGO CSS 
    .logo{
        transition: .8s;
        cursor: pointer;
        transform: translateY(4px);
        width: auto;
        height: auto;
        z-index: 1000;
        h1{
            color: $white;
            font-size: 16px;
            span{
                font-size: 12px;
                border-bottom: 1px solid $white;
                padding-bottom: 3px;
            }
        }
    //   img{
    //     width: 105px;
    //     height: auto;
    //     transition: .3s;
    //     &:hover{
    //         transform: scale(1.05);
    //     }
    //   }
      .logo2{
        display: none;
      }
    }
    // // // MENU CSS
    // HAMBURGER CSS
    .hamburger{
        padding: 10px;
        margin: 0;
        width: auto;
        height: auto;
        z-index: 1000;
        text-align: center;
        transform: translateY(2px) translateX(7px);
        span{
            height: 2px;
            width: 26px;
            background: $white;
            border-radius: 3px;
            display: block;
            transition: .2s;
            margin: 6px auto;
            transform-origin: 23%; 
            opacity: 0.83;
        }
        .upper-span{
        }
        .center-span{
            width: 18px;
        }
        .lower-span{
        }
        &.click{
            .upper-span{
                transform: rotate(45deg);
            }
            .center-span{
              display: none;
            }
            .lower-span{
                transform: rotate(-45deg);
            }
        }
    }
    // SIDEBAR
    .sidebar{
        background: white;
        height: 100vh;
        position: absolute;
        top: 68px;
        right: -250px;
        width: 100%;
        z-index: 120;
        opacity: 0;
        pointer-events: none;
        display: unset;
        transition: .2s;
        overflow-y: scroll;
        padding: 10px 25px;
        &.active{
            top: 68px;
            right: 0;
            opacity: 1;
            pointer-events: visible;
            transition: .5s;
        }
        a{
            display: block;
            color: $txt;
            font-size: 16px;
            opacity: 0.95;
            padding: 12px 0;
            width: max-content;
            &.nav_order_btn{
                padding: 8px 24px;
                background: $primBtn;
                border-radius: 4px;
                color: $white;
                margin-top: 14px;
            }
            &.mailto{
                padding: 0;
                margin: 0;
                border-bottom: 1px solid rgba(50, 50, 50, 0.4);
                padding-bottom: 1px;
                text-decoration: none;
                font-size: 15px;
                cursor: pointer;
                &:hover{
                    border-bottom: 1px solid transparent;
                }
            }
        }
        .sidebar-divider{
            color: $txt;
            font-size: 17px;
            opacity: 0.7;
            margin-bottom: 6px;
        }
        i{
            color: $txt;
            font-size: 22px;
            padding: 8px 7px;
            margin: 3px 1px;
            opacity: 0.9;
            margin-bottom: 0;
            padding-bottom: 0;
            &.fa-instagram{
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
    .nav-search{
        position: absolute;
        top: 60px;
        width: calc(100% - 50px);
        display: none;
        i{
          position: absolute;
          font-size: 14px;
          color: #183b56a9;
          right: 25px;
          top: 13px;
          padding: 5px;
          margin: -5px;
          background: rgba(155, 155, 155, 0.22);
          border-radius: 100%;
        }
        input{
          width: 100%;
          height: 40px;
          border: none;
          outline: none;
          padding: 7px;
          background: $white;
          color: $txt;
          border-radius: 4px;
          font-size: 15px;
          &::placeholder{
            color: $txt;
            opacity: 0.8;
          }
        }
        button{
          font-size: 14.5px;
          background: $primBtn;
          color: $white;
          text-align: center;
          width: 100%;
          height: 45px;
          margin-top: 15px;
          border-radius: 4px;
          outline: none;
          border: none;
          font-weight: normal;
        }
      }
}

// // SMALL DESKTOP
@media only screen and (min-device-width: 1140px) {
    // DESKTOP NAVBAR START
    #mobileNav{
        display: none;
    }
    #desNav{
        width: 100%;
        height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        z-index: 10000000000000000000;
        transition: 0s;
        background: transparent;
        padding-inline: 0;
        padding-block: 10px;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -60px;
            background: #ffffffec;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: .5s;
        }
        &.sticky{
            position: fixed;
            top: 0;
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                background: #ffffffec;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: .5s;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
            }
        }
        .desktop-nav-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1150px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);  
            // LOGO
            .logo{
                transition: .3s;
                cursor: pointer;
                img{
                    height: auto;
                    width: 117px;
                    &.logo1{
                        display: none;
                    }
                    &.logo2{
                        display: block;
                    }
                }
                &:hover{
                    transform: scale(1.05);
                }
            }
            .menu{
                padding-inline: 10px;
                width: max-content;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .order{
                    margin-right: 0;
                    text-decoration: none;
                    transform: translateX(10px);
                    a{
                        cursor: pointer;
                        text-decoration: none;
                        font-size: 16px;
                        border-radius: 4px;
                        background: #0088F9;
                        color: #F9F6EE;
                        padding: 12px 14px;
                        &:hover{
                            background: #249cff;
                        }
                    }
                }
                .menu-main-links{
                    color: #183b56;
                    font-size: 17px;
                    padding-inline: 7px;
                    margin-inline: 16px;
                    text-decoration: none;
                    transition: .2s;
                    cursor: default;
                    padding-block: 23px;
                    opacity: 0.9;
                    &.no-drop{
                        padding-bottom: 10px;
                        margin-bottom: 13px;
                        border-bottom: 2px solid transparent;
                        &:hover{
                            border-bottom: 2px solid #183b56;
                        }
                    }
                }
                .drop-link{
                    list-style: none;
                    cursor: pointer;
                    // background: #d5edff9a;
                    width: 100%;
                    padding: 14px;
                    text-align: center !important;
                    a{
                        text-decoration: none;
                        color: #183b56;
                        font-size: 16px;
                        padding-top: 14px;
                        padding-bottom: 15px;
                        text-align: center !important;
                        &:hover{
                            text-decoration: underline;
                        }
                        &.last{
                            border: none;
                        }
    
                    }
                }
                .des-menu-account{
                    position: relative;
                    width: auto;
                    &:hover{
                        #accountDrop{
                            opacity: 1;
                            pointer-events: visible;
                        }
                    }
                    #accountDrop{
                        background: #ffffffec;
                        width: max-content;
                        height: auto;
                        position: absolute;
                        top: 47px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        border: 2px solid rgb(228, 228, 228);
                        border-top: none;
                        transition: .3s;
                        opacity: 0;
                        pointer-events: none;
                        text-align: center;
                        border-radius: 20px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        text-align: center !important;
                    }
                }
                .des-menu-prices{
                    position: relative;
                    width: auto;
                    &:hover{
                        #pricesDrop{
                            opacity: 1;
                            pointer-events: visible;
                        }
                    }
                    #pricesDrop{
                        background: #ffffffec;
                        width: max-content;
                        height: auto;
                        position: absolute;
                        top: 47px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        border: 2px solid rgb(228, 228, 228);
                        border-top: none;
                        transition: .3s;
                        opacity: 0;
                        pointer-events: none;
                        text-align: center;
                        border-radius: 20px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        text-align: center !important;
                    }
                }
                .des-menu-about{
                    position: relative;
                    width: auto;
                    &:hover{
                        #aboutDrop{
                            opacity: 1;
                            pointer-events: visible;
                        }
                    }
                    #aboutDrop{
                        background: #ffffffec;
                        width: max-content;
                        height: auto;
                        position: absolute;
                        top: 47px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        border: 2px solid rgb(228, 228, 228);
                        border-top: none;
                        transition: .3s;
                        opacity: 0;
                        pointer-events: none;
                        text-align: center;
                        border-radius: 20px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        text-align: center !important;
                    }
                }
                .des-menu-help{
                    position: relative;
                    width: auto;
                    &:hover{
                        #helpDrop{
                            opacity: 1;
                            pointer-events: visible;
                        }
                    }
                    #helpDrop{
                        background: #ffffffec;
                        width: max-content;
                        height: auto;
                        position: absolute;
                        top: 47px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        border: 2px solid rgb(228, 228, 228);
                        border-top: none;
                        transition: .3s;
                        opacity: 0;
                        pointer-events: none;
                        text-align: center;
                        border-radius: 20px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        text-align: center !important;
                    }
                }
            }
        }
    }
}