// STANDARD PHONE
#desNav{
    display: none;
  }
#mobileNav{
    // NAVBAR CSS
    background: transparent;
    z-index: 100;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
    background: white;
    // NAVBAR STICKY
    &.sticky{
        background: #ffffffec;
    }
    // NAVBAR MENU
    &.menu{
        background: white;
    }
    // LOGO CSS 
    .logo{
        transition: .8s;
        cursor: pointer;
        position: absolute;
        left: 65px;
        transform: translateY(1px);
        width: auto;
        height: auto;
        z-index: 1000;
        img{
            height: auto;
            width: 120px;
        }
    }
    // // // MENU CSS
    // HAMBURGER CSS
    .hamburger{
        padding: 10px;
        margin: 0;
        width: auto;
        height: auto;
        position: absolute;
        left: 15px;
        z-index: 1000;
        text-align: center;
        span{
            height: 3px;
            width: 24px;
            background: #183b56;
            border: 2px solid #183b56;
            border-radius: 3px;
            display: block;
            transition: .2s;
            margin: 4px;
            transform: translateX(-9px) rotate(0deg);
            text-align: center;
            transform-origin: center center;  
        }
        .upper-span{
        }
        .center-span{
        }
        .lower-span{
        }
        &.click{
            .upper-span{
                transform: rotate(45deg) translateY(11.3px);
            }
            .center-span{
                opacity: 0;
                width: 0px;
            }
            .lower-span{
                transform: rotate(-45deg) translateY(-11px);
            }
        }
    }
    // SIDEBAR
    .sidebar{
        background: white;
        height: 100vh;
        position: absolute;
        top: 60px;
        right: 0px;
        width: 100%;
        z-index: 120;
        opacity: 0;
        pointer-events: none;
        display: unset;
        overflow-y: scroll;

        .sidebar-bottom-img{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            img{
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(-48px);
                bottom: 0;
                width: 100px;
                height: auto;
            }
        }
        .sidebar-ul{
            position: relative;
            width: 100%;
            text-align: left;
            transform: translateY(35px);
            height: 110vh;
            .sidebar-li{
                list-style: none;
                width: 100%;
                .sidebar-myaccount{
                    width: 100%;
                    height: max-content;
                    z-index: 100;
                    display: flex;
                    opacity: 1;
                    transition: .4s;
                    position: relative;
                    .user-is-login{
                        z-index: 10;
                        display: flex;
                        width: 100%;
                        .part1{
                            width: 50%;
                            display: flex;
                            border-right: 1px solid lightgray;
                            p{
                                color: #082133;
                                display: inline-block;
                                text-decoration: none;
                                font-weight: 800;
                                font-size: 14.5px;
                                transform:  translateX(53px);
                                position: absolute;
                                padding: 19px 0;
                                span{
                                    font-weight: normal;
                                }
                            }
                            i{
                                font-size: 22px;
                                align-self: center;
                                transform: translateY(0) translateX(25px);
                            }
                        }
                        .part2{
                            width: 50%;
                            a{
                                width: auto;
                                font-size: 14px;
                                font-weight: normal;
                                text-decoration: underline;
                                &:active{
                                    background: none;
                                }
                            }
                        }
                    }
                    .user-is-not-login{
                        z-index: 10;
                        display: flex;
                        width: 100%;
                        .part1{
                            width: 50%;
                            display: flex;
                            border-right: 1px solid lightgray;
                            p{
                                color: #082133;
                                display: inline-block;
                                text-decoration: none;
                                font-weight: 800;
                                font-size: 14.6px;
                                transform:  translateX(60px);
                                position: absolute;
                                padding: 19px 0;
                            }
                            i{
                                font-size: 22px;
                                align-self: center;
                                transform: translateY(0) translateX(25px);
                            }
                        }
                        .part2{
                            width: 50%;
                            a{
                                width: auto;
                                font-size: 14px;
                                font-weight: normal;
                                text-decoration: underline;
                                &:active{
                                    background: none;
                                }
                            }
                        }
                    }
                }
                a{
                    color: #082133;
                    display: inline-block;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    font-weight: 800;
                    font-size: 14.6px;
                    padding: 19px 0;
                    padding-left: 25px;
                    cursor: pointer;
                    &:active{
                        background: #d5edff9a;
                    }
                    &::after{
                        content: '';
                        display: block;
                        height: 1px;
                        width: 100%;
                        background: rgba(0, 0, 0, 0.17);
                        transform: translateY(19px) translateX(0);
                        position: absolute;
                        left: 0;
                    }
                    i{
                        transform: translateX(-50px) translateY(5px);
                        font-size: 16px;
                        transition: .2s !important;
                        float: right;
                    }
                }
                .prices-dropdown{
                    .prices-dropdown-links{
                        width: 100%;
                        display: none;
                        &.active{
                            display: block;
                        }
                        .nav-link-parent{
                            width: 100%;
                            height: 100%;
                            background: #f1f9ff9a;
                        }
                        a{
                            padding-left: 45px;
                            &::after{
                                transform: translateY(19px) translateX(0);
                            }
                        }
                        .extras{
                            display: none;
                            &.active{
                                display: block;
                            }
                            .nav-link-parent{
                                a{
                                    padding-left: 70px;
                                }
                            }
                        }
                    }
                    #pricesToggle{
                        &.click{
                            color: #0088F9;
                            i{
                                transform: rotateX(180deg) translateX(-50px) translateY(-11px);
                                transform-origin: center center;                            
                            }
                        }
                    }
                    #pricesToggleExtra{
                        &.click{
                            color: #0088F9;
                            i{
                                transform: rotateX(180deg) translateX(-50px) translateY(-11px);
                                transform-origin: center center;                            
                            }
                        }
                    }
                }
                .about-dropdown{
                    .about-dropdown-links{
                        width: 100%;
                        display: none;
                        &.active{
                            display: block;
                        }
                        .nav-link-parent{
                            width: 100%;
                            height: 100%;
                            background: #f1f9ff9a;
                        }
                        a{
                            padding-left: 45px;
                            &::after{
                                transform: translateY(19px) translateX(0);
                            }
                        }
                    }
                    #aboutToggle{
                        &.click{
                            color: #0088F9;
                            i{
                                transform: rotateX(180deg) translateX(-50px) translateY(-11px);
                                transform-origin: center center;                            
                            }
                        }
                    }
                }
                .help-dropdown{
                    .help-dropdown-links{
                        width: 100%;
                        display: none;
                        &.active{
                            display: block;
                        }
                        .nav-link-parent{
                            width: 100%;
                            height: 100%;
                            background: #f1f9ff9a;
                        }
                        a{
                            padding-left: 45px;
                            &::after{
                                transform: translateY(19px) translateX(0);
                            }
                        }
                    }
                    #helpToggle{
                        &.click{
                            color: #0088F9;
                            i{
                                transform: rotateX(180deg) translateX(-50px) translateY(-11px);
                                transform-origin: center center;                            
                            }
                        }
                    }
                }
                .account-dropdown{
                    .account-dropdown-links{
                        width: 100%;
                        display: none;
                        &.active{
                            display: block;
                        }
                        .nav-link-parent{
                            width: 100%;
                            height: 100%;
                            background: #f1f9ff9a;
                        }
                        a{
                            padding-left: 45px;
                            &::after{
                                transform: translateY(19px) translateX(0);
                            }
                        }
                    }
                }
            }
        }
        &.active{
            opacity: 1;
            pointer-events: visible;
            transition: .4s;
        }
    }    
    // ORDER CSS
    .order{
        margin: 0;
        position: absolute;
        right: 16px;
        cursor: pointer;
        padding: 13px 9px;
        width: 75px;
        text-align: center;
        border-radius: 15px;
        transition: .2s;
        font-size: 13px;
        text-decoration: none;
        background: #0088F9;
        color: white;
        letter-spacing: .3px;
        border-radius: .4em;
        &:hover{
            filter: brightness(85%);
        }
        &:focus{
            filter: brightness(85%);
        }
        &:active{
            filter: brightness(85%);
        }
      }
}

// // SMALL DESKTOP
@media only screen and (min-device-width: 1140px) {
    // DESKTOP NAVBAR START
    #mobileNav{
        display: none;
    }
    #desNav{
        display: unset;
        background: transparent;
        z-index: 100;
        width: 100%;
        max-width: 1150px;
        height: 65px;
        position: fixed;
        top: 0px;
        transition: .2s ease-in-out;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
        background: #ffffffec;
        .desktop-nav-content{
            position: relative;
            width: 87%;
            height: 100%;
            display: flex;
            align-items: center;
            left: 50%;
            transform: translateX(-50%);    
            // LOGO
            .logo{
                margin-right: auto;
                transition: .8s;
                transform: translateY(2px);
                cursor: pointer;
                img{
                    height: auto;
                    width: 120px;
                }
            }
            .menu{
                width: max-content;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .menu-main-links{
                    color: #183b56;
                    font-size: 16px;
                    padding-inline: 23px;
                    padding-block: 26px;
                    cursor: default;
                    transition: .1s;
                    &:hover{
                        color: #0088F9;
                    }
                    &.order{
                        margin-right: 0;
                        cursor: pointer;
                        background: #0088F9;
                        color: white;
                        border-radius: .5em;
                        padding-block: 18px;
                        text-decoration: none;
                        &:hover{
                            filter: brightness(80%);
                        }
                    }
                    i{
                        transform: translateX(8px) translateY(-1px);
                    }
                }
                .drop-link{
                    list-style: none;
                    cursor: pointer;
                    // background: #d5edff9a;
                    width: max-content;
                    padding: 14px;
                    a{
                        margin: 0;
                        text-decoration: none;
                        color: #183b56;
                        font-size: 16px;
                        border-bottom: 1px solid lightgray;
                        padding-top: 14px;
                        padding-bottom: 15px;
                        &:hover{
                            color: #0088F9;
                        }
                        &.last{
                            border: none;
                        }

                    }
                }
                // prices dropdown
                .des-menu-prices{
                    position: relative;
                    width: auto;
                    &:hover{
                        #pricesDrop{
                            opacity: 1;
                            pointer-events: visible;
                        }
                    }
                    #pricesDrop{
                        width: max-content;
                        height: auto;
                        position: absolute;
                        top: 45px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        border: 2px solid rgb(228, 228, 228);
                        border-top: none;
                        transition: .3s;
                        opacity: 0;
                        pointer-events: none;
                    }
                }
                // about dropdown
                .des-menu-about{
                    position: relative;
                    width: auto;
                    &:hover{
                        #aboutDrop{
                            opacity: 1;
                            pointer-events: visible;
                        }
                    }
                    #aboutDrop{
                        width: max-content;
                        height: auto;
                        position: absolute;
                        top: 45px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        border: 2px solid rgb(228, 228, 228);
                        border-top: none;
                        transition: .3s;
                        opacity: 0;
                        pointer-events: none;
                    }
                }
                // account dropdown
                .des-menu-account{
                    position: relative;
                    width: auto;
                    &:hover{
                        #accountDrop{
                            opacity: 1;
                            pointer-events: visible;
                        }
                    }
                    #accountDrop{
                        width: max-content;
                        height: auto;
                        position: absolute;
                        top: 45px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        border: 2px solid rgb(228, 228, 228);
                        border-top: none;
                        transition: .3s;
                        opacity: 0;
                        pointer-events: none;
                    }
                }
                // help dropdown
                .des-menu-help{
                    position: relative;
                    width: auto;
                    &:hover{
                        #helpDrop{
                            opacity: 1;
                            pointer-events: visible;
                        }
                    }
                    #helpDrop{
                        width: max-content;
                        height: auto;
                        position: absolute;
                        top: 45px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        border: 2px solid rgb(228, 228, 228);
                        border-top: none;
                        transition: .3s;
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}