@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
#desNav {
  display: none;
}

#mobileNav {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  position: fixed;
  top: 0;
  z-index: 10000000000000000000;
  transition: 0s;
  background: transparent;
}
#mobileNav::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -60px;
  background: rgb(246, 246, 246);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#mobileNav.sticky {
  transition: 0s;
}
#mobileNav.sticky::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
#mobileNav.sticky .nav-hamburger-img {
  opacity: 0;
}
#mobileNav.sticky .logo h1 {
  color: #1F1F1F;
}
#mobileNav.sticky .logo h1 span {
  border-bottom: 1px solid #06c484;
}
#mobileNav.sticky .hamburger span {
  background: #183b56;
}
#mobileNav.menu {
  background: rgb(246, 246, 246);
}
#mobileNav.menu .logo h1 {
  color: #1F1F1F;
}
#mobileNav.menu .logo h1 span {
  border-bottom: 1px solid #06c484;
}
#mobileNav.menu .hamburger span {
  background: #183b56;
}
#mobileNav .nav-hamburger-img {
  position: absolute;
  right: 0;
  top: -20px;
  opacity: 0.4;
  z-index: 1000;
  transition: 0.2s;
}
#mobileNav .logo {
  transition: 0.8s;
  cursor: pointer;
  transform: translateY(1.5px);
  width: auto;
  height: auto;
  z-index: 1000;
}
#mobileNav .logo h1 {
  font-size: 22px;
  color: rgb(246, 246, 246);
  font-family: "Gamja Flower", cursive;
}
#mobileNav .logo h1 span {
  border-bottom: 1px solid rgb(246, 246, 246);
  margin-left: 4px;
  padding-bottom: 3px;
  font-size: 15px;
  font-family: "Gamja Flower", cursive;
}
#mobileNav .hamburger {
  padding: 10px;
  margin: 0;
  width: auto;
  height: auto;
  z-index: 1000;
  text-align: center;
  transform: translateY(2px);
}
#mobileNav .hamburger span {
  height: 2px;
  width: 26px;
  background: rgb(246, 246, 246);
  border-radius: 3px;
  display: block;
  transition: 0.2s;
  margin: 7px auto;
  transform-origin: 23%;
  opacity: 0.9;
}
#mobileNav .hamburger .center-span {
  width: 18px;
}
#mobileNav .hamburger.click .upper-span {
  transform: rotate(45deg);
}
#mobileNav .hamburger.click .center-span {
  display: none;
}
#mobileNav .hamburger.click .lower-span {
  transform: rotate(-45deg);
}
#mobileNav .sidebar {
  background: rgb(246, 246, 246);
  height: 100vh;
  position: absolute;
  top: 68px;
  right: -250px;
  width: 100%;
  z-index: 120;
  opacity: 0;
  pointer-events: none;
  display: unset;
  transition: 0.2s;
  overflow-y: scroll;
  padding: 10px 25px;
}
#mobileNav .sidebar.active {
  top: 68px;
  right: 0;
  opacity: 1;
  pointer-events: visible;
  transition: 0.5s;
}
#mobileNav .sidebar a {
  display: block;
  color: #183b56;
  font-size: 17px;
  opacity: 0.95;
  padding: 13px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#mobileNav .sidebar a.nav_order_btn {
  padding: 8px 17px;
  background: #06c484;
  border-radius: 4px;
  color: rgb(246, 246, 246);
  margin-top: 14px;
}
#mobileNav .sidebar a.mailto {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(32, 32, 32, 0.438);
  padding-bottom: 1px;
}
#mobileNav .sidebar .sidebar-divider {
  color: #183b56;
  font-size: 17px;
  opacity: 0.7;
  margin-bottom: 6px;
}
#mobileNav .sidebar i {
  color: #183b56;
  font-size: 26px;
  padding: 8px;
  margin: 4px;
  opacity: 0.9;
  margin-bottom: 0;
  padding-bottom: 0;
}
#mobileNav .sidebar i.fa-facebook {
  margin-left: 0;
  padding-left: 0;
}

@media only screen and (min-device-width: 1140px) {
  #mobileNav {
    display: none;
  }
  #desNav {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 10000000000000000000;
    transition: 0s;
    background: transparent;
    padding-inline: 0;
    padding-block: 10px;
  }
  #desNav::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -60px;
    background: rgba(255, 255, 255, 0.9254901961);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
  }
  #desNav.sticky {
    position: fixed;
    top: 0;
  }
  #desNav.sticky::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.9254901961);
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  #desNav .desktop-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #desNav .desktop-nav-content .logo {
    transition: 0.3s;
    cursor: pointer;
  }
  #desNav .desktop-nav-content .logo img {
    height: auto;
    width: 117px;
  }
  #desNav .desktop-nav-content .logo img.logo1 {
    display: none;
  }
  #desNav .desktop-nav-content .logo img.logo2 {
    display: block;
  }
  #desNav .desktop-nav-content .logo:hover {
    transform: scale(1.05);
  }
  #desNav .desktop-nav-content .menu {
    padding-inline: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #desNav .desktop-nav-content .menu .order {
    margin-right: 0;
    text-decoration: none;
    transform: translateX(10px);
  }
  #desNav .desktop-nav-content .menu .order a {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    background: #0088F9;
    color: #F9F6EE;
    padding: 12px 14px;
  }
  #desNav .desktop-nav-content .menu .order a:hover {
    background: #249cff;
  }
  #desNav .desktop-nav-content .menu .menu-main-links {
    color: #183b56;
    font-size: 17px;
    padding-inline: 7px;
    margin-inline: 16px;
    text-decoration: none;
    transition: 0.2s;
    cursor: default;
    padding-block: 23px;
    opacity: 0.9;
  }
  #desNav .desktop-nav-content .menu .menu-main-links.no-drop {
    padding-bottom: 10px;
    margin-bottom: 13px;
    border-bottom: 2px solid transparent;
  }
  #desNav .desktop-nav-content .menu .menu-main-links.no-drop:hover {
    border-bottom: 2px solid #183b56;
  }
  #desNav .desktop-nav-content .menu .drop-link {
    list-style: none;
    cursor: pointer;
    width: 100%;
    padding: 14px;
    text-align: center !important;
  }
  #desNav .desktop-nav-content .menu .drop-link a {
    text-decoration: none;
    color: #183b56;
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 15px;
    text-align: center !important;
  }
  #desNav .desktop-nav-content .menu .drop-link a:hover {
    text-decoration: underline;
  }
  #desNav .desktop-nav-content .menu .drop-link a.last {
    border: none;
  }
  #desNav .desktop-nav-content .menu .des-menu-account {
    position: relative;
    width: auto;
  }
  #desNav .desktop-nav-content .menu .des-menu-account:hover #accountDrop {
    opacity: 1;
    pointer-events: visible;
  }
  #desNav .desktop-nav-content .menu .des-menu-account #accountDrop {
    background: rgba(255, 255, 255, 0.9254901961);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid rgb(228, 228, 228);
    border-top: none;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center !important;
  }
  #desNav .desktop-nav-content .menu .des-menu-prices {
    position: relative;
    width: auto;
  }
  #desNav .desktop-nav-content .menu .des-menu-prices:hover #pricesDrop {
    opacity: 1;
    pointer-events: visible;
  }
  #desNav .desktop-nav-content .menu .des-menu-prices #pricesDrop {
    background: rgba(255, 255, 255, 0.9254901961);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid rgb(228, 228, 228);
    border-top: none;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center !important;
  }
  #desNav .desktop-nav-content .menu .des-menu-about {
    position: relative;
    width: auto;
  }
  #desNav .desktop-nav-content .menu .des-menu-about:hover #aboutDrop {
    opacity: 1;
    pointer-events: visible;
  }
  #desNav .desktop-nav-content .menu .des-menu-about #aboutDrop {
    background: rgba(255, 255, 255, 0.9254901961);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid rgb(228, 228, 228);
    border-top: none;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center !important;
  }
  #desNav .desktop-nav-content .menu .des-menu-help {
    position: relative;
    width: auto;
  }
  #desNav .desktop-nav-content .menu .des-menu-help:hover #helpDrop {
    opacity: 1;
    pointer-events: visible;
  }
  #desNav .desktop-nav-content .menu .des-menu-help #helpDrop {
    background: rgba(255, 255, 255, 0.9254901961);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid rgb(228, 228, 228);
    border-top: none;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center !important;
  }
}/*# sourceMappingURL=nav.css.map */