$primaryColor: #2d9cb3;

// STANDARD PHONE
#navbar{
    background: white;
    z-index: 100000;
    width: 100%;
    height: 60px;
    padding-bottom: 5px;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    transition: .3s;
    border-bottom: 1px solid rgba(200, 200, 200, 0.7);
    &.account-active{
        top: -60px;
    }
    &.sticky{
        background: white;
        box-shadow: 0px 3px 5px rgb(20, 44, 120);
        border-color: transparent;
        .hamburger{
            span{
                background: black;
            }
        }
        .my-account-icon{
            i{
                color: black;
            }
        }
    }
    &.menu-active{
        background: white;
        .hamburger{
            span{
                background: black;
            }
        }
        .my-account-icon{
            i{
                color: black;
            }
        }
    }
    .desktop-menu{
        display: none;
    }
    .logo{
        cursor: pointer;
        margin: 0;
        position: absolute;
        left: 20px;
        top: 8px;
        width: auto;
        height: 100%;
        h1{
            font-family: 'Indie Flower', cursive;
            color: rgb(60, 84, 160);
            font-size: 32px;
            height: 100%;
            width: max-content;
            height: max-content;
            transition: all 0.2s ease-in-out;
        }
    }
    .hamburger{
        margin: 0;
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: absolute;
        right: 15px;
        height: auto;
        transform: rotate(180deg);
        border-radius: .5em;
        span{
            display: block;
            width: 20px;
            height: 2px;
            background: black;
            transition: all 0.2s ease-in-out;
        }
        .upper-span{
            margin-bottom: 6px;
        }
        .center-span{
            transition: all 0.4 ease-in-out;
            opacity: 1;
            transform: translateX(-8px);
        }
        .lower-span{
            margin-top: 6px;
        }
        &.click{
            border: 1px solid rgb(72, 90, 185);
            .upper-span{
                margin-bottom: -3.5px;
                transform: rotate(45deg);
                width: 20px;
            }
            .center-span{
                transform: translateX(-20px);
                opacity: 0;
            }
            .lower-span{
                margin-top: 0;
                transform: rotate(-45deg);
                width: 20px;
            }
        }
    }
    .sidebar{
        pointer-events: none;
        z-index: 10;
        background: rgb(255, 255, 255);
        width: 65%;
        height: 100vh;
        position: fixed;
        top: 60px;
        right: -65%;
        transition:  .7s ease-in-out;
        img{
            position: absolute;
            right: 0;
            bottom: 15px;
            width: auto;
            height: auto;
        }
        .sidebar-ul{
            position: relative;
            width: 100%;
            text-align: center;
            .sidebar-li{
                list-style: none;
                a{
                    border: 2px solid transparent;
                    color: rgb(72, 90, 185);
                    display: inline-block;
                    text-decoration: none;
                    width: 60%;
                    font-size: 18px;
                    margin: 25px auto;
                    padding: 5px;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                }
                :nth-child(5){
                    border: 2px solid transparent;
                    background: linear-gradient(135deg,rgb(60, 84, 160), #7996f8);    
                    border-radius: 4px;
                    color: white;
                    box-shadow: 0px 5px 2px rgb(60, 84, 160);
                }
                &.active{
                    :nth-child(1){
                        opacity: 1;
                        transition: all 1s ease-in-out 0.2s;
                    }
                    :nth-child(2){
                        opacity: 1;
                        transition: all 1s ease-in-out 0.4s;
                    }
                    :nth-child(3){
                        opacity: 1;
                        transition: all 1s ease-in-out 0.6s;
                    }
                    :nth-child(4){
                        opacity: 1;
                        transition: all 1s ease-in-out 0.8s;
                    }
                    :nth-child(5){
                        opacity: 1;
                        transition: all 1s ease-in-out 1s;
                    }
                }
            }
        }
        &.active{
            pointer-events: visible;
            right: 0;
        }
    }
    .my-account-icon{
        margin: 0;
        position: absolute;
        right: 60px;
        cursor: pointer;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: .5em;
        pointer-events: visible;
        border: 1px solid transparent;
        i{
            color: black;
            font-size: 22px;
            transition: all 0.2s ease-in-out;
        }
        &.active{
            border-color: rgb(72, 90, 185);    
            pointer-events: none;      
        }
    }
    .login-signup{
        width: 97%;
        height: auto;
        text-align: center;
        position: fixed;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease-in-out;
        &.active{
            bottom: 15px;
            opacity: 1;
            pointer-events: visible;
        }
        .part-one{
            border-radius: 10px;
            background: rgb(235, 235, 235);
            width: 100%;
            #logOut{
                color: rgb(248, 18, 18);
            }
            a{
                color: rgb(15, 15, 15);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 100%;
                border-bottom: 1px solid rgb(225, 225, 225);
                font-size: 18px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                &:active{
                    background: rgb(215, 215, 215);
                }
                &:nth-child(2){
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border: none;
                }
            }
        }
        .part-two{
            border-radius: 10px;
            background: white;
            margin: 7px 0;
            a{
                border-radius: 10px;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 100%;
                font-weight: bolder;
                &:active{
                    background: rgb(215, 215, 215);
                }
            }
        }
        .my-account{
            width: 100%;
            display: none;
            a{
                margin: 15px;
                margin-left: 0;
                margin-right: 0;
            }
            .my-orders{
                outline: none;
                background: linear-gradient(135deg,rgb(60, 84, 160), #7996f8);    
                box-shadow: 1.5px 3px 2px rgb(60, 84, 160);
                border: 2px solid transparent;  
                color: white;    
                }
            .my-account-back{
                color: rgb(72, 90, 185);
                background: transparent;
                border-color: transparent;
                box-shadow: none;
            }
            &.active{
                display: block;
            }
        }
    }
    .order{
        margin: 0;
        position: absolute;
        right: 105px;
        cursor: pointer;
        color: white;
        padding: 5px 8px;
        width: max-content;
        text-align: center;
        border-radius: 7px;
        transition: all 0.2s ease-in;
        font-size: 14px;
        border-radius: 4px;
        background: linear-gradient(135deg,rgb(60, 84, 160), #6e8efb);    
      }
}
// NORMAL DESKTOP
@media only screen and (min-device-width:1024px) { 
    #navbar{
        &.sticky{
            .desktop-menu{
                .desktop-ul{
                    .desktop-li{
                        a{
                            color: black;
                            &:hover{
                                &::before{
                                    border-color: black;
                                }
                                &::after{
                                    border-color: black;
                                }
                            }
                        }
                    }
                }
            }
    
        }
        .hamburger{
            display: none;
        }
        .sidebar{
            display: none;
        }
        .my-account-icon{
            right: 40px;
            i{
                font-size: 26px;
            }
        }
        .desktop-menu{
            display: unset;
            position: absolute;
            right: 190px;
            top: 12px;
            .desktop-ul{
                .desktop-li{
                    list-style: none;
                    a{
                        cursor: pointer;
                        position: relative;
                        color: white;
                        text-decoration: none;
                        font-size: 16px;
                        margin: 10px;
                        transition: all .3s ease;
                        overflow: hidden;
                        background: transparent;
                        padding: 10px;
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 4px;
                            width: 100%;
                            border-bottom: 2px solid transparent;
                            border-left: 2px solid transparent;
                            box-sizing: border-box;
                            transform: translateX(100%);
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 4px;
                            width: 100%;
                            border-top: 2px solid transparent;
                            border-right: 2px solid transparent;
                            box-sizing: border-box;
                            transform: translateX(-100%);
                        }
                        &:hover{
                            &::before{
                                border-color: white;
                                height: 100%;
                                transform: translateX(0);
                                transition: .3s transform linear, .3s height linear .3s;
                            }
                            &::after{
                                border-color: white;
                                height: 100%;
                                transform: translateX(0);
                                transition: .3s transform linear, .3s height linear .5s;
                            }
                        }
                    }
                }
            }
        }
        .login-signup{
            max-width: 35em;
        }
    }
}