#desNav {
  display: none;
}

#mobileNav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  padding-bottom: 3px;
  position: fixed;
  top: 0;
  z-index: 10000000000000000000;
  transition: 0s;
  background: white;
}
#mobileNav.sticky {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.2);
  transition: 0s;
}
#mobileNav.sticky .hamburger span {
  background: #183b56;
}
#mobileNav.menu {
  background: #ffffff;
}
#mobileNav.menu .hamburger span {
  background: #183b56;
}
#mobileNav .logo {
  transition: 0.8s;
  cursor: pointer;
  transform: translateY(4px);
  width: auto;
  height: auto;
  z-index: 1000;
}
#mobileNav .logo img {
  width: 190px;
  height: auto;
  transition: 0.3s;
}
#mobileNav .logo img:hover {
  transform: scale(1.05);
}
#mobileNav .hamburger {
  padding: 10px;
  margin: 0;
  width: auto;
  height: auto;
  z-index: 1000;
  text-align: center;
  transform: translateY(2px) translateX(7px);
}
#mobileNav .hamburger span {
  height: 2px;
  width: 26px;
  background: #183b56;
  border-radius: 3px;
  display: block;
  transition: 0.2s;
  margin: 6px auto;
  transform-origin: 25%;
  opacity: 0.75;
}
#mobileNav .hamburger.click {
  border-radius: 50%;
}
#mobileNav .hamburger.click .upper-span {
  transform: rotate(45deg);
}
#mobileNav .hamburger.click .center-span {
  display: none;
}
#mobileNav .hamburger.click .lower-span {
  transform: rotate(-45deg) translateX(-1px);
}
#mobileNav .sidebar {
  background: white;
  height: 110vh;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: 0.2s;
  padding: 10px 0;
  overflow-y: scroll !important;
  padding-bottom: 20px;
  z-index: 100000000000000000;
}
#mobileNav .sidebar.active {
  top: 60px;
  right: 0;
  opacity: 1;
  pointer-events: visible;
  transition: 0.5s;
}
#mobileNav .sidebar .sidebar-search {
  position: absolute;
  top: -17px;
  left: 0;
  width: 100%;
  padding-inline: 15px;
  padding-bottom: 17px;
  padding-top: 19px;
  text-align: center;
  z-index: 10000;
  background: white;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
}
#mobileNav .sidebar .sidebar-search form {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 4px;
  display: flex;
}
#mobileNav .sidebar .sidebar-search i {
  position: absolute;
  right: 39px;
  top: 33px;
  padding: 8px;
  margin: -8px;
  border-radius: 100%;
  background: rgba(155, 155, 155, 0.22);
  font-size: 15px;
  color: rgba(24, 59, 86, 0.662745098);
}
#mobileNav .sidebar .sidebar-search input {
  width: 85%;
  height: 50px;
  border: none;
  outline: none;
  padding: 7px;
  background: white;
  color: #183b56;
  border-radius: 4px;
  font-size: 15px;
}
#mobileNav .sidebar .sidebar-search input::-moz-placeholder {
  color: #183b56;
  opacity: 0.8;
}
#mobileNav .sidebar .sidebar-search input::placeholder {
  color: #183b56;
  opacity: 0.8;
}
#mobileNav .sidebar .links {
  padding-top: 60px;
}
#mobileNav .sidebar a {
  display: block;
  color: #183b56;
  font-size: 16px;
  opacity: 0.95;
  padding: 18px;
  width: 100%;
  background: rgba(190, 190, 190, 0.02);
  border-bottom: 1px solid rgba(30, 30, 30, 0.18);
}
#mobileNav .sidebar a.mailto {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  color: rgb(246, 246, 246);
  cursor: pointer;
  text-decoration: underline;
}
#mobileNav .sidebar a.mailto:hover {
  opacity: 1;
}
#mobileNav .sidebar a#categoryDropdownMobileLink i {
  font-size: 15px;
  transform: translateX(10px);
}
#mobileNav .sidebar a#categoryDropdownMobileLink.active {
  background: rgba(190, 190, 190, 0.02);
  color: #06c484;
}
#mobileNav .sidebar a#categoryDropdownMobileLink.active#categoryDropdownMobileIcon {
  color: #06c484;
  font-size: 15px;
  transform: translateX(10px);
}
#mobileNav .sidebar a:hover {
  background: rgba(190, 190, 190, 0.17);
  text-decoration: none;
}
#mobileNav .sidebar .category-dropdown-mob {
  position: relative;
  padding-inline: 0;
  padding-bottom: 40px;
  display: none;
  transition: 0.3s;
  overflow-y: scroll !important;
  height: 100%;
  background: rgba(190, 190, 190, 0.09);
}
#mobileNav .sidebar .category-dropdown-mob a {
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  width: 100%;
  padding-left: 28px;
}
#mobileNav .sidebar .category-dropdown-mob a:hover {
  background: rgba(190, 190, 190, 0.17);
  text-decoration: none;
}
#mobileNav .sidebar .category-dropdown-mob.active {
  display: block;
}

@media only screen and (min-device-width: 1140px) {
  #mobileNav {
    display: none;
  }
  #desNav {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 10000000000000000000;
    transition: 0s;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  #desNav.sticky {
    position: fixed;
    top: 0;
  }
  #desNav #desNavContent {
    position: fixed;
    padding-inline: 35px;
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1350px;
    width: 100%;
  }
  #desNav .logo {
    transition: 0.8s;
    cursor: pointer;
    transform: translateY(4px);
    width: auto;
    height: auto;
    z-index: 1000;
    transition: 0.2s;
  }
  #desNav .logo h1 {
    color: #183b56;
    font-size: 17px;
    transition: 0.2s;
  }
  #desNav .logo h1 span {
    font-size: 13px;
    border-bottom: 1px solid #06c484;
    padding-bottom: 3px;
  }
  #desNav .logo:hover h1 span {
    border-color: #183b56;
  }
  #desNav .menu {
    padding-inline: 10px;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
  #desNav .menu a {
    color: #183b56;
    font-size: 17px;
    text-decoration: none;
    padding: 0 8px;
    margin-inline: 8px;
    padding-bottom: 5px;
    padding-top: 7px;
    transition: 0.2s;
    opacity: 0.9;
    cursor: pointer;
  }
  #desNav .menu a:hover {
    text-decoration: underline;
  }
  #desNav .menu a:first-child {
    margin-left: 0;
  }
  #desNav .menu a:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  #desNav .menu #categoryDropdownMobileLinkDes i {
    padding-left: 8px;
  }
  #desNav .menu #categoryDropdownMobileLinkDes:hover {
    text-decoration: none;
  }
  #desNav .menu #categoryDropdownMobileLinkDes.active {
    color: #06c484;
  }
  #desNav .menu #categoryDropdownMobileDes {
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 30px;
    display: none;
    justify-content: center;
    box-shadow: 0 3px 4px rgb(246, 246, 246);
    background: white;
    border-top: 1px solid rgb(246, 246, 246);
    padding-top: 15px;
  }
  #desNav .menu #categoryDropdownMobileDes #categoryDropdownMobileWidthDes {
    position: relative;
    width: 100%;
    min-height: 250px;
    max-height: 350px;
  }
  #desNav .menu #categoryDropdownMobileDes #categoryDropdownMobileWidthDes a {
    min-width: -moz-max-content;
    min-width: max-content;
    cursor: pointer;
    margin: 0;
    opacity: 0.95;
    min-height: 100px !important;
  }
  #desNav .menu #categoryDropdownMobileDes #categoryDropdownMobileWidthDes a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  #desNav .menu #categoryDropdownMobileDes.active {
    display: flex;
  }
}/*# sourceMappingURL=nav.css.map */