.desktop-menu {
  display: none;
}

#navbar {
  background: transparent;
  z-index: 100;
  width: 100%;
  height: 63px;
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: 1px 0px 3px rgba(255, 255, 255, 0.329);
          box-shadow: 1px 0px 3px rgba(255, 255, 255, 0.329);
  background: white;
}

#navbar.sticky {
  background: #ffffffb9;
}

#navbar .logo {
  -webkit-transition: .8s;
  transition: .8s;
  cursor: pointer;
  position: absolute;
  left: 65px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  width: auto;
  height: auto;
  z-index: 1000;
}

#navbar .logo img {
  height: auto;
  width: 120px;
}

#navbar .hamburger {
  padding: 10px;
  margin: 0;
  width: auto;
  height: auto;
  position: absolute;
  left: 15px;
  z-index: 1000;
  text-align: center;
}

#navbar .hamburger span {
  height: 3px;
  width: 24px;
  background: #183b56;
  border: 2px solid #183b56;
  border-radius: 3px;
  display: block;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 4px;
  -webkit-transform: translateX(-9px) rotate(0deg);
          transform: translateX(-9px) rotate(0deg);
  text-align: center;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#navbar .hamburger.click .upper-span {
  -webkit-transform: rotate(45deg) translateY(11.3px);
          transform: rotate(45deg) translateY(11.3px);
}

#navbar .hamburger.click .center-span {
  opacity: 0;
  width: 0px;
}

#navbar .hamburger.click .lower-span {
  -webkit-transform: rotate(-45deg) translateY(-11px);
          transform: rotate(-45deg) translateY(-11px);
}

#navbar .sidebar {
  background: white;
  height: 100vh;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 100%;
  z-index: 120;
  opacity: 0;
  pointer-events: none;
  display: unset;
}

#navbar .sidebar .sidebar-cta {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #4287f5;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

#navbar .sidebar .sidebar-cta a {
  color: white !important;
  font-size: 16px;
}

#navbar .sidebar .sidebar-ul {
  position: relative;
  width: 100%;
  text-align: left;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

#navbar .sidebar .sidebar-ul .sidebar-li {
  list-style: none;
}

#navbar .sidebar .sidebar-ul .sidebar-li a {
  color: #082133;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  font-weight: 800;
  font-size: 14.5px;
  margin: 18px 0;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
  cursor: pointer;
}

#navbar .sidebar .sidebar-ul .sidebar-li a::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.17);
  -webkit-transform: translateY(19px) translateX(-25px);
          transform: translateY(19px) translateX(-25px);
  position: absolute;
  left: 0;
}

#navbar .sidebar .sidebar-ul .sidebar-li a i {
  -webkit-transform: translateX(-50px) translateY(5px);
          transform: translateX(-50px) translateY(5px);
  font-size: 16px;
  -webkit-transition: .2s !important;
  transition: .2s !important;
  float: right;
}

#navbar .sidebar .sidebar-ul .sidebar-li .prices-dropdown .prices-dropdown-links {
  width: 100%;
  display: none;
}

#navbar .sidebar .sidebar-ul .sidebar-li .prices-dropdown .prices-dropdown-links.active {
  display: block;
}

#navbar .sidebar .sidebar-ul .sidebar-li .prices-dropdown .prices-dropdown-links .nav-link-parent {
  width: 100%;
  height: 100%;
  background: #f1f9ff9a;
}

#navbar .sidebar .sidebar-ul .sidebar-li .prices-dropdown .prices-dropdown-links a {
  -webkit-transform: translateX(45px);
          transform: translateX(45px);
}

#navbar .sidebar .sidebar-ul .sidebar-li .prices-dropdown .prices-dropdown-links a::after {
  -webkit-transform: translateY(19px) translateX(-45px);
          transform: translateY(19px) translateX(-45px);
}

#navbar .sidebar .sidebar-ul .sidebar-li .prices-dropdown #pricesToggle.click {
  color: #4287f5;
}

#navbar .sidebar .sidebar-ul .sidebar-li .prices-dropdown #pricesToggle.click i {
  -webkit-transform: rotateX(180deg) translateX(-50px) translateY(-11px);
          transform: rotateX(180deg) translateX(-50px) translateY(-11px);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#navbar .sidebar .sidebar-ul .sidebar-li .about-dropdown .about-dropdown-links {
  width: 100%;
  display: none;
}

#navbar .sidebar .sidebar-ul .sidebar-li .about-dropdown .about-dropdown-links.active {
  display: block;
}

#navbar .sidebar .sidebar-ul .sidebar-li .about-dropdown .about-dropdown-links .nav-link-parent {
  width: 100%;
  height: 100%;
  background: #f1f9ff9a;
}

#navbar .sidebar .sidebar-ul .sidebar-li .about-dropdown .about-dropdown-links a {
  -webkit-transform: translateX(45px);
          transform: translateX(45px);
}

#navbar .sidebar .sidebar-ul .sidebar-li .about-dropdown .about-dropdown-links a::after {
  -webkit-transform: translateY(19px) translateX(-45px);
          transform: translateY(19px) translateX(-45px);
}

#navbar .sidebar .sidebar-ul .sidebar-li .about-dropdown #aboutToggle.click {
  color: #4287f5;
}

#navbar .sidebar .sidebar-ul .sidebar-li .about-dropdown #aboutToggle.click i {
  -webkit-transform: rotateX(180deg) translateX(-50px) translateY(-11px);
          transform: rotateX(180deg) translateX(-50px) translateY(-11px);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#navbar .sidebar .sidebar-ul .sidebar-li .help-dropdown .help-dropdown-links {
  width: 100%;
  display: none;
}

#navbar .sidebar .sidebar-ul .sidebar-li .help-dropdown .help-dropdown-links.active {
  display: block;
}

#navbar .sidebar .sidebar-ul .sidebar-li .help-dropdown .help-dropdown-links .nav-link-parent {
  width: 100%;
  height: 100%;
  background: #f1f9ff9a;
}

#navbar .sidebar .sidebar-ul .sidebar-li .help-dropdown .help-dropdown-links a {
  -webkit-transform: translateX(45px);
          transform: translateX(45px);
}

#navbar .sidebar .sidebar-ul .sidebar-li .help-dropdown .help-dropdown-links a::after {
  -webkit-transform: translateY(19px) translateX(-45px);
          transform: translateY(19px) translateX(-45px);
}

#navbar .sidebar .sidebar-ul .sidebar-li .help-dropdown #helpToggle.click {
  color: #4287f5;
}

#navbar .sidebar .sidebar-ul .sidebar-li .help-dropdown #helpToggle.click i {
  -webkit-transform: rotateX(180deg) translateX(-50px) translateY(-11px);
          transform: rotateX(180deg) translateX(-50px) translateY(-11px);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#navbar .sidebar .sidebar-ul .sidebar-li .account-dropdown .account-dropdown-links {
  width: 100%;
  display: none;
}

#navbar .sidebar .sidebar-ul .sidebar-li .account-dropdown .account-dropdown-links.active {
  display: block;
}

#navbar .sidebar .sidebar-ul .sidebar-li .account-dropdown .account-dropdown-links .nav-link-parent {
  width: 100%;
  height: 100%;
  background: #f1f9ff9a;
}

#navbar .sidebar .sidebar-ul .sidebar-li .account-dropdown .account-dropdown-links a {
  -webkit-transform: translateX(45px);
          transform: translateX(45px);
}

#navbar .sidebar .sidebar-ul .sidebar-li .account-dropdown .account-dropdown-links a::after {
  -webkit-transform: translateY(19px) translateX(-45px);
          transform: translateY(19px) translateX(-45px);
}

#navbar .sidebar .sidebar-ul .sidebar-li .account-dropdown #accountToggle.click {
  color: #4287f5;
}

#navbar .sidebar .sidebar-ul .sidebar-li .account-dropdown #accountToggle.click i {
  -webkit-transform: rotateX(180deg) translateX(-50px) translateY(-11px);
          transform: rotateX(180deg) translateX(-50px) translateY(-11px);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#navbar .sidebar.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transition: .7s;
  transition: .7s;
}

#navbar .order {
  margin: 0;
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: black;
  padding: 7px 2px;
  width: 70px;
  text-align: center;
  border-radius: 15px;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 13px;
  border-radius: 4px;
  text-decoration: none;
  background: white;
  border: 2px solid black;
}

@media only screen and (min-device-width: 1024px) {
  #navbar.sticky .desktop-menu .desktop-menu-ul .desktop-menu-li a {
    color: black;
  }
  #navbar .sidebar {
    display: none;
  }
  #navbar .hamburger {
    display: none;
    background: red;
  }
  #navbar .order {
    right: 700px;
    font-size: 12px;
  }
  #navbar .logo h1 {
    font-size: 30px;
  }
  #navbar .desktop-menu {
    display: block;
    background: transparent;
    height: auto;
    width: 100%;
    position: absolute;
    right: 20px;
    top: 16px;
    -webkit-transition: .7s;
    transition: .7s;
    text-align: right;
  }
  #navbar .desktop-menu .desktop-menu-ul {
    position: relative;
    width: 100%;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li {
    list-style: none;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: auto;
    font-size: 14px;
    padding: 5px;
    -webkit-transition: .2s;
    transition: .2s;
    margin: auto 10px;
    cursor: pointer;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li a i {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    font-size: 14px;
    -webkit-transition: .2s !important;
    transition: .2s !important;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-prices {
    display: inline-block;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-prices .desktop-prices-dropdown-links {
    display: none;
    width: 250px;
    position: absolute;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    background: #f7f7f7;
    border-radius: 7px;
    text-align: left;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-prices .desktop-prices-dropdown-links a {
    color: black;
    font-size: 13px;
    opacity: 0.7;
    width: 100%;
    display: inline-block;
    text-decoration: underline;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-prices:hover .desktop-prices-dropdown-links {
    display: block;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-help {
    display: inline-block;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-help .desktop-help-dropdown-links {
    display: none;
    width: 250px;
    position: absolute;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    background: #f7f7f7;
    border-radius: 7px;
    text-align: left;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-help .desktop-help-dropdown-links a {
    color: black;
    font-size: 13px;
    opacity: 0.7;
    width: 100%;
    display: inline-block;
    text-decoration: underline;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-help:hover .desktop-help-dropdown-links {
    display: block;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-account {
    display: inline-block;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-account .desktop-account-dropdown-links {
    display: none;
    width: 250px;
    position: absolute;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    background: #f7f7f7;
    border-radius: 7px;
    text-align: left;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-account .desktop-account-dropdown-links a {
    color: black;
    font-size: 13px;
    opacity: 0.7;
    width: 100%;
    display: inline-block;
    text-decoration: underline;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-account:hover .desktop-account-dropdown-links {
    display: block;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-about {
    display: inline-block;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-about .desktop-about-dropdown-links {
    display: none;
    width: 250px;
    position: absolute;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    background: #f7f7f7;
    border-radius: 7px;
    text-align: left;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-about .desktop-about-dropdown-links a {
    color: black;
    font-size: 13px;
    opacity: 0.7;
    width: 100%;
    display: inline-block;
    text-decoration: underline;
  }
  #navbar .desktop-menu .desktop-menu-ul .desktop-menu-li .desktop-menu-about:hover .desktop-about-dropdown-links {
    display: block;
  }
}
/*# sourceMappingURL=nav.css.map */