.make-order {
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-align: center;
  background: transparent;
}

.make-order form {
  text-align: left;
  padding: 10px;
  margin: 15px;
  margin-top: 0;
  background: #f1f4ff;
  border-radius: 4px;
}

.make-order form label {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

.make-order form textarea {
  width: 100%;
  border: 1px solid #787878;
  border-radius: 3px;
  padding: 3px;
  height: 100px;
}

.make-order form .order-form-step1 {
  position: relative;
  padding-top: 20px;
  background: #e8edff;
}

.make-order form .order-form-step1 h1.heading {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Sniglet', cursive;
  color: #142c78;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

.make-order form .order-form-step1 .form-tag-products {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 43px;
}

.make-order form .order-form-step1 .form-tag-hosting {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 132px;
}

.make-order form .order-form-step1 .form-tag-image {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 220px;
}

.make-order form .order-form-step1 .form-tag-color {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 329px;
  z-index: 1;
}

.make-order form .order-form-step1 .color-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  border: 2px solid #3c54a0;
  border-radius: 4px;
}

.make-order form .order-form-step1 .color-inputs .or {
  font-size: 15px;
  color: #3c54a0;
  background: transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.make-order form .order-form-step1 .color-inputs .input {
  height: 55px;
  padding-top: 10px;
}

.make-order form .order-form-step1 .color-inputs .input.color {
  padding: 15px 60px 5px 65px;
  background: white;
  border: none;
}

.make-order form .order-form-step1 .color-inputs .input.color-hex {
  border: none;
}

.make-order form .order-form-step1 .info {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #3c54a0;
  margin-bottom: -5px;
  margin-top: 10px;
  opacity: 0.7;
  pointer-events: none;
}

.make-order form .order-form-step1 .info.order-product-info {
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  padding-top: 10px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.make-order form .order-form-step1 .info.order-product-info.active {
  opacity: 1;
}

.make-order form .order-form-step1 .form-tag-num_pages {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 475px;
  z-index: 1;
}

.make-order form .order-form-step1 .product-price {
  position: absolute;
  right: 40px;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  font-size: 14px;
  color: #3c54a0;
  opacity: 0.7;
}

.make-order form .order-form-step1 .hosting-price {
  position: absolute;
  right: 40px;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  font-size: 14px;
  color: #3c54a0;
  opacity: 0.7;
}

.make-order form .order-form-step1 .num-pages-price {
  position: absolute;
  right: 40px;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  font-size: 14px;
  color: #3c54a0;
  opacity: 0.7;
}

.make-order form .order-form-step1 .products-dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: white;
}

.make-order form .order-form-step1 .products-dropdown.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.make-order form .order-form-step1 .products-dropdown .dropdown-border {
  border: 2px solid #3c54a0;
  padding: 10px;
  border-radius: 4px;
}

.make-order form .order-form-step1 .products-dropdown .dropdown-border h1 {
  font-size: 17px;
  padding: 3px;
  background: rgba(240, 240, 240, 0.6);
}

.make-order form .order-form-step1 .products-dropdown .dropdown-border .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.make-order form .order-form-step1 .products-dropdown .dropdown-border .flex h1 {
  width: 50%;
  border: 2px solid white;
}

.make-order form .order-form-step1 .hosting-dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.make-order form .order-form-step1 .hosting-dropdown.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.make-order form .order-form-step1 .hosting-dropdown .dropdown-border {
  border: 2px solid #3c54a0;
  padding: 10px;
  border-radius: 4px;
}

.make-order form .order-form-step1 .hosting-dropdown .dropdown-border h1 {
  font-size: 17px;
  padding: 3px;
  background: rgba(240, 240, 240, 0.6);
}

.make-order form .order-form-step1 .hosting-dropdown .dropdown-border .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.make-order form .order-form-step1 .hosting-dropdown .dropdown-border .flex h1 {
  width: 50%;
  border: 2px solid white;
}

.make-order form .order-form-step1 .num-pages-dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.make-order form .order-form-step1 .num-pages-dropdown.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.make-order form .order-form-step1 .num-pages-dropdown .dropdown-border {
  border: 2px solid #3c54a0;
  padding: 10px;
  border-radius: 4px;
}

.make-order form .order-form-step1 .num-pages-dropdown .dropdown-border h1 {
  font-size: 17px;
  padding: 3px;
  background: rgba(240, 240, 240, 0.6);
}

.make-order form .order-form-step1 .num-pages-dropdown .dropdown-border .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.make-order form .order-form-step1 .num-pages-dropdown .dropdown-border .flex h1 {
  width: 50%;
  border: 2px solid white;
}

.make-order form .order-form-step1 .arrow-down {
  position: absolute;
  right: 2px;
  background: #3c54a0;
  padding: 7px;
  -webkit-transform: translateY(-39px);
          transform: translateY(-39px);
  border-radius: 0;
}

.make-order form .order-form-step1 .arrow-down i {
  font-size: 20px;
  color: white;
}

.make-order form .order-form-step1 .num-pages-extra-pages {
  width: 100%;
  text-align: center;
}

.make-order form .order-form-step1 .input {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 7px;
  outline: none;
  font-size: 15px;
}

.make-order form .order-form-step1 .input.order-image {
  padding: 15px;
}

.make-order form .order-form-step1 .input.order-products {
  padding: 7px;
}

.make-order form .order-form-step1 .input.order-hosting {
  padding: 7px;
}

.make-order form .order-form-step1 .input.num-pages-extra {
  width: 80%;
  margin: 7px auto;
  padding: 6px;
  display: none;
}

.make-order form .order-form-step2 {
  position: relative;
  padding-top: 20px;
}

.make-order form .order-form-step2 h1.heading {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Sniglet', cursive;
  color: #142c78;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

.make-order form .order-form-step2 .info {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #3c54a0;
  margin-bottom: -5px;
  margin-top: 10px;
  opacity: 0.7;
  pointer-events: none;
}

.make-order form .order-form-step2 .form-tag-css {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 72px;
}

.make-order form .order-form-step2 .form-tag-html {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 136px;
}

.make-order form .order-form-step2 .form-tag-javascript {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 200px;
}

.make-order form .order-form-step2 .form-tag-python_django {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 265px;
}

.make-order form .order-form-step2 .input {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 7px;
  outline: none;
  font-size: 15px;
}

.make-order form .order-form-step3 {
  position: relative;
  padding-top: 20px;
}

.make-order form .order-form-step3 .google-recaptcha {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.make-order form .order-form-step3 h1.heading {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Sniglet', cursive;
  color: #142c78;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

.make-order form .order-form-step3 .form-tag-name {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 43px;
}

.make-order form .order-form-step3 .form-tag-email {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 107px;
}

.make-order form .order-form-step3 .form-tag-message {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 15px;
  top: 171px;
}

.make-order form .order-form-step3 input {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 7px;
  outline: none;
  font-size: 15px;
}

.make-order form .order-form-step3 textarea {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 3px;
  padding-top: 5px;
  height: 100px;
  outline: none;
  font-size: 15px;
}

.make-order form .order-products {
  width: 150px;
  padding: 3px;
}

.make-order form .order-hosting {
  width: 150px;
  padding: 3px;
}

.make-order form .form-actions {
  margin-top: 15px;
}

.make-order form .form-actions button {
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  padding: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: white;
  outline: none;
  background: linear-gradient(135deg, #5a7ef5, #607bd3);
  -webkit-box-shadow: 1.5px 3px 2px #3c54a0;
          box-shadow: 1.5px 3px 2px #3c54a0;
  border: 2px solid transparent;
}
/*# sourceMappingURL=order.css.map */