.bottom-nav {
  display: none !important;
}

#footer {
  padding-bottom: 0 !important;
}

.cover {
  width: 100%;
  height: auto;
  position: relative;
}

.cover img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.make-order {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: transparent;
}

.make-order form {
  text-align: left;
  margin: 15px;
  margin-top: 0;
  background: transparent;
}

.make-order form label {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

.make-order form textarea {
  width: 100%;
  border: 1px solid #787878;
  border-radius: 3px;
  padding: 3px;
  height: 100px;
}

.make-order form .order-form-step1 {
  position: relative;
  padding-top: 20px;
  background: transparent;
}

.make-order form .order-form-step1 h1.heading {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.make-order form .order-form-step1 .form-tag-products {
  font-size: 15px;
  color: #304792;
  background: white;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 60px;
}

.make-order form .order-form-step1 .form-tag-hosting {
  font-size: 15px;
  color: #304792;
  background: white;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 149px;
}

.make-order form .order-form-step1 .form-tag-image {
  font-size: 15px;
  color: #304792;
  background: white;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 237px;
}

.make-order form .order-form-step1 .form-tag-color {
  font-size: 15px;
  color: #304792;
  background: white;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 357px;
  z-index: 1;
}

.make-order form .order-form-step1 .color-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  border: 2px solid #3c54a0;
  border-radius: 4px;
}

.make-order form .order-form-step1 .color-inputs .or {
  font-size: 15px;
  color: #3c54a0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.make-order form .order-form-step1 .color-inputs .input {
  height: 55px;
  padding-top: 10px;
}

.make-order form .order-form-step1 .color-inputs .input.color {
  padding: 15px 60px 5px 65px;
  background: white;
  border: none;
}

.make-order form .order-form-step1 .color-inputs .input.color-hex {
  border: none;
}

.make-order form .order-form-step1 .info {
  text-align: left;
  color: black;
  margin-bottom: -5px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Sniglet', cursive;
  opacity: 0.8;
  line-height: 130%;
}

.make-order form .order-form-step1 .form-tag-num_pages {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 536px;
  z-index: 1;
}

.make-order form .order-form-step1 .product-price {
  position: absolute;
  right: 40px;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  font-size: 14px;
  color: #3c54a0;
  opacity: 0.7;
}

.make-order form .order-form-step1 .hosting-price {
  position: absolute;
  right: 40px;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  font-size: 14px;
  color: #3c54a0;
  opacity: 0.7;
}

.make-order form .order-form-step1 .num-pages-price {
  position: absolute;
  right: 40px;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  font-size: 14px;
  color: #3c54a0;
  opacity: 0.7;
}

.make-order form .order-form-step1 .products-dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: white;
}

.make-order form .order-form-step1 .products-dropdown.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.make-order form .order-form-step1 .products-dropdown h1 {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 230px;
  font-family: 'Sniglet', cursive;
  color: black;
  font-size: 24px;
  border: 0.5px solid rgba(209, 209, 209, 0.397);
  padding: 10px;
  border-radius: 15px;
}

.make-order form .order-form-step1 .products-dropdown .choices h1 {
  width: 210px;
  font-size: 16px;
}

.make-order form .order-form-step1 .hosting-dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: white;
}

.make-order form .order-form-step1 .hosting-dropdown.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.make-order form .order-form-step1 .hosting-dropdown h1 {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 230px;
  font-family: 'Sniglet', cursive;
  color: black;
  font-size: 24px;
  border: 0.5px solid rgba(209, 209, 209, 0.397);
  padding: 10px;
  border-radius: 15px;
}

.make-order form .order-form-step1 .hosting-dropdown .choices h1 {
  width: 210px;
  font-size: 16px;
}

.make-order form .order-form-step1 .num-pages-dropdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: white;
}

.make-order form .order-form-step1 .num-pages-dropdown.active {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.make-order form .order-form-step1 .num-pages-dropdown h1 {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 230px;
  font-family: 'Sniglet', cursive;
  color: black;
  font-size: 24px;
  border: 0.5px solid rgba(209, 209, 209, 0.397);
  padding: 10px;
  border-radius: 15px;
}

.make-order form .order-form-step1 .num-pages-dropdown .choices h1 {
  width: 210px;
  font-size: 16px;
}

.make-order form .order-form-step1 .arrow-down {
  position: absolute;
  right: 2px;
  background: #3c54a0;
  padding: 7px;
  -webkit-transform: translateY(-39px);
          transform: translateY(-39px);
  border-radius: 0;
}

.make-order form .order-form-step1 .arrow-down i {
  font-size: 20px;
  color: white;
}

.make-order form .order-form-step1 .num-pages-extra-pages {
  width: 100%;
  text-align: center;
}

.make-order form .order-form-step1 .input {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 7px;
  outline: none;
  font-size: 15px;
  background: white;
}

.make-order form .order-form-step1 .input.order-image {
  padding: 20px;
}

.make-order form .order-form-step1 .input.order-products {
  padding: 7px;
}

.make-order form .order-form-step1 .input.order-hosting {
  padding: 7px;
}

.make-order form .order-form-step1 .input.num-pages-extra {
  width: 80%;
  margin: 7px auto;
  padding: 6px;
  display: none;
}

.make-order form .order-form-step2 {
  position: relative;
  padding-top: 20px;
}

.make-order form .order-form-step2 h1.heading {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.make-order form .order-form-step2 .info {
  text-align: left;
  color: black;
  margin-bottom: -5px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Sniglet', cursive;
  opacity: 0.8;
  line-height: 130%;
}

.make-order form .order-form-step2 .form-tag-css {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 93px;
}

.make-order form .order-form-step2 .form-tag-html {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 158px;
}

.make-order form .order-form-step2 .form-tag-javascript {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 223px;
}

.make-order form .order-form-step2 .form-tag-python_django {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 288px;
}

.make-order form .order-form-step2 .input {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 7px;
  outline: none;
  font-size: 15px;
  background: white;
}

.make-order form .order-form-step3 {
  position: relative;
  padding-top: 20px;
}

.make-order form .order-form-step3 h1.heading {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.make-order form .order-form-step3 .form-tag-name {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 61px;
}

.make-order form .order-form-step3 .form-tag-email {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 125px;
}

.make-order form .order-form-step3 .form-tag-message {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 25px;
  top: 190px;
}

.make-order form .order-form-step3 input {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 7px;
  outline: none;
  font-size: 15px;
}

.make-order form .order-form-step3 textarea {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 3px;
  padding-top: 5px;
  height: 100px;
  outline: none;
  font-size: 15px;
}

.make-order form .order-products {
  width: 150px;
  padding: 3px;
}

.make-order form .order-hosting {
  width: 150px;
  padding: 3px;
}

.make-order form .form-actions {
  margin-top: 15px;
}

.make-order form .form-actions button {
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  padding: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: white;
  outline: none;
  background: linear-gradient(135deg, #5a7ef5, #607bd3);
  -webkit-box-shadow: 1.5px 3px 2px #3c54a0;
          box-shadow: 1.5px 3px 2px #3c54a0;
  border: 2px solid transparent;
}
/*# sourceMappingURL=order.css.map */