// STANDARD PHONE
  .product-page{
      position: relative;
      width: 100%;
      height: 900px;
      text-align: center;
      background: #829efc;
      padding-top: 190px;
      h1{
        &.heading{
          width: 100%;
          text-transform: uppercase;
          font-family: 'Sniglet', cursive;
          color: rgb(20, 44, 120);
          font-weight: 700;
          font-size: 26px;
          text-align: center;
        }
      }
  }