{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">

<div class="myaccount">
    <div class="account-card">
        <h1 class="heading">Min bruker</h1>

        <a href="{% url 'logout' %}">Logg ut</a>
    
        <hr>
    
        <h2 class="heading">Dine opplysninger</h2>
    
        <p><strong>Name: </strong>{{ request.user.get_full_name }}</p>
        <p><strong>E-mail: </strong>{{ request.user.email }}</p>
        <p><strong>Address: </strong>{{ request.user.userprofile.address }}</p>
        <p><strong>Zip and place: </strong>{{ request.user.userprofile.zipcode }} {{ request.user.userprofile.place }}</p>
        <p><strong>Phone: </strong>{{ request.user.userprofile.phone }}</p>
    
        <hr>
    
        <h2 class="heading">Mine bestillinger</h2>
    
        {% for order in request.user.orders.all %}
        du har en <br>
        betalt: <br>
           {{ order.paid }}
        {% empty %}
            <p>You don't have any order yet...</p>
        {% endfor %}
    </div>
</div>
{% endblock %}