{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/orderinfo.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/orderinfo.js' %}" type="text/javascript"></script>

<div class="order-full-info" id="orderFullInfo">
    <h1 class="heading"><i class="fa-solid fa-angle-left" onclick="window.location.href='/min-bruker'"></i>&nbsp;&nbsp;&nbsp;Bestilling Info</h1>
    <div class="content">       
        <div class="order-info-flex">
            <div class="row-one">
                <ul class="progress_bar">
                    {% if order.status_5 %}
                    <div class="last-child-afterone five">
                        <li class="current"><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </div>
                    {% endif %}
                    {% if order.status_4 %}
                    <div class="last-child-afterone four">
                        <li class='activated'><span></span></li>
                        <li class="current"><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </div>
                    {% endif %}
                    {% if order.status_3 %}
                    <div class="last-child-afterone three">
                        <li class='activated'><span></span></li>
                        <li class='activated'><span></span></li>
                        <li class="current"><span></span></li>
                        <li><span></span></li>
                    </div>
                    {% endif %}
                    {% if order.status_2 %}
                    <div class="last-child-afterone two">
                        <li class='activated'><span></span></li>
                        <li class='activated'><span></span></li>
                        <li class='activated'><span></span></li>
                        <li class="current"><span></span></li> 
                    </div>
                    {% endif %}
                    {% if order.status_1 %}
                        <li class='activated'><span></span></li>
                        <li class='activated'><span></span></li>
                        <li class='activated'><span></span></li>
                        <li class='activated'><span></span></li>
                    {% endif %}
                </ul>
            </div>
            <div class="row-two">
                {% if order.status_1 %}
                    <p class="one">Vi har starta bestillingen...</p>
                {% endif %}    
                {% if order.status_2 %}
                    <p class="two">Designen er fullført</p>
                {% endif %}    
                {% if order.status_3 %}
                    <p class="three">Du har betalt</p>
                {% endif %}    
                {% if order.status_4 %}
                    <p class="four">Nettsiden er fullført</p>
                {% endif %}    
                {% if order.status_5 %}
                    <p class="five">Alt er fullført!</p>
                {% endif %}    
            </div>
        </div>
        <div class="order-rest-info">
            <div class="content">
                <h1>Bestilling ID: &nbsp;<span>{{order.id}}</span></h1>
                <h1>Bestillt: &nbsp;<span>{{order.created_at | date:"d F Y"}}</span></h1>
                <hr>
                <div class="is-payed margin">
                    <h1>Betalt: &nbsp;</h1>
                    {% if order.paid %}
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    {% else %}
                        <div class="icon-x">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    {% endif %}  
                </div>
                <div class="is-hosting margin">
                    <div class="flex">
                        <h1>Hosting: &nbsp;</h1>
                        {% if order.hosting %}
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        {% else %}
                            <div class="icon-x">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        {% endif %}  
                    </div>
                    <p>Ønsker du å endre dette, kontakter oss</p>
                </div>
                <div class="after-14-days margin">
                    <div class="flex">
                        <h1>Gratis endringer: &nbsp;</h1>
                        {% if order.after_14_days %}
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        {% else %}
                        <div class="icon-x">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        {% endif %} 
                    </div>
                    {% if order.is_finished %}
                        <button onclick="window.location.href='/sporr-om-endringer'">Spørr om endringer</button>
                    {% else %}
                        <div class="alert alert-info">Du kan spørre om endringer på nettsiden her, da nettsiden er fullført</div>   
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}