{% extends 'core/base.html' %}    
{% load static %}    
    

{% block content %}
<div class="signup">

    <form id="signUpForm" method="post" autocomplete="off">      
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{form.errors}}
        <div class="part-one">
            <br>
            <label for="username" class="form-tag-username tag">Brukernavn</label>
            <input type="text" id="username" name="username" required oninvalid="this.setCustomValidity('Værsåsnill velg en brukernavn')" oninput="this.setCustomValidity('')">
            <br>
            <br>
            <label for="first_name" class="form-tag-first_name tag">Fornavn</label>
            <input type="text" id="first_name" name="first_name" required oninvalid="this.setCustomValidity('Fornavn kan ikke være tom')" oninput="this.setCustomValidity('')">
            <br>
            <br>
            <label for="last_name" class="form-tag-last_name tag">Etternavn</label>
            <input type="text" id="last_name" name="last_name" required oninvalid="this.setCustomValidity('Etternavn kan ikke være tom')" oninput="this.setCustomValidity('')">
            <br>
            <br>
            <label for="email" class="form-tag-email tag">Epost</label>
            <input type="email" id="email" name="email" required oninvalid="this.setCustomValidity('Skriv din epost her')" oninput="this.setCustomValidity('')">
            <br>
            <br>
            <label for="password1" class="form-tag-password1 tag">Passord</label>
            <input type="password" autocomplete="new-password" id="password1" name="password1" required oninvalid="this.setCustomValidity('Velg et passord')" oninput="this.setCustomValidity('')">
            <br>
            <br>
            <label for="password2" class="form-tag-password2 tag">Gjenta passord</label>
            <input type="password" id="password2" name="password2" required oninvalid="this.setCustomValidity('Du må gjenta passordet')" oninput="this.setCustomValidity('')">
            <br>
            <br>
        </div> 
        <button type="submit" class="form-sumbit">Logg inn</button>
    </form>
    <h1>Eller <a href="/logg-inn">logg inn</a></h1>
</div>
{% endblock %}