{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/store/order.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/order.js' %}" type="text/javascript"></script>


<div class="cover">
  <div class="cover-desktop">
     <div class="cover-text">
        <h1>Kom i gang med bestillingen</h1>
        <p id="coverText2">Fyll ut skjemaet under, også kommer vi tilbake til deg innen 4 timer</p>
     </div>
     <div class="img">
        <img src="{% static '/images/covers/cover-2.png' %}" alt="cover-img">
    </div>
  </div>
  <div class="cover-mobile">
     <div class="cover-text">
        <h1>Kom i gang med bestillingen</h1>
        <p id="coverText2">Fyll ut skjemaet under, også kommer vi tilbake til deg innen 4 timer</p>
     </div>
     <div class="img">
        <img src="{% static '/images/covers/cover-2.png' %}" alt="cover-img">
    </div>
  </div>
</div>

 <div class="load-wrapp" id="orderLoader">
    <div class="load-2">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>

<div class="make-order">
    <form method='post' id="makeOrder" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.errors}}
        <div class="order-form-step1">
           <h1 class="heading">Steg 1</h1>
           <label for="products" class="form-tag-products tag">Velg nettside</label>
           <br>
           <h1 class="if-custom info" id="ifCustom">Hvis du velger en Custom nettside, så bestemmer du selv hva du vil nettsiden skal være. For eksempel, kan være både en Ecommerce og en Blogg nettside.
            <div class="loader">
               <div class="loader__element" id="loaderEl"></div>
             </div>
           </h1>
           <input type="text" name="products" class="products input" id="products" readonly onclick="orderProductDropdown()" required oninvalid="this.setCustomValidity('Værsåsnill, velg et produkt')" oninput="this.setCustomValidity('')"><div class="product-price" id="productPrice" onclick="orderProductDropdown()">0kr</div><div onclick="orderProductDropdown()" class="arrow-down"><i class="fas fa-angle-down"></i></div>
           <div class="products-dropdown" id="productDropdown">
              <div class="dropdown-border">
                 <h1 class="dropdown-none" onclick="noneProducts()">---------</h1>
                 <div class="flex">
                    <h1 onclick="ecommerce()">Ecommerce</h1>
                    <h1 onclick="blog()">Blogg</h1>
                  </div>
                  <div class="flex">   
                     <h1 onclick="portofolio()">Portofolio</h1>
                     <h1 onclick="bedrift()">Bedrift</h1>
                  </div>
                  <div class="flex">
                     <h1 onclick="personal()">Personal</h1>
                     <h1 onclick="custom()">Custom</h1>
                  </div>
               </div>
            </div>
           <br>
           <br>
           <label for="hosting" class="form-tag-hosting tag">Vil du ha våres hosting tjeneste?</label>
           <br>
           <input type="text" name="hosting" class="hosting input" id="hosting" readonly onclick="orderhostingDropdown()"><div class="hosting-price" id="hostingPrice" onclick="orderhostingDropdown()">0kr</div><div onclick="orderhostingDropdown()" class="arrow-down"><i class="fas fa-angle-down"></i></div>
           <div class="hosting-dropdown" id="hostingDropdown">
            <div class="dropdown-border">
               <h1 class="dropdown-none" onclick="noneHosting()">---------</h1>
               <div class="flex">
                  <h1 onclick="ja()">Ja</h1>
                  <h1 onclick="nei()">Nei</h1>
                </div>
             </div>
          </div>
           <br>
           <br>
           <label for="image" class="form-tag-image tag">Har du allerede en logo?</label>
           <br>
           {{form.image}}
           <br>
           <br>
           <label for="color" class="form-tag-color tag">Velg en farge som passer bedriften din</label>
           <br>
           <div class="color-inputs">
              <input type="text" name="color_hex" class="color-hex input" id="color_hex" value="#">
               <div class="or">eller</div>
              <input type="color" id="color" name="color" class="color input" required oninvalid="this.setCustomValidity('Værsåsnill, velg en farge')" oninput="this.setCustomValidity('')">
            </div>
            <br>
            <h1 class="info">Alle priser har inkludert en Hjemme side og en Kontakt oss side. En ekstra side koster 399kr</h1>
            <label for="num_pages" class="form-tag-num_pages tag">Velg antall sider</label>
            <br>
            <input type="number" id="num_pages" name="num_pages" class="input" placeholder="2">
         </div>
        <br>
        <div class="order-form-step2">
           <h1 class="heading">Steg 2</h1>
        </div>
        <div class="order-form-step3">
           <h1 class="heading">Steg 3</h1>
           <label for="name" class="form-tag-name tag">Navn</label>
           <br>
           <input type="text" id="name" name="name" required oninvalid="this.setCustomValidity('Kan ikke være tom')" oninput="this.setCustomValidity('')">
           <br>
           <label for="email" class="form-tag-email tag">Epost</label>
           <br>
           <input type="email" id="email" name="email" required oninvalid="this.setCustomValidity('Kan ikke være tom')" oninput="this.setCustomValidity('')">
           <br>
           <label for="message" class="form-tag-message tag">Fortell oss om bedriften din</label>
           <br>
           <textarea id="message" name="message"></textarea>
           <br>
           <div class="google-recaptcha">
            <div class="g-recaptcha" data-sitekey="6Ld3UXocAAAAAJ2xfcaZlld0nlT5f8VfW5F2O6o6"></div>
           </div>
         </div>
        <div class="form-actions">
            <button onclick="orderLoading()" name="order" value="order" type='submit'>Send bestillingen</button>
        </div>
    </form>
</div>
{% endblock %}