#mobileNav.sticky .order a {
  border-color: transparent;
}
#mobileNav.menu .order a {
  border-color: transparent;
}
#mobileNav .order a {
  background: transparent;
  border-color: #F9F6EE;
}
#mobileNav .logo {
  transition: 0.8s;
  cursor: pointer;
  transform: translateY(1.5px);
  width: auto;
  height: auto;
  z-index: 1000;
  position: absolute;
  left: 65px;
}
#mobileNav .logo img {
  height: auto;
  width: 105px;
}
#mobileNav .logo img.logo1 {
  display: block;
}
#mobileNav .logo img.logo2 {
  display: none;
}
#mobileNav .hamburger span {
  background: #F9F6EE;
}

.order-page {
  background: linear-gradient(to top right, #183b56, #1e4664);
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.order-page .order-guarantee {
  position: relative;
  right: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 92%;
  border: 2px solid rgba(249, 246, 238, 0.5215686275);
  text-align: center;
  padding: 20px 14px;
  border-radius: 16px;
  margin: 20px auto;
}
.order-page .order-guarantee h1, .order-page .order-guarantee p {
  color: #F9F6EE;
}
.order-page .order-guarantee h1 {
  font-size: 24px;
  margin-bottom: 27px;
}
.order-page .order-guarantee p {
  margin-top: 27px;
  font-size: 14px;
}

.make-order {
  background: transparent !important;
}
.make-order #makeOrder .heading {
  color: #F9F6EE;
  font-size: 24px;
  font-weight: 600px;
  margin-bottom: 25px;
}
.make-order #makeOrder .order-not-login {
  background: rgba(35, 78, 110, 0.6862745098);
  padding: 13px;
  border-radius: 4px;
  transform: translateY(10px);
}
.make-order #makeOrder .order-not-login p {
  color: #F9F6EE;
  font-size: 16px;
}
.make-order #makeOrder .order-not-login a {
  padding: 10px;
  padding-left: 0;
  font-size: 14px;
  color: #F9F6EE;
  opacity: 0.8;
  text-decoration: underline;
}
.make-order #makeOrder .form-actions {
  margin-top: 45px;
}
.make-order #makeOrder .form-actions button {
  border-radius: 4px;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  height: unset !important;
  padding: 12px 16px;
  transition: all 0.2s ease-in-out;
  color: white;
  background: transparent;
  border: 2px solid rgba(249, 246, 238, 0.5215686275);
}
.make-order #makeOrder .inputs-labels label {
  color: #F9F6EE;
  font-size: 14px;
  font-weight: normal;
}
.make-order #makeOrder .inputs-labels input, .make-order #makeOrder .inputs-labels textarea {
  border-radius: 4px;
  padding: 5px;
  border: 2px solid rgba(249, 246, 238, 0.5215686275);
  outline: none;
  color: #F9F6EE;
  font-size: 13px;
  width: 82%;
  max-width: 500px;
  font-weight: unset;
  height: 45px;
  cursor: pointer;
  background: transparent;
}
.make-order #makeOrder .inputs-labels input:hover, .make-order #makeOrder .inputs-labels textarea:hover {
  filter: brightness(95%);
}
.make-order #makeOrder .inputs-labels input:focus, .make-order #makeOrder .inputs-labels textarea:focus {
  cursor: unset;
  filter: brightness(100%);
}
.make-order #makeOrder .inputs-labels textarea {
  height: 100px;
  min-height: 70px;
  max-height: 300px;
}
.make-order #makeOrder .inputs-labels .product-input.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.make-order #makeOrder .inputs-labels .product-input:active {
  background: rgba(207, 206, 203, 0.2862745098);
}
.make-order #makeOrder .inputs-labels .product-arrow {
  color: #F9F6EE;
  transform: translateX(-25px) translateY(-2px);
  font-size: 16px;
  transition: 0.2s !important;
}
.make-order #makeOrder .inputs-labels .product-arrow.active {
  transform: rotateX(180deg) translateX(-25px) translateY(-4px);
  transform-origin: center center;
}
.make-order #makeOrder .inputs-labels .product-dropdown {
  position: relative;
  width: 82%;
  max-width: 500px;
  height: auto;
  background: transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-top: none;
}
.make-order #makeOrder .inputs-labels .product-dropdown a {
  color: #F9F6EE;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  font-weight: unset;
  font-size: 14px;
  padding: 19px 0;
  padding-left: 5px;
  opacity: 0.9;
  cursor: pointer;
}
.make-order #makeOrder .inputs-labels .product-dropdown a span {
  color: rgba(249, 246, 238, 0.8274509804);
  float: right;
  font-size: 12px;
  transform: translateY(2px) translateX(-10px);
}
.make-order #makeOrder .inputs-labels .product-dropdown a:hover {
  background: rgba(207, 206, 203, 0.2862745098);
}
.make-order #makeOrder .inputs-labels .product-dropdown a:active {
  background: rgba(207, 206, 203, 0.3411764706);
}
.make-order #makeOrder .inputs-labels .product-dropdown a::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(19px) translateX(0);
  position: absolute;
  left: 0;
}
.make-order #makeOrder .inputs-labels .product-dropdown a:last-child {
  border-radius: 4px;
}
.make-order #makeOrder .inputs-labels .product-dropdown a:last-child::after {
  display: none;
}
.make-order #makeOrder .inputs-labels .product-dropdown.active {
  display: block;
}

@media only screen and (min-device-width: 1145px) {
  #desNav.sticky .desktop-nav-content .menu .order a {
    background: #0088F9;
    color: #F9F6EE;
    border-color: transparent;
  }
  #desNav.sticky .desktop-nav-content .menu .order a:hover {
    background: #249cff;
  }
  #desNav.sticky .desktop-nav-content .menu .menu-main-links {
    color: #183b56;
  }
  #desNav.sticky .desktop-nav-content .menu .menu-main-links.no-drop:hover {
    border-bottom: 2px solid #183b56;
  }
  #desNav.sticky .desktop-nav-content .logo img.logo1 {
    display: none;
  }
  #desNav.sticky .desktop-nav-content .logo img.logo2 {
    display: block;
  }
  #desNav .desktop-nav-content .menu .order a {
    background: transparent;
    border: 1px solid #F9F6EE;
  }
  #desNav .desktop-nav-content .menu .order a:hover {
    background: #234a68;
  }
  #desNav .desktop-nav-content .menu .menu-main-links {
    color: #F9F6EE;
  }
  #desNav .desktop-nav-content .menu .menu-main-links.no-drop:hover {
    border-bottom: 2px solid #F9F6EE;
  }
  #desNav .desktop-nav-content .logo {
    transition: 0.3s;
    cursor: pointer;
  }
  #desNav .desktop-nav-content .logo img {
    height: auto;
    width: 117px;
  }
  #desNav .desktop-nav-content .logo img.logo1 {
    display: block;
  }
  #desNav .desktop-nav-content .logo img.logo2 {
    display: none;
  }
  #desNav .desktop-nav-content .logo:hover {
    transform: scale(1.05);
  }
  .order-page {
    background: linear-gradient(to top right, #183b56, #1e4664, #1e4664);
    width: 100%;
    height: 100%;
  }
  .order-page .order-guarantee {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 400px;
    border: 2px solid rgba(249, 246, 238, 0.5215686275);
    text-align: center;
    padding: 20px 14px;
    border-radius: 16px;
    border-top-right-radius: 0;
  }
  .order-page .order-guarantee h1, .order-page .order-guarantee p {
    color: #F9F6EE;
  }
  .order-page .order-guarantee h1 {
    font-size: 28px;
    margin-bottom: 27px;
  }
  .order-page .order-guarantee p {
    margin-top: 27px;
    font-size: 15px;
  }
  .make-order {
    background: transparent !important;
    padding-top: 0 !important;
    padding-block: 130px !important;
  }
  .make-order #makeOrder {
    padding-block: 0;
    transform: translateX(0);
    margin: unset;
  }
  .make-order #makeOrder .heading {
    color: #F9F6EE;
    font-size: 26px;
    font-weight: 600px;
    margin-bottom: 25px;
  }
  .make-order #makeOrder .order-not-login {
    background: rgba(35, 78, 110, 0.6862745098);
    padding: 13px;
    border-radius: 4px;
    transform: translateY(10px);
  }
  .make-order #makeOrder .order-not-login p {
    color: #F9F6EE;
    font-size: 17px;
  }
  .make-order #makeOrder .order-not-login a {
    padding: 10px;
    padding-left: 0;
    font-size: 15px;
    color: #F9F6EE;
    opacity: 0.8;
    text-decoration: unset;
    cursor: pointer;
  }
  .make-order #makeOrder .order-not-login a:hover {
    text-decoration: underline;
  }
  .make-order #makeOrder .form-actions {
    margin-top: 45px;
  }
  .make-order #makeOrder .form-actions button {
    border-radius: 4px;
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    height: unset !important;
    padding: 16px 20px;
    transition: all 0.2s ease-in-out;
    color: white;
    background: transparent;
    border: 2px solid rgba(249, 246, 238, 0.5215686275);
  }
  .make-order #makeOrder .inputs-labels label {
    color: #F9F6EE;
    font-size: 14px;
    font-weight: normal;
  }
  .make-order #makeOrder .inputs-labels input, .make-order #makeOrder .inputs-labels textarea {
    border-radius: 4px;
    padding: 5px;
    border: 2px solid rgba(249, 246, 238, 0.5215686275);
    outline: none;
    color: #F9F6EE;
    font-size: 13px;
    width: 82%;
    max-width: 500px;
    font-weight: unset;
    height: 45px;
    cursor: pointer;
    background: transparent;
  }
  .make-order #makeOrder .inputs-labels input:hover, .make-order #makeOrder .inputs-labels textarea:hover {
    filter: brightness(95%);
  }
  .make-order #makeOrder .inputs-labels input:focus, .make-order #makeOrder .inputs-labels textarea:focus {
    cursor: unset;
    filter: brightness(100%);
  }
  .make-order #makeOrder .inputs-labels textarea {
    height: 100px;
    min-height: 70px;
    max-height: 300px;
  }
  .make-order #makeOrder .inputs-labels .product-input {
    cursor: pointer;
  }
  .make-order #makeOrder .inputs-labels .product-input:hover {
    background: rgba(207, 206, 203, 0.2862745098);
  }
  .make-order #makeOrder .inputs-labels .product-input:active {
    background: rgba(207, 206, 203, 0.3411764706);
  }
  .make-order #makeOrder .inputs-labels .product-input.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .make-order #makeOrder .inputs-labels .product-arrow {
    color: #F9F6EE;
    transform: translateX(-25px) translateY(-2px);
    font-size: 16px;
    transition: 0.2s !important;
  }
  .make-order #makeOrder .inputs-labels .product-arrow.active {
    transform: rotateX(180deg) translateX(-25px) translateY(-4px);
    transform-origin: center center;
  }
  .make-order #makeOrder .inputs-labels .product-dropdown {
    position: relative;
    width: 82%;
    max-width: 500px;
    height: auto;
    background: transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-top: none;
  }
  .make-order #makeOrder .inputs-labels .product-dropdown a {
    color: #F9F6EE;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    font-weight: unset;
    font-size: 14px;
    padding: 19px 0;
    padding-left: 5px;
    opacity: 0.9;
    cursor: pointer;
  }
  .make-order #makeOrder .inputs-labels .product-dropdown a span {
    color: rgba(249, 246, 238, 0.8274509804);
    float: right;
    font-size: 12px;
    transform: translateY(2px) translateX(-10px);
  }
  .make-order #makeOrder .inputs-labels .product-dropdown a:hover {
    background: rgba(207, 206, 203, 0.2862745098);
  }
  .make-order #makeOrder .inputs-labels .product-dropdown a:active {
    background: rgba(207, 206, 203, 0.3411764706);
  }
  .make-order #makeOrder .inputs-labels .product-dropdown a::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(19px) translateX(0);
    position: absolute;
    left: 0;
  }
  .make-order #makeOrder .inputs-labels .product-dropdown a:last-child {
    border-radius: 4px;
  }
  .make-order #makeOrder .inputs-labels .product-dropdown a:last-child::after {
    display: none;
  }
  .make-order #makeOrder .inputs-labels .product-dropdown.active {
    display: block;
  }
}/*# sourceMappingURL=order.css.map */