{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/page/policy.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/page/pages.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/policy.js' %}" type="text/javascript"></script>

<div class="page">
    <p class="policy-q" id="policyQ">Policy</p>

    <div class="policy">

        <div class="text">
            <h1>Personvernpolicy</h1>
            <p>
                På vår nettside samler vi inn personlig informasjon fra våre brukere og bedriftspartnere. Formålet med å samle inn denne informasjonen er å kunne tilby en best mulig tjeneste og opplevelse for våre brukere.
                Vi tar personvernet ditt svært alvorlig, og har derfor implementert følgende policy for å beskytte dine personlige opplysninger.
                <br>
                <br>
                Vi samler inn personlig informasjon som navn, kontaktinformasjon og bedriftsinformasjon fra våre brukere og bedriftspartnere når de registrerer seg på vår nettside eller bruker våre tjenester. 
                Vi kan også samle inn informasjon om brukernes aktivitet på nettsiden, som for eksempel søkehistorikk og klikk. Vi samler ikke inn informasjon fra privatpersoner enda.
                Formålet med å samle inn denne informasjonen er å kunne tilby personaliserte tjenester, forbedre våre tjenester og øke sikkerheten på vår nettside.
                <br>
                <br>
                Vi deler ikke personlig informasjon med tredjeparter uten ditt samtykke, med unntak av i følgende tilfeller:
                <br>
                <br>
                Hvis det kreves av lov eller rettslige prosesser
                <br>
                <br>
                Hvis det er nødvendig for å beskytte våre brukeres sikkerhet eller eiendom
                <br>
                <br>
                Hvis det er nødvendig for å etterkomme en juridisk forpliktelse
                <br>
                <br>                
                Vi tar sikkerheten til dine personlige opplysninger svært alvorlig, og har implementert teknologi og sikkerhetsprosedyrer for å beskytte mot uautorisert tilgang, endring, videreformidling eller ødeleggelse av informasjonen.
                Vi forbeholder oss retten til å endre denne policyen når som helst, og vil offentliggjøre eventuelle endringer på vår nettside. 
                Det anbefales derfor at du besøker denne siden med jevne mellomrom for å holde deg oppdatert på vår personvernpolicy.
                <br>        
                <br>        
                Hvis du har spørsmål om vår personvernpolicy eller hvordan vi håndterer personlig informasjon, vennligst kontakt oss på e-post.
            </p>
        </div>
    </div>
</div>
{% endblock %}