{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/page/vilkår.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/page/pages.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/vilkår.js' %}" type="text/javascript"></script>

<div class="page">
    <p class="vilkår-q" id="vilkårQ">Vilkår & betingelser</p>

    <div class="vilkår">

        <div class="text">
            <h1>For privatpersoner</h1>
            <p>
                Vår nettside Lillehammer Tjenester (heretter kalt "nettstedet") er ment å tilby informasjon om tjenester og produkter tilgjengelig i Lillehammer-området.
                Ved å bruke nettstedet, godtar du å overholde disse vilkårene og betingelsene, samt gjeldende lover og reguleringer. 
                Hvis du ikke godtar disse vilkårene og betingelsene, skal du ikke bruke nettstedet.
                <br>
                <br>
                Nettstedet kan inneholde lenker til andre nettsteder som ikke eies eller kontrolleres av oss. 
                Vi har ingen kontroll over innholdet eller praksis til disse nettstedene og tar ikke ansvar for dem.
                Innholdet på nettstedet, inkludert tekst, bilder, logoer, grafikk og annet materiale, er beskyttet av opphavsrett og andre immaterielle rettigheter. 
                Du kan ikke bruke innholdet uten vår uttrykkelige tillatelse.
                <br>
                <br>
                Vi forbeholder oss retten til å endre eller fjerne innholdet på nettstedet uten varsel.
                Disse vilkårene og betingelsene kan endres. Dette vil du få varseø om. 
                Ved å fortsette å bruke nettstedet etter endringer i vilkårene og betingelsene, godtar du å være bundet av de nye vilkårene og betingelsene.
            </p>
        </div>

        <hr style="margin-block: 38px;">

        <div class="text">
            <h1>For bedrifter</h1>
            <p>
                Vår nettside Lillehammer Tjenester (heretter kalt "nettstedet") gir deg som bedrift muligheten til å profilere deg og dine tjenester for potensielle kunder i Lillehammer-området.
                Ved å registrere din bedrift på nettstedet, godtar du å overholde disse vilkårene og betingelsene, samt gjeldende lover og reguleringer. 
                Hvis du ikke godtar disse vilkårene og betingelsene, skal du ikke registrere din bedrift på nettstedet.
                <br>
                <br>
                Vi forbeholder oss retten til å avslå eller fjerne registreringer av bedrifter som bryter disse vilkårene og betingelsene.
                <br>
                <br>
                Du er ansvarlig for å holde informasjonen om din bedrift oppdatert og korrekt på nettstedet. Hvis du oppdaterer informasjonen deres, kan dere sende oss en mail med det nye riktige informasjonen.
                <br>
                <br>
                Vi tar ikke ansvar for eventuelle feil eller manglende informasjon som følge av at du ikke holder informasjonen din oppdatert.
                Disse vilkårene og betingelsene kan endres. Dette vil du som bedrift bli varslet om med engang. Ved å fortsette å være registrert på nettstedet etter endringer i vilkårene og betingelsene, godtar du å være bundet av de nye vilkårene og betingelsene.
                <br>
                <br>
            </p>
                <h2>Oppsummert for bedrifter</h2>
                <p>
                    Bedrifter må godkjenne våre vilkår og betingelser for å bli partner med oss.
                    <br>
                    <br>
                    Bedrifter må gi oss tilgang til deres informasjon for å kunne vise dette på vår nettside.
                    <br>
                    <br>
                    Bedrifter må holde seg oppdatert på informasjonen som vises på vår nettside for å sikre at det er korrekt. Dette kan gjøres ved å sende oss en e-post.
                    <br>
                    <br>
                    Bedrifter må gi oss tilbakemelding dersom det er endringer i deres tjenester eller kontaktinformasjon.
                    <br>
                    <br>
                    Bedrifter er ansvarlige for å overholde alle relevante lover og reguleringer i forbindelse med deres tjenester.
                <br>
                <br>
                Bedrifter samtykker i at vi kan fjerne deres profil fra nettsiden dersom de bryter våre vilkår og betingelser.
                Vår nettside er ikke ansvarlig for eventuelle skader eller tap som følge av tjenester levert av bedriftene som er listet på nettsiden.
            </p>
        </div>
    </div>
</div>
{% endblock %}