// standard phone
.page{
    min-height: 88vh;
}
// cover
.cover{
    height: auto;
    padding-top: 140px;
    padding-bottom: 40px;
    text-align: center;
    background: linear-gradient(to top right, white, white, #EDF3F8 85%, #EDF3F8 85%, white);
    .content{
        transform: translateY(0);
        .text{
            .cover-h1{
                i{
                    transition: .2s;
                    margin-right: 25px;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
// page content
.page-content{
    text-align: center;
    .text{
        padding-inline: 18px;
    }
    p{
        font-size: 15.5px;
    }
}
// desktop
@media only screen and (min-device-width: 1145px) {
    .cover{
        height: auto;
        .content{
            display: flex;
            .text{
                padding-inline: 95px;
                .cover-h1{
                  font-size: 46px;
                  i{
                    margin-right: 25px;
                  }
                }
                .cover-p{
                    font-size: 18px;
                }
            }
            .cover-section1{
            width: 100%;
            }
        }
    }
}