{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/store/blog.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">

   <!-- COVER -->
   <div class="cover" id="cover">
      <!-- ALL COVER CONENT -->
    <div class="content">
       <!-- COVER SECTION 1 -->
       <div class="cover-section1">
          <!-- ALL COVER TEXT -->
          <div class="text">
             <h1 class="cover-h1">Blogg</h1>
             <p class="cover-p"></p>
          </div>
       </div>
    </div>
 </div>

 <div class="blog-posts">
   {% for post in post %}
   <div class="post" onclick="window.location.href='{% url 'blog_post' post.id %}'">
         <!-- BLOG CARD -->
         <div class="blog-card">
            <!-- BLOG IMAGE SECTION -->
         <div class="blog-image">
            <!-- IMAGE -->
            <img src="{{ post.image.url }}" alt="webiser blog post">
         </div>
         <!-- BLOG IMAGE TEXT -->
         <div class="blog-image-text">
            <h1>{{ post.title }}</h1>
            <p>{{ post.short_text }}</p>
            <p>Skrevet av <strong>{{ post.author }}</strong> {{ post.created_at | date:"d F Y" }}</p>
         </div>
      </div>
   </div>
   {% empty %}
   {% endfor %}
 </div>
</div>
{% endblock %}