{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
   <!-- COVER -->
   <div class="cover" id="cover">
      <!-- ALL COVER CONENT -->
      <div class="content">
       <!-- COVER SECTION 1 -->
       <div class="cover-section1">
          <!-- ALL COVER TEXT -->
          <div class="text">
             <h1 class="cover-h1">Hosting</h1>
             <p class="cover-p">Vi tilbyr en hosting tjeneste til kunn 240kr/m. Hosting tjenesten kommer med Cpanel, som er inkl i prisen. Dersom du ønsker dette, må du fortelle oss dette under <i><strong>Har du noe å fortelle oss?</strong></i> når du skal sende inn bestillingen.</p>
            </div>
         </div>
    </div>
   </div>
</div>
{% endblock %}