// STANDARD PHONE
.cover{
  height: 480px;
  .content{
    .cover-image-div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 50px;
      img{
        margin-block: 15px;
        height: auto;
        width: 98%;
        max-width: 400px;
      }
    }
  }
}