html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.scroll-to {
  background: transparent;
}

.info {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.info h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 26px;
}

.info .info-text {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #000), to(transparent));
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.info .info-text p {
  padding-left: 8px;
  font-size: 14px;
  font-family: 'Sniglet', cursive;
  color: black;
  opacity: 0.8;
  line-height: 230%;
  word-spacing: 1.5px;
}

.info img {
  width: auto;
  height: 140px;
  float: right;
}

.info .info-actions {
  width: 100%;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
}

.info .info-actions a {
  width: 120px;
  padding: 10px;
  background: transparent;
  border-radius: 7px;
  border: 2px solid white;
  outline: none;
  color: white;
  text-align: center;
  background: #6a81df;
}

.skills {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.skills h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 26px;
}

.sites {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.sites h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 26px;
}

.ecommerce {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.ecommerce h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.ecommerce .content {
  background: #93acffa8;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
}

.ecommerce .content img {
  width: auto;
  height: 230px;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.icons {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  text-align: center;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.icons i {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: linear-gradient(135deg, #688bfc, #7996f8);
  font-size: 50px;
  padding: 15px;
  border-radius: 50px;
  color: white;
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons p {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  font-size: 15px;
  font-family: 'Sniglet', cursive;
  color: black;
  opacity: 0.8;
  margin-bottom: 10px;
}

.personal {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.personal .content {
  background: #93acffa8;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
}

.personal .content img {
  width: auto;
  height: 180px;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}

.personal h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.personal p {
  padding-left: 8px;
  font-size: 14px;
  font-family: 'Sniglet', cursive;
  color: black;
  opacity: 0.8;
  line-height: 230%;
  word-spacing: 1.5px;
}

.positive {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.positive .content {
  background: #93acffa8;
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
}

.positive .content .content-2 {
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(80px);
          transform: translateX(-50%) translateY(80px);
  background: white;
  width: 280px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.212);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.212);
}

.positive .content .content-2 h1 {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-size: 22px;
}

.positive .content .content-2 a {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: #1cd31c;
  font-size: 18px;
  margin: 10px;
  text-decoration: underline;
}

.positive h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.contact-us {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  text-align: left;
}

.contact-us.active form {
  opacity: 1;
}

.contact-us h1.heading {
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-weight: 700;
  font-size: 26px;
}

.contact-us p {
  font-size: 15px;
  font-family: 'Sniglet', cursive;
  color: black;
  opacity: 0.8;
  line-height: 190%;
}

.contact-us form {
  text-align: left;
  padding: 10px;
  margin-top: 0;
  opacity: 1;
  -webkit-transition: all ease-in .5s;
  transition: all ease-in .5s;
  position: relative;
  background: #e8edff;
  border-radius: 4px;
  max-width: 360px;
}

.contact-us form .form-tag-navn {
  font-size: 15px;
  color: #304792;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 20px;
  top: 24px;
  border-radius: 5px;
}

.contact-us form .form-tag-email {
  font-size: 15px;
  color: #304792;
  border-radius: 5px;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 20px;
  top: 88px;
}

.contact-us form .form-tag-message {
  font-size: 15px;
  color: #304792;
  background: #e8edff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 2px;
  position: absolute;
  left: 20px;
  top: 152px;
  border-radius: 5px;
}

.contact-us form textarea {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 3px;
  padding-top: 5px;
  height: 100px;
  outline: none;
  font-size: 15px;
}

.contact-us form input {
  width: 100%;
  border: 2px solid #3c54a0;
  border-radius: 4px;
  padding: 7px;
  outline: none;
  font-size: 15px;
}

.contact-us form .form-actions {
  margin-top: 25px;
}

.contact-us form .form-actions button {
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  padding: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: white;
  outline: none;
  background: linear-gradient(135deg, #5a7ef5, #607bd3);
  -webkit-box-shadow: 1.5px 3px 2px #3c54a0;
          box-shadow: 1.5px 3px 2px #3c54a0;
  border: 2px solid transparent;
}

.contact-us form .form-actions button:hover {
  background: white;
  color: black;
}

@media only screen and (min-device-width: 768px) {
  .contact-us form {
    max-width: 560px;
  }
  .contact-us form .form-tag-navn {
    left: 20px;
    top: 24px;
  }
  .contact-us form .form-tag-email {
    left: 20px;
    top: 92px;
  }
  .contact-us form .form-tag-message {
    left: 20px;
    top: 165px;
  }
  .contact-us form input {
    padding: 10px;
  }
}
/*# sourceMappingURL=base.css.map */