$primaryColor: #2d9cb3;
$dark:#000;
$gold:#D4AF37;
$loader: rgb(80, 104, 180);


// // // STANDARD PHONE
// INTRO
.intro{
  background: white;
  width: 100%;
  height: auto;
  margin-top: 55px;
  .content{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 4px solid #0088F9;
    border-radius: 0.45rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    .card{
      transform: translateY(25px);
      border: none;
      width: 50%;
      height: auto;
      padding: 10px;
      text-align: center;
      &:nth-child(3){
        transform: translateY(46px);
      }
      &:nth-child(4){
        transform: translateY(48px);
      }
      h1{
        font-size: 24px;
        color: #183B56;
        font-weight: 800;
      }
      p{
        font-size: 16px;
        color: #183B56;
        opacity: 0.9;
      }
    }
  }
}

// SITES
.sites{
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  h1{
    &.heading{
      padding-left: 8px;
      margin-bottom: 15px;
      margin-top: 10px;
      width: 100%;
      font-family: 'Lato', sans-serif;
      color: black;
      font-size: 24px;
    }
  }
  .product-flex-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .card{
      margin: 5px 5px;
      height: auto;
      width: 45%;
      max-width: 415px;
      border: none;
      outline: none;
      border-radius: 7px;
      padding-bottom: 20px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.082);
      .product-name{
        font-size: 18px;
        transform: translateY(20px) translateX(10px);
        position: relative;
        &::after{
          content: '';
          display: block;
          transform: translateY(45px);
          width: 80%;
          height: 3px;
          background: rgb(28, 211, 28);
        }
      }
      .product-price{
        font-size: 13px;
        transform: translateY(30px) translateX(10px);
        position: relative;
      }
      .included{
        width: 100%;
        transform: translateY(40px);
        padding: 10px;
        ul{
          overflow: hidden; 
          overflow-y: scroll;
          height: 100px;
          -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
          li{
            opacity: 0.7;
            margin: 0;
            list-style: none;
            font-size: 14px;
            &::before{
              content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
              color: rgb(28, 211, 28); /* Change the color */
              font-weight: bold; /* If you want it to be bold */
              display: inline-block; /* Needed to add space between the bullet and the text */
              width: 1em; /* Also needed for space (tweak if needed) */
            }
          }
        }
      }
      .product-actions{
        transform: translateY(10px) translateX(120px);
        a{
          color: rgb(28, 211, 28);
          font-size: 25px;
        }
      }
    }
  }
}
// LANGUAGES
.languages{
  background: transparent;
  width: 100%;
  height: auto;
  text-align: center;
  i{
    margin: 15px;
    font-size: 38px; 
    color: rgba(0, 0, 0, 0.411);
  }
}
// POSITIVE
.positive{
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  .content{
    background: #93acffa8;
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    .content-2{
      text-align: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%) translateY(80px);
      background: white;
      width: 280px;
      height: auto;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.212);
      h1{
        margin-bottom: 15px;
        margin-top: 10px;
        width: 100%;
        font-family: 'Sniglet', cursive;
        color: black;
        font-size: 22px;
      }
      a{
        margin-bottom: 15px;
        margin-top: 10px;
        width: 100%;
        font-family: 'Sniglet', cursive;
        color: rgb(28, 211, 28);
        font-size: 18px;
        margin: 10px;
        text-decoration: underline;
      }
    }
  }
  h1{
    &.heading{
      padding-left: 8px;
      margin-bottom: 15px;
      margin-top: 10px;
      width: 100%;
      font-family: 'Sniglet', cursive;
      color: black;
      font-weight: bold;
      font-size: 26px;
    }
  }
}
// CONTACT US
.contact-us-home{
  background: rgba(0, 0, 0, 0.89);
  width: 100%;
  height: 500px;
  text-align: left;
  h1{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    &.heading{
      font-size: 26px;
    }
  }
  a{
    padding-left: 15px;
    i{
      transform: translateY(10px) translateX(20px);
      font-size: 18px;
      color: white;
    }
  }
}
// // TABLET
@media only screen and (min-device-width: 768px) {
// CONTACT US
.contact-us{
  form{
    max-width: 560px;
    .form-tag-navn{
      left: 20px;
      top: 24px;
    }
    .form-tag-email{
      left: 20px;
      top: 92px;
    }
    .form-tag-message{
      left: 20px;
      top: 165px;
    }
    input{
      padding: 10px;
    }
  }
}
}
// // SMALL DESKTOP
@media only screen and (min-device-width: 1024px) {

}
