$primaryColor: #2d9cb3;
$dark:#000;
$gold:#D4AF37;
$loader: rgb(80, 104, 180);


// // // STANDARD PHONE
.border-div{
  width: 100%;
  padding: 25px;
  .line{
    width: 100%;
    height: 1.2px;
    background-color: #e5eaf4;    
    border-radius: 20px;
  }
  &.why-sell{
    margin-block: 40px;
    margin-block-end: 30px;
  }
  &.sell-proccess{
    margin-block: 10px;
    .line{
      height: 1.1px;
    }
  }
  &.proccess-conversions{
    margin-block: 5px;
    margin-block-end: 15px;
  }
  &.conversions-quote{
    margin-block: 5px;
    .line{
      width: 0;
      height: 0;
    }
  }
  &.quote-prices{
    margin-top: 60px;
    margin-bottom: -20px;
  }
}
// INTRO
.intro{
  background: white;
  width: 100%;
  height: auto;
  margin-top: 60px;
  padding: 5px;
  .content{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 4px solid #0088F9;
    border-radius: 0.45rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    .card{
      transform: translateY(20px);
      border: none;
      width: 50%;
      height: auto;
      padding: 3px;
      text-align: center;
      &:nth-child(3){
        transform: translateY(32px);
      }
      &:nth-child(4){
        transform: translateY(34px);
      }
      h1{
        font-size: 23px;
        color: #183B56;
        font-weight: 800;
        text-shadow: 0.5px 0 #183B56;
        letter-spacing: 0.5px;    
      }
      p{
        font-size: 16px;
        color: #183B56;
        opacity: 0.9;
        font-weight: 500;
        width: 100%;
      }
    }
  }
}
// WHY WEBISER
.why-webiser{
  background: white;
  width: 100%;
  height: auto;
  margin-top: 80px;
  padding: 17px;
  position: relative;
  .content{
    .text{
      text-align: center;
      .why-webiser-headingp{
        font-size: 14px;
        line-height: 15.75px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #5a7386;
        margin-bottom: 1rem;
      }
      h1{
        transform: translateY(7px);
        color: #183B56;
        text-shadow: 1px 0 #183B56;
        letter-spacing:1px;    
        font-size: 26px;
        font-weight: 800;
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 45px;
        line-height: 2.8125rem;
        letter-spacing: -1px;
        margin-bottom: 32px;
      }
      .why-webiser-long-ptext{
        transform: translateY(30px);
        box-sizing: border-box;
        color: rgb(90, 115, 134);
        display: block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: auto;
        line-height: 27px;
        margin-block-end: 32px;
        margin-block-start: 0px;
        margin-bottom: 0;
        margin-inline-end: 0px;
        margin-inline-start: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
      }
    }
  }
}
// SELL
.sell-anything{
  background: white;
  width: 100%;
  height: auto;
  padding: 25px;
  .content{
    .text{
      text-align: left;
      margin-bottom: 45px;
      position: relative;
      h1{
        color: #183B56;
        font-size: 24px;
        font-weight: 800;
        text-shadow: 1px 0 #183B56;
        letter-spacing:1px; 
      }
    }
    .card{
      margin-block: 34px;
      height: auto;
      padding: 25px;
      width: 100%;
      max-width: 400px;
      border-radius: 14px;
      border: none;
      background-color: rgba(255, 255, 255, 0.918);
      box-shadow: 0 0 6px 2px rgba(130, 130, 130, 0.2);
      .card-content{
        display: flex;
        .icon{
          width: 25%;
          height: auto;
          display: flex;
          justify-content: center;
          i{
            color: #0088F9;
            font-size: 32px;
            transform: translateX(-15px);
          }
        }
        .card-text{
          width: 75%;
          text-align: left;
          transform: translateX(7px);
          h1{
            color: #183B56;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px;    
            font-size: 18px;
            font-weight: 800;
            letter-spacing: 0.3px; 
          }
          p{
            box-sizing: border-box;
            color: rgb(90, 115, 134);
            display: block;
            font-family: Inter, sans-serif;
            font-size: 16px;
            font-weight: 400;
            height: auto;
            line-height: 27px;
            margin-block-end: 32px;
            margin-block-start: 0px;
            margin-bottom: 0;
            margin-inline-end: 0px;
            margin-inline-start: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
          }
        }
      }
    }
  }
  // WEBSITE BENEFITS
  .website-benefits{
    width: 100%;
    height: auto;
    .content{
      text-align: left;
      .flex{
        width: 100%;
        display: flex;
        margin-block: 27px;
        .icon{
          border-radius: 50%;
          padding: 1.5px 6px;
          background: rgba(16, 180, 38, 0.15);
          i{
            color: rgb(28, 211, 28);
            font-size: 15px;
          }
        }
        p{
          font-size: 16px;
          color: #1B1B1B;
          margin: 0 15px;
          opacity: 0.8;
          transform: translateY(1px);
        }
      }
    }
  }
}
// PROCCESS
.proccess{
  background: white;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 25px;
  .content{
    .text{
      text-align: left;
      margin-bottom: 45px;
      position: relative;
      h1{
        color: #183B56;
        font-size: 36px;
        font-weight: 800;
        text-shadow: 1px 0 #183B56;
        letter-spacing:1px; 
        transform: translateY(12px);
      }
    }
    .proccess-card{
      margin-block: 25px;
    }
    .proccess-image{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 6px;
      width: 100%;
      img{
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.164);
        width: 100%;
        height: auto;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 6px;
        filter: brightness(90%);
        margin: 15px auto;
      }
      .ribbon-number{
        position: absolute;
        right: 30px;
        top: -5px;
        width: 40px;
        height: 40px;
        padding: 10px;
        background: #007be0;
        font-size: 22px;
        color: white;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }
    }
    .proccess-image-text{
      width: 100%;
      transform: translateY(3px);
      &::before{
        content: '';
        display: block;
        position: absolute;
        height: 28px;
        width: 4px;
        background: #183b56bd;
        border-radius: 12px;
      }
      h1{
        transform: translateX(20px);
        font-size: 20px;
        font-weight: 600;
      }
      p{
        transform: translateX(20px) translateY(-3px);
        font-size: 15.3px;
        letter-spacing: 0.2px;
        opacity: 0.8;
        box-sizing: border-box;
        display: block;
        font-family: Inter, sans-serif;
        font-size: 15.5px;
        font-weight: 400;
        height: auto;
        line-height: 27px;
        width: auto;
        padding-right: 10px;
      }
    }
  }
}
// BOOST CONVERSIONS
.boost-conversions{
  background: white;
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 25px;
  .content{
    img{
      margin-block: 15px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
      width: 110%;
      max-width: 400px;
    }
    .text{
      text-align: left;
      .boost-headingp{
        font-size: 14px;
        line-height: 15.75px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #5a7386;
        margin-bottom: 1rem;
      }
      h1{
        transform: translateY(7px);
        color: #183B56;
        text-shadow: 1px 0 #183B56;
        letter-spacing:1px;    
        font-size: 30px;
        font-weight: 800;
      }
      .boost-longp{
        transform: translateY(21px);
        box-sizing: border-box;
        color: rgb(90, 115, 134);
        display: block;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  // BOOST BENEFITS
  .boost-benefits{
    width: 100%;
    height: auto;
    margin-top: 0;
    .content{
      text-align: left;
      margin-top: 42px;
      .flex{
        width: 100%;
        display: flex;
        margin-block: 27px;
        .icon{
          border-radius: 50%;
          padding: 1.5px 6px;
          background: rgba(16, 180, 38, 0.15);
          i{
            color: rgb(28, 211, 28);
            font-size: 15px;
          }
        }
        p{
          font-size: 16px;
          color: #1B1B1B;
          margin: 0 15px;
          opacity: 0.8;
          transform: translateY(1px);
        }
      }
    }
  }
}
// CUSTOMER QUOUTE
.customer-quote{
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 25px;
  transition: .2s;
  position: relative;
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #daeeff;
    z-index: -1;
  }
  .carousel-indicators{
    position: absolute;
    bottom: -65px;
    border-radius: 20px;
    li{
      background-color: #008cff;
      transition: .2s;
      &.active{
        width: 15px;
      }
    }
  }
  a{
    color: white;
    background: rgba(0, 0, 0, 0.473);
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
  }
  .content{
    transition: .2s;
    h1{
      font-weight: 800;
      font-size: 42px;
      padding-bottom: 5px;
      font-style: italic;
      height: 220px;
      span{
        border-bottom: 3px solid #0088F9;
      }
    }
    .img{
      position: relative;
      img{
        width: 100%;
        max-width: 420px;
        height: auto;
      }
      p{
        background: rgba(0, 0, 0, 0.612);
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        padding: 8px;
        color: white;
      }
    }
  }
}
// PRICES
.prices{
  background: white;
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 25px;
  .content{
    width: 100%;
    img{
      margin-block: 15px;
      position: relative;
      left: 50%;
      transform: translateX(-52%);
      height: auto;
      width: 110%;
      max-width: 400px;
    }
    .text{
      text-align: left;
      .price-headingp{
        font-size: 14px;
        line-height: 15.75px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #5a7386;
        margin-bottom: 1rem;
      }
      h1{
        transform: translateY(7px);
        color: #183B56;
        text-shadow: 1px 0 #183B56;
        letter-spacing:1px;    
        font-size: 30px;
        font-weight: 800;
      }
    }
    // CHOOSE PRODUCT
    .choose-type-of-product-flex{
      transform: translateY(25px);
      display: flex;
      opacity: 1;
      pointer-events: visible;
      width: 100%;
      height: max-content;
      transition: .3s;
      &.hide{
        pointer-events: none;
        opacity: 0;
        height: 0;
      }
      p{
        opacity: 0.6;
        margin-inline: 18px;
        margin-block: 0;
        width: 80px;
        padding: 7px;
        text-align: center;
        font-size: 15px;
        transition: .2s;
        transition: background-color 0;
        border-radius: 28px;
        &.click{
          padding: 18px;
        }
        &#pers{
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
        &#blog{
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
        &#eco{
          margin-left: 0;
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
      }
    }
    // CHOOSE PRODUCT BLOG
    .choose-type-of-productblog-flex{
      display: flex;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 0;
      transform: translateY(25px);
      position: relative;
      left: -20px;
      &.show{
        left: 0px;
        pointer-events: visible;
        opacity: 1;
        height: max-content;
        transition: .3s;
      }
      i{
        font-size: 25px;
        color: #0088F9;
        text-align: center;
        padding: 7px;
      }
      p{
        opacity: 1;
        margin-left: 12px;
        margin-block: 0;
        border-radius: 28px;
        width: 80px;
        padding: 7px;
        text-align: center;
        font-size: 15px;
        transition: .2s;
        transition: background-color 0;
        background-color: #0088F9;
        color: white;
      }
    }
    // CHOOSE PRODUCT PERSONAL
    .choose-type-of-productpers-flex{
      display: flex;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 0;
      transform: translateY(25px);
      position: relative;
      left: -20px;
      &.show{
        left: 0px;
        pointer-events: visible;
        opacity: 1;
        height: max-content;
        transition: .3s;
      }
      i{
        font-size: 25px;
        color: #0088F9;
        text-align: center;
        padding: 7px;
      }
      p{
        opacity: 1;
        margin-left: 12px;
        margin-block: 0;
        border-radius: 28px;
        width: 80px;
        padding: 7px;
        text-align: center;
        font-size: 15px;
        transition: .2s;
        transition: background-color 0;
        background-color: #0088F9;
        color: white;
      }
    }
    // CHOOSE PRODUCT ECOMMERCE
    .choose-type-of-producteco-flex{
      display: flex;
      opacity: 0;
      pointer-events: none;
      min-width: 100%;
      height: 0;
      transform: translateY(25px);
      position: relative;
      left: -20px;
      &.show{
        left: 0px;
        pointer-events: visible;
        opacity: 1;
        height: max-content;
        transition: .3s;
      }
      i{
        font-size: 25px;
        color: #0088F9;
        text-align: center;
        padding: 7px;
      }
      p{
        opacity: 0.6;
        margin-inline: 18px;
        margin-block: 0;
        border-radius: 28px;
        width: 80px;
        padding: 7px;
        text-align: center;
        font-size: 15px;
        transition: .2s;
        transition: background-color 0;
        &.click{
          transform: scale(1.3);
        }
        &#big{
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
        &#middle{
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
        &#small{
          margin-left: 12px;
          background-color: #0088F9;
          color: white;
          opacity: 1;
          &.active{
            background-color: #0088F9;
            color: white;
            opacity: 1;
          }
          &.unactive{
            background-color: transparent;
            opacity: 0.6;
            color: black;
          }
        }
      }
    }
    .product-section{
      margin-top:20px;
      // BLOG PRODUCT
      .productblog{
        margin: 40px 0;
        text-align: left;
        background: transparent;
        width: 100%;
        max-width: 340px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
        padding: 28px;
        border-radius: 10px;
        .product-row-one{
          width: 100%;
          display: flex;
          position: relative;
          .product-name{                
            width: 88%;
            font-size: 23px;
            color: #183B56;
            font-weight: 800;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px; 
          }
          .product-price{
            color: black;
            opacity: 0.5;
            font-size: 15px;
            width: 12%;
            transform: translateY(3px) translateX(-18px);
            border-bottom: 2px solid #0088F9;
          }
        }
        .product-row-two{
          width: 100%;
          transform: translateY(0);
          .flex{
            width: 100%;
            display: flex;
            margin-block: 16px;
            transform: translateX(-6px);
            .icon{
              transform: translateY(-5px);
              i{
                color: rgb(28, 211, 28);
                font-size: 13px;
              }
            }  
            p{
              font-size: 14px;
              color: #1B1B1B;
              margin: 0 15px;
              opacity: 0.8;
              transform: translateY(1px);
            }
          }
        }
        p{
          color: #183B56;
          font-size: 15px;
          width: 100%;
          span{
            font-weight: 800;
          }
      }
        &.blog{
          display: none;
          transition: .2s;
          transform: scale(0.9);
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(3px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
      }
      // PERS PRODUCT
      .productpers{
        margin: 40px 0;
        text-align: left;
        background: transparent;
        width: 100%;
        max-width: 340px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
        padding: 28px;
        border-radius: 10px;
        .product-row-one{
          width: 100%;
          display: flex;
          position: relative;
          .product-name{                
            width: 88%;
            font-size: 23px;
            color: #183B56;
            font-weight: 800;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px; 
          }
          .product-price{
            color: black;
            opacity: 0.5;
            font-size: 15px;
            width: 12%;
            transform: translateY(3px) translateX(-18px);
            border-bottom: 2px solid #0088F9;
          }
        }
        .product-row-two{
          width: 100%;
          transform: translateY(0);
          .flex{
            width: 100%;
            display: flex;
            margin-block: 16px;
            transform: translateX(-6px);
            .icon{
              transform: translateY(-5px);
              i{
                color: rgb(28, 211, 28);
                font-size: 13px;
              }
            }  
            p{
              font-size: 14px;
              color: #1B1B1B;
              margin: 0 15px;
              opacity: 0.8;
              transform: translateY(1px);
            }
          }
        }
        p{
          color: #183B56;
          font-size: 15px;
          width: 100%;
          span{
            font-weight: 800;
          }
      }
        &.pers{
          display: none;
          transition: .2s;
          transform: scale(0.9);
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(3px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
      }
      // ECOMMERCE PRODUCT
      .producteco{
        margin: 40px 0;
        text-align: left;
        background: transparent;
        width: 100%;
        max-width: 340px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.224);
        padding: 28px;
        border-radius: 10px;
        .product-row-one{
          width: 100%;
          display: flex;
          position: relative;
          .popular{
            position: absolute;
            top: 50px;
            background: linear-gradient(to bottom right, #0088F9, #005091);
            border-radius: 4px;
            h1{
              color: white;
              font-weight: bold;
              font-size: 13px;
              padding: 5px;
              padding-inline: 12px;
              transform: translateY(3px);
            }
          }
          .product-name{                
            width: 88%;
            font-size: 23px;
            color: #183B56;
            font-weight: 800;
            text-shadow: 1px 0 #183B56;
            letter-spacing:1px; 
          }
          .product-tag{
            color: #0088F9;
            font-size: 13px;
            transform: translateY(10px) translateX(10px);
          }
          .product-price{
            color: black;
            opacity: 0.5;
            font-size: 15px;
            width: 12%;
            transform: translateY(3px) translateX(-18px);
            border-bottom: 2px solid #0088F9;
          }
        }
        .product-row-two{
          width: 100%;
          transform: translateY(0);
          .flex{
            width: 100%;
            display: flex;
            margin-block: 16px;
            transform: translateX(-6px);
            .icon{
              i{
                color: rgb(28, 211, 28);
                font-size: 13px;
              }
            }
            .icon-same{
              margin-right: 15px;
              background: rgba(0, 0, 0, 0.834);
              transform: translateY(10px) translateX(8px);
              height: 2px;
              width: 12px;
            }
            
            p{
              font-size: 14px;
              color: #1B1B1B;
              margin: 0 15px;
              opacity: 0.8;
              transform: translateY(1px);
            }
          }
        }
        p{
          color: #183B56;
          font-size: 15px;
          width: 100%;
          span{
            font-weight: 800;
          }
      }
        &.small{
          display: none;
          transition: .2s;
          transform: scale(0.9);
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(3px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
        &.middle{
          display: none;
          transform: scale(0.9);
          transition: .2s;
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(0px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
        &.big{
          display: none;
          transform: scale(0.9);
          transition: .2s;
          .flex{
            .icon{
              padding: 0 5.5px;
              padding-bottom: 0;
              i{
                transform: translateY(0px);
              }
            }
            p{
              transform: translateX(-7px);
            }
          }
          &.active{
            display: block;
          }
          &.scale{
            transform: scale(1);
          }
        }
      }
    }
  }
}
// // TABLET
@media only screen and (min-device-width: 768px) {

}
// // SMALL DESKTOP
@media only screen and (min-device-width: 1024px) {

}
