.intro {
  background: transparent;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  position: relative;
}

.intro .square::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background: #f85032;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #829efc33));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, #829efc33 50%);
}

.intro .square::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  background: #f85032;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #829efc1c), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, #829efc1c 50%, rgba(255, 255, 255, 0) 50%);
}

.intro .content .intro-img1 {
  z-index: 90;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-65px);
          transform: translateX(-50%) translateY(-65px);
  -webkit-transition: .8s;
  transition: .8s;
}

.intro .content h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 24px;
}

.intro .content #benefits.active li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.intro .content #benefits li {
  opacity: 0;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
  padding-left: 8px;
  font-size: 15px;
  width: 95%;
  font-family: 'Lato', sans-serif;
  color: black;
  margin: 9px 0;
  list-style: none;
}

.intro .content #benefits li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #1cd31c;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
}

.intro .content #benefits li:nth-child(1) {
  -webkit-transition: .6s;
  transition: .6s;
}

.intro .content #benefits li:nth-child(2) {
  -webkit-transition: .8s;
  transition: .8s;
}

.intro .content #benefits li:nth-child(3) {
  -webkit-transition: 1s;
  transition: 1s;
}

.intro .content #benefits li:nth-child(4) {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.intro .content #benefits li:nth-child(5) {
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.intro .content #benefits li:nth-child(6) {
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

.intro .content #benefits li:nth-child(7) {
  -webkit-transition: 1.8s;
  transition: 1.8s;
}

.intro .content #benefits li:nth-child(8) {
  -webkit-transition: 2s;
  transition: 2s;
}

.intro .content #benefits li:nth-child(9) {
  -webkit-transition: 2.2s;
  transition: 2.2s;
}

.restaurant-example {
  background: transparent;
  width: 100%;
  height: auto;
  position: relative;
}

.restaurant-example img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-width: 900px;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  z-index: 10;
}

.restaurant-example .content {
  text-align: center;
}

.restaurant-example .content .text {
  position: absolute;
  top: 120px;
}

.restaurant-example .content .text h1 {
  color: #f0f0f0;
  font-size: 34px;
  font-family: 'Alata', sans-serif;
  font-weight: bold;
  text-shadow: 0.3px 0.3px 1px white;
}

.restaurant-example .content .text p {
  color: #f0f0f0;
  font-size: 18px;
  font-family: 'Alata', sans-serif;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.restaurant-example .content .restaurant-example-actions {
  position: absolute;
  top: 320px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.restaurant-example .content .restaurant-example-actions a {
  padding: 10px;
  background: transparent;
  border-radius: 7px;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  background: #1cd31c;
}

.sites {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.sites h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 24px;
}

.sites .product-flex-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.sites .product-flex-section .card {
  margin: 5px 5px;
  height: auto;
  width: 45%;
  max-width: 415px;
  border: none;
  outline: none;
  border-radius: 7px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.082);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.082);
}

.sites .product-flex-section .card .product-name {
  font-size: 18px;
  -webkit-transform: translateY(20px) translateX(10px);
          transform: translateY(20px) translateX(10px);
  position: relative;
}

.sites .product-flex-section .card .product-name::after {
  content: '';
  display: block;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  width: 80%;
  height: 3px;
  background: #1cd31c;
}

.sites .product-flex-section .card .product-price {
  font-size: 13px;
  -webkit-transform: translateY(30px) translateX(10px);
          transform: translateY(30px) translateX(10px);
  position: relative;
}

.sites .product-flex-section .card .included {
  width: 100%;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  padding: 10px;
}

.sites .product-flex-section .card .included ul {
  overflow: hidden;
  overflow-y: scroll;
  height: 100px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #000), to(transparent));
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.sites .product-flex-section .card .included ul li {
  opacity: 0.7;
  margin: 0;
  list-style: none;
  font-size: 14px;
}

.sites .product-flex-section .card .included ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #1cd31c;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
}

.sites .product-flex-section .card .product-actions {
  -webkit-transform: translateY(10px) translateX(120px);
          transform: translateY(10px) translateX(120px);
}

.sites .product-flex-section .card .product-actions a {
  color: #1cd31c;
  font-size: 25px;
}

.languages {
  background: transparent;
  width: 100%;
  height: auto;
  text-align: center;
}

.languages i {
  margin: 15px;
  font-size: 38px;
  color: rgba(0, 0, 0, 0.411);
}

.positive {
  background: transparent;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.positive .content {
  background: #93acffa8;
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
}

.positive .content .content-2 {
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(80px);
          transform: translateX(-50%) translateY(80px);
  background: white;
  width: 280px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.212);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.212);
}

.positive .content .content-2 h1 {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-size: 22px;
}

.positive .content .content-2 a {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: #1cd31c;
  font-size: 18px;
  margin: 10px;
  text-decoration: underline;
}

.positive h1.heading {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  font-family: 'Sniglet', cursive;
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.contact-us-home {
  background: rgba(0, 0, 0, 0.89);
  width: 100%;
  height: 500px;
  text-align: left;
}

.contact-us-home h1 {
  color: white;
  font-size: 18px;
  padding-left: 10px;
}

.contact-us-home h1.heading {
  font-size: 26px;
}

.contact-us-home a {
  padding-left: 15px;
}

.contact-us-home a i {
  -webkit-transform: translateY(10px) translateX(20px);
          transform: translateY(10px) translateX(20px);
  font-size: 18px;
  color: white;
}

@media only screen and (min-device-width: 768px) {
  .contact-us form {
    max-width: 560px;
  }
  .contact-us form .form-tag-navn {
    left: 20px;
    top: 24px;
  }
  .contact-us form .form-tag-email {
    left: 20px;
    top: 92px;
  }
  .contact-us form .form-tag-message {
    left: 20px;
    top: 165px;
  }
  .contact-us form input {
    padding: 10px;
  }
}
/*# sourceMappingURL=base.css.map */