$primaryColor: #2d9cb3;
$dark:#000;
$gold:#D4AF37;


html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
// STANDARD PHONE

#navBarSpace{
  display: none;
}
.services{
  background: white;
  width: 100%;
  height: auto;
  padding: 15px;
  padding-top: 40px;
  text-align: center;
  position: relative;
  transition: all ease-in .5s;
  &.active{
    .icon{
      opacity: 1;
      transform: translateY(0);
    }
  }
  h1{
    font-size: 26px;
    color: rgb(15, 15, 15);
    margin-top: 32px;
    margin-bottom: 40px;
    &.heading{
      font-family: 'Arima Madurai', cursive;
    }
     &#servicesFirstText{
      font-weight: unset;
    }
  }
  .border{
    background: rgb(100, 100, 100);
    height: 2px;
    width: 65%;
    margin: 20px auto;
    transform: translateY(20px);
  }
  .icon{
    margin-bottom: 15px;
    width: 45%;
    height: auto;
    padding: 5px;
    display: inline-table;
    position: relative;
    opacity: 0;
    transition: all ease-in .5s;
    transform: translateY(40px);
    i{
      margin: 30px;
      margin-bottom: -15px;
      padding: 20px;
      color: rgb(245, 245, 245);
      font-size: 50px;
      background: rgb(120, 144, 220);
      border-radius: 25px;
    }
    h1{
      font-size: 16px;
      color: black;
      padding: 5px;
      margin-bottom: 10px;
    }
    p{
      display: none;
    }
    button{
      margin-top: 10px;
      border-radius: 30px;
      border: 2px solid transparent;
      color: rgb(30, 30, 30);
      width: 100px;
      font-size: 15px;
      padding: 5px;
      transition: all .2s ease-in-out;
      background: rgb(72, 90, 185);
      color: white;
      outline: none;
      &.active{
        background: white;
        color: black;
        border-color: black;
      }
    }
  }
}
.product-section{
  background: white;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 15px;
  padding-top: 40px;
  position: relative;
  .border{
    background: rgb(100, 100, 100);
    height: 2px;
    width: 65%;
    margin: 20px auto;
    transform: translateY(20px);
  }
  &.active{
    .product-card{
      opacity: 1;
      transform: translateY(0);
    }
  }
  h1{
    font-size: 26px;
    color: rgb(15, 15, 15);
    margin-bottom: 60px;
    &.heading{
      font-family: 'Arima Madurai', cursive;
    }
  }
  .product-card{
    margin: 30px auto;
    border-radius: 5%;
    background: rgb(72, 90, 185);
    padding: 5px;
    opacity: 0;
    transition: all ease-in .5s;
    transform: translateY(40px);
    max-width: 320px;
    box-shadow: 0px 3px 7px rgb(50, 50, 50);
    .text{
      .product-name{
        font-size: 22px;
        color: white;
      }
      p{
        color: white;
        text-align: left;
        transform: translateX(23px);
      }
      .product-price{
        font-size: 18px;
        opacity: 0.8;
        color: white;
      }
    }
  }
}
.proccess{
  background: white;
  width: 100%;
  height: auto;
  padding: 30px;
  text-align: center;
  position: relative;
  &.active{
    .content{
      .class-1{
        opacity: 1;
        transform: translateY(0);
        transition: all ease-in .2s;
      }
      .class-2{
        opacity: 1;
        transform: translateY(0);
        transition: all ease-in .6s;
      }
      .class-3{
        opacity: 1;
        transform: translateY(0);
      transition: all ease-in .8s;
    }
    .class-4{
      opacity: 1;
      transform: translateY(0);
      transition: all ease-in 1s;
    }
    .class-5{
      opacity: 1;
      transform: translateY(0);
      transition: all ease-in 1.2s;
    }
  }
}
  .border{
    background: rgb(100, 100, 100);
    height: 2px;
    width: 65%;
    margin: 20px auto;
    transform: translateY(20px);
  }
  h1{
    font-size: 26px;
    color: rgb(15, 15, 15);
    margin-bottom: 55px;
    margin-top: 10px;
    &.heading{
      font-family: 'Arima Madurai', cursive;
    }
  }
  .content{
    width: 100%;
    height: auto;
    margin: 0;
    .class-1{
      opacity: 0;
      margin: 35px auto;
      transform: translateY(40px);
      h1{
        font-size: 18px;
        margin-bottom: 10px;
      }
      img{
        width: 250px;
        height: auto;
        border-radius: 15px;
        border: 1px solid rgb(120, 144, 220);
      }
      p{
        margin-top: 5px;
        font-size: 15px;
      }
    }
    .class-2{
      opacity: 0;
      margin: 35px auto;
      transform: translateY(40px);
      h1{
        font-size: 18px;
        margin-bottom: 10px;
      }
      img{
        width: 250px;
        height: auto;
        border-radius: 15px;
        border: 1px solid rgb(120, 144, 220);
      }
      p{
        margin-top: 5px;
        font-size: 15px;
      }
    }
    .class-3{
      opacity: 0;
      margin: 35px auto;
      transform: translateY(40px);
      h1{
        font-size: 18px;
        margin-bottom: 10px;
      }
      img{
        width: 250px;
        height: auto;
        border-radius: 15px;
        border: 1px solid rgb(120, 144, 220);
      }
      p{
        margin-top: 5px;
        font-size: 15px;
      }
    }
    .class-4{
      opacity: 0;
      margin: 35px auto;
      transform: translateY(40px);
      h1{
        font-size: 18px;
        margin-bottom: 10px;
      }
      img{
        width: 250px;
        height: auto;
        border-radius: 15px;
        border: 1px solid rgb(120, 144, 220);
      }
      p{
        margin-top: 5px;
        font-size: 15px;
      }
    }
    .class-5{
      opacity: 0;
      margin: 35px auto;
      transform: translateY(40px);
      h1{
        font-size: 18px;
        margin-bottom: 10px;
      }
      img{
        width: 250px;
        height: auto;
        border-radius: 15px;
        border: 1px solid rgb(120, 144, 220);
      }
      p{
        margin-top: 5px;
        font-size: 15px;
      }
    }
  }
}
.about-us{
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  text-align: center;
  .border{
    background: rgb(100, 100, 100);
    transform: translateY(30px);
    height: 2px;
    width: 65%;
    margin: 20px auto;
  }
  h1{
    font-size: 26px;
    color: rgb(15, 15, 15);
    margin-top: 32px;
    margin-bottom: 45px;
  }
  .text{
    width: 100%;
    p{
      margin: 0 auto;
      width: 90%;
      font-size: 15px;
      letter-spacing: 1px;
    }
    #secondText{
      display: none;
      a{
        text-decoration: underline;
        color: rgb(18, 18, 204);
      }
    }
    button{
      transform: translateY(30px);
      border-radius: 30px;
      border: 2px solid transparent;
      color: rgb(30, 30, 30);
      width: 150px;
      font-size: 16px;
      padding: 5px;
      transition: all .2s ease-in-out;
      background: rgb(72, 90, 185);
      color: white;
      outline: none;
      &:hover{
        background: white;
        color: black;
      }
    }
  }
}
.contact-us{
  background: white;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  &.active{
    form{
      opacity: 1;
    }
  }
  h1{
    font-size: 26px;
    color: rgb(15, 15, 15);
    margin-top: 32px;
    margin-bottom: 5px;
    font-family: 'Arima Madurai', cursive;
  }
  p{
    font-size: 18px;
    color: rgb(15, 15, 15);
    margin-bottom: 0px;
    font-family: 'Arima Madurai', cursive;
  }
  form{
    text-align: left;
    padding: 10px;
    margin: 15px;
    margin-top: 0;
    opacity: 0;
    transition: all ease-in .5s;
    textarea{
      width: 100%;
      border: 1px solid rgb(120, 120, 120);
      border-radius: 3px;
      padding: 3px;
      height: 100px;
    }
    input{
      width: 100%;
      border: 1px solid rgb(120, 120, 120);
      border-radius: 3px;
      padding: 3px;
    }
    .form-actions{
      margin-top: 15px;
      button{
        border-radius: 30px;
        border: 2px solid transparent;
        color: rgb(30, 30, 30);
        background: rgb(72, 90, 185);
        width: 200px;
        font-size: 16px;
        padding: 5px;
        transition: all .2s ease-in-out;
        background: 245;
        color: white;
        outline: none;
        &:hover{
          background: white;
          color: black;
        }
      }
    }
  }
}