{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/page/business.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/page/pages.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/business.js' %}" type="text/javascript"></script>

<div class="page">
    <p class="business-q" id="businessQ">Bli partner av Lillehammer Tjenester</p>

    <div class="business">
        <div class="business-info">
            <div class="text">
                <h1>Kort info</h1>
                <p>
                  Å bli partner er helt gratis. Du samtykker også med våres <a href="">vilkår</a> når du skal sende inn skjema.
                </p>
            </div>
            <hr style="margin-block: 38px;">
            <div class="text">
                <h1>Fyll ut skjema</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.errors}}
                    <label for="name">Navn på bedriften</label>
                    <br>
                    <input type="text" id="name" name="name" placeholder="Hansen's Bakeri">
                    <br>
                    <br>
                    <label for="contact_person">Kontaktperson</label>
                    <br>
                    <input type="text" name="contact_person" id="contact_person" placeholder="Per Hansen">
                    <br>
                    <br>
                    <label for="">Epost</label>
                    <br>
                    <input type="email" name="email" id="email" placeholder="perhansen@hansen.no">
                    <br>
                    <br>
                    <button id="partnerSub" type="submit">Send skjema</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
async function validateForm(){
    const name = document.getElementById('name');
    const contact_person = document.getElementById('contact_person');
    const email = document.getElementById('email');
    const partnerSub = document.getElementById('partnerSub');

    if(name.value && contact_person.value && email.value){
        partnerSub.classList.remove('not-ready')
        partnerSub.classList.add('ready')
    }else{
        partnerSub.classList.add('not-ready')
        partnerSub.classList.remove('ready')
    }
}

setInterval(() => {
    validateForm();
}, 100);
</script>
{% endblock %}