{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/page/business.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/page/make-serv.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/page/pages.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/business.js' %}" type="text/javascript"></script>

<div class="page">
    <p class="business-q" id="businessQ">Lag en tjeneste</p>

    <div class="business">
        <div class="business-info">
            <div class="text">
                <h1>Før du sender inn</h1>
                <p>
                  Vi krever at informasjonen du sender inn er 100% riktig. Vi har plikt til å fjerne tjenester fra vår nettside dersom informasjonen ikke er 100% riktig.
                </p>
            </div>
            <hr style="margin-block: 38px;">
            <div class="text">
                <h1>Fyll ut skjema</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.errors}}

                    <div id="stepOne">
                        <label for="name">Tittel på tjenesten</label>
                        <br>
                        <input type="text" id="name" name="name" placeholder="Kort og fangende">
                        <br>
                        <br>
                        <label for="business_name">Navn på bedriften</label>
                        <br>
                        <input type="text" id="business_name" name="business_name" placeholder="Det du brukte for å bli partner">
                        <br>
                        <br>
                        <label for="name">Adresse</label>
                        <br>
                        <input type="text" id="address" name="address" placeholder="Eks: Vegen 40">
                        <br>
                        <br>
                        <label for="description">Beskrivelse</label>
                        <br>
                        <textarea type="text" id="description" name="description" placeholder="En detalijert beskrivelse av tjenesten"></textarea>
                        <br>
                        <br>
                        <button type="button" onclick="toStepTwo()">Neste</button>
                        <br>
                    </div>

                    <div id="stepTwo">
                        <p style="margin-top: -11px;">Velg bilder som skal bli vist. Bilde nr 1 er nødvending. Resten er ikke, men vi anbefaller å fylle inn så mye som mulig</p>
                        <label for="image1">Bilde nr 1</label>
                        <br>
                        <input type="file" name="image1" id="image1">
                        <br>
                        <br>
                        <label for="image1">Bilde nr 2</label>
                        <br>
                        <input type="file" name="image2" id="image2">
                        <br>
                        <br>
                        <label for="image1">Bilde nr 3</label>
                        <br>
                        <input type="file" name="image3" id="image3">
                        <br>
                        <br>
                        <label for="image1">Bilde nr 4</label>
                        <br>
                        <input type="file" name="image4" id="image4">
                        <br>
                        <br>
                        <label for="image1">Bilde nr 5</label>
                        <br>
                        <input type="file" name="image5" id="image5">
                        <br>
                        <br>
                        <label for="image1">Bilde nr 6</label>
                        <br>
                        <input type="file" name="image6" id="image6">
                        <br>
                        <br>
                        <br>
                        <button class="left" type="button" onclick="toStepOne()">Tilbake</button>
                        <button class="right" type="button" onclick="toStepThree()">Neste</button>
                        <br>
                    </div>

                    <div id="stepThree">
                        <p style="margin-top: -11px;">Skriv inn åpningstider. Om dere er stengt, skriv "Stengt". Hvis tjenestene deres er online, kan dere skrive "Online", også tidspunkter.</p>
                        <label for="mandag">Mandag</label>
                        <br>
                        <input type="text" name="mandag" id="mandag" placeholder="Eks: 09-20">
                        <br>
                        <br>
                        <label for="tirsdag">Tirsdag</label>
                        <br>
                        <input type="text" name="tirsdag" id="tirsdag" placeholder="Eks: 09-20">
                        <br>
                        <br>
                        <label for="ondsdag">Ondsdag</label>
                        <br>
                        <input type="text" name="ondsdag" id="ondsdag" placeholder="Eks: 09-20">
                        <br>
                        <br>
                        <label for="torsdag">Torsdag</label>
                        <br>
                        <input type="text" name="torsdag" id="torsdag" placeholder="Eks: 09-20">
                        <br>
                        <br>
                        <label for="fredag">Fredag</label>
                        <br>
                        <input type="text" name="fredag" id="fredag" placeholder="Eks: 09-20">
                        <br>
                        <br>
                        <label for="lørdag">Lørdag</label>
                        <br>
                        <input type="text" name="lørdag" id="lørdag" placeholder="Eks: 09-20">
                        <br>
                        <br>
                        <label for="søndag">Søndag</label>
                        <br>
                        <input type="text" name="søndag" id="søndag" placeholder="Eks: 09-20">
                        <br>
                        <br>
                        <br>
                        <button class="left" type="button" onclick="toStepTwo()">Tilbake</button>
                        <button class="right" type="button" onclick="toStepFour()">Neste</button>
                        <br>
                    </div>

                    <div id="stepFour">
                        <p style="margin-top: -11px;">Hvordan skal kunden kontakte dere? Vi krever kunn en av de måtene under, men anbefaller å fylle inn alle.</p>
                        <label for="contact_by_website">Nettside</label>
                        <br>
                        <input type="text" name="contact_by_website" id="contact_by_website" placeholder="Eks: lillehammertjenester.no">
                        <br>
                        <br>
                        <label for="contact_by_phone">Telefon nummer</label>
                        <br>
                        <input type="number" name="contact_by_phone" id="contact_by_phone" placeholder="Eks: 463 89 334">
                        <br>
                        <br>
                        <label for="contact_by_email">E-post</label>
                        <br>
                        <input type="email" name="contact_by_email" id="contact_by_email" placeholder="Eks: firma@lillehammertjenester.no">
                        <br>
                        <br>
                        <label for="contact_by_instagram">Instagram</label>
                        <br>
                        <input type="text" name="contact_by_instagram" id="contact_by_instagram" placeholder="Eks: Lillehammer Tjenester">
                        <br>
                        <br>
                        <label for="contact_by_facebook">Facebook</label>
                        <br>
                        <input type="text" name="contact_by_facebook" id="contact_by_facebook" placeholder="Eks: Lillehammer Tjenester">
                        <br>
                        <br>
                        <button id="partnerSub" type="submit">Send skjema</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

function toStepOne(){
    const stepOne = document.getElementById('stepOne');
    const stepTwo = document.getElementById('stepTwo');

    stepOne.style.display = 'block';
    stepTwo.style.display = 'none';

    window.scrollTo({ top: 180, behavior: 'instant'});
}

function toStepTwo(){
    const stepOne = document.getElementById('stepOne');
    const stepTwo = document.getElementById('stepTwo');
    const stepThree = document.getElementById('stepThree');

    stepOne.style.display = 'none';
    stepThree.style.display = 'none';
    stepTwo.style.display = 'block';

    window.scrollTo({ top: 180, behavior: 'instant'});
}

function toStepThree(){
    const stepTwo = document.getElementById('stepTwo');
    const stepThree = document.getElementById('stepThree');

    stepTwo.style.display = 'none';
    stepThree.style.display = 'block';

    window.scrollTo({ top: 180, behavior: 'instant'});
}

function toStepFour(){
    const stepThree = document.getElementById('stepThree');
    const stepFour = document.getElementById('stepFour');

    stepThree.style.display = 'none';
    stepFour.style.display = 'block';

    window.scrollTo({ top: 180, behavior: 'instant'});
}

async function validateForm(){
    const name = document.getElementById('name');
    const contact_person = document.getElementById('contact_person');
    const email = document.getElementById('email');
    const partnerSub = document.getElementById('partnerSub');

    if(name.value && contact_person.value && email.value){
        partnerSub.classList.remove('not-ready')
        partnerSub.classList.add('ready')
    }else{
        partnerSub.classList.add('not-ready')
        partnerSub.classList.remove('ready')
    }
}

setInterval(() => {
    validateForm();
}, 100);
</script>
{% endblock %}