{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/page/business.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/page/pages.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/business.js' %}" type="text/javascript"></script>

<div class="page">
    <p class="business-q" id="businessQ">Bekreftelse av partnerskap</p>

    <div class="business">
        <div class="business-info">

            <div class="info-one text">
                <h1>Velkommen!</h1>
                <p>
                    Vi er glade over å kunne ønske dere velkommen som partner hos Lillehammer Tjenester. 
                    Vårt samarbeid vil bringe styrke og verdi til både våre partnere og kundene våre.
                    <br>
                    <br>
                    Vi gleder oss til å jobbe sammen med dere for å tilby de beste tjenestene til våre kunder i Lillehammer.
                    Vi er overbevist om at vårt samarbeid vil bidra til å fremme både våre bedrifter og våre kunders suksess. Takk for at du har valgt å bli partner med oss.
                </p>
            </div>

            <hr style="margin-block: 38px;">

            <div class="info-two text">
                <h1>Bedriftsbruker</h1>
                <div class="alert">
                    <div class="alert-one">Kommer snart</div>
                    <div class="alert-two">Bedrift bruker er i utvikling</div>
                </div>
            </div>

            <hr style="margin-block: 38px;">

            <div class="info-two text">
                <h1>Hva skjer nå</h1>
                <p>
                    Nå som dere har blitt en offisiell partner med Lillehammer Tjenester vil vi begynne å jobbe sammen for å optimalisere våre tjenester. 
                    Vårt første mål vil være å integrere deres's tjenester på vår nettside, slik at kundene våre kan nyte godt av alt Lillehammer Tjenester har å tilby.
                    <br>
                    <br>
                    Vi vil også jobbe sammen for å fremme våre bedrifter og tjenester gjennom markedsførings- og salgsmuligheter. 
                    Sammen vil vi kunne nå ut til et bredere publikum og øke bevisstheten om deres's unike tjenester.
                    Vi ser frem til et langvarig og lønnsomt samarbeid med dere. Ta kontakt med oss hvis du har noen spørsmål.
                    <br>
                    <br>
                    Dere vil mota en e-post innen 5 timer etter fullført partnerskap. Der skal dere få informasjon om akuratt hva som skal skje videre.
                </p>
            </div>

            <hr style="margin-block: 38px;">

            <div class="info-three text">
                <h1>Dere burde vite</h1>
                <p>
                 Vi prøver så hardt som mulig å nå profesjonalisme, derfor er det viktig at dere er med å bidrar.
                 Etter vi har lagt ut tjenestene dere's på vår nettside, så krever vi følgende:
                 <br>
                 <br>
                 Dere som bedrift må passe på at informasjonen av dere's tjenester på vår nettside er riktig. Hvis det skjer endringer med dere's tjenester, ber vi at dere sender oss en e-post med den nye informasjonen.
                 <br>
                 <br>
                 Dere er ansvarlige for å overholde alle relevante lover og reguleringer i forbindelse med deres tjenester.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}