{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/kundeservice/edit.css' %}" type="text/css">

<!-- COVER -->
<div class="cover" id="cover">
    <div class="content" id="coverContent">
       <div class="text">
          <h1><span class="moderne">Spørr om redigering</span> <br>på<br> <div class="background-overlay"></div> <span class="lave priser">nettsiden</span></h1>
       </div>
    </div>
 </div>
 <br>
 <br>

    <div class="edit"></div>
{% endblock %}