{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/kundeservice/forum/forum.css' %}" type="text/css">

<div class="page">
   <!-- COVER -->
   <div class="cover" id="cover">
      <!-- ALL COVER CONENT -->
      <div class="content">
         <!-- COVER SECTION 1 -->
         <div class="cover-section1">
            <!-- ALL COVER TEXT -->
            <div class="text">
               <h1 class="cover-h1">Forum</h1>
               <p class="cover-p">Er det noe du lurer på eller har du møtt et problem med våres tjenester? Søk blant spørsmål som andre kunder har hatt, og finn en løsning sammen</p>
               <div id="searchBar">
                  <form id="searchForm" action="{% url 'forum_search_post' %}" method="GET">
                      {% csrf_token %}
                      <input
                      type="text"
                      placeholder="Søk for det du leter etter her"
                      name="q"
                      />
                      <button type="submit" id="btn">
                         <i class="fad fa-arrow-alt-from-left"></i>            
                      </button>
                  </form>
              </div>      
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}