{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/kundeservice/forum/forum_detail.css' %}" type="text/css">

<div class="page">
    <div class="forum-post-detail">
        <div class="content">
            <div class="post-detail">
                <div class="row-one">
                    <p class="heading">{{forum_post.title}}</p>
                    <p class="forum-post-detail-author">Skrevet av <strong>{{ forum_post.author }}</strong> {{ forum_post.created_at | date:"d F Y" }}</p>
                </div>
                <div class="row-two">
                    <p class="paragraph" style="color: rgb(46, 57, 65);">{{forum_post.text}}</p>
                </div>
                <div class="actions">
                    <a class="modern-link">Kommenter</a>
                    <a onclick="window.location.href='javascript:history.back()'" class="modern-link">Tilbake</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}