{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/kundeservice/frontend.css' %}" type="text/css">

<!-- COVER -->
<div class="cover" id="cover">
    <!-- ALL COVER CONENT -->
    <div class="content">
       <!-- COVER SECTION 1 -->
       <div class="cover-section1">
          <!-- ALL COVER TEXT -->
          <div class="text">
             <h1 class="cover-h1">Programmering Språkene Vi Bruker</h1>
             <p class="cover-p">Vi anbefaller at du kan litt om de</p>
          </div>
       </div>
    </div>
 </div>
{% endblock %}