{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/kundeservice/proccess.css' %}" type="text/css">

<!-- COVER -->
<div class="cover" id="cover">
   <!-- ALL COVER CONENT -->
   <div class="content">
      <!-- COVER SECTION 1 -->
      <div class="cover-section1">
         <!-- ALL COVER TEXT -->
         <div class="text">
            <h1 class="cover-h1">Prosessen Av Bestillinger</h1>
            <p class="cover-p">Veldig enkelt og raskt</p>
         </div>
      </div>
      <!-- COVER SECTION 2 -->
      <div class="cover-section2">
         <!-- COVER BOTTOM IMAGE -->
         <div class="cover-image-div">
            <img class="cover-image" src="{% static '/images/covers/proccess-cover.png' %}" alt="image proccess cover web design webiser">
         </div>
      </div>
   </div>
</div>
{% endblock %}