{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
   <!-- COVER -->
   <div class="cover" id="cover">
      <!-- ALL COVER CONENT -->
    <div class="content">
       <!-- COVER SECTION 1 -->
       <div class="cover-section1">
          <!-- ALL COVER TEXT -->
          <div class="text">
             <h1 class="cover-h1">Ønsker du en ekstra side?</h1>
             <p class="cover-p">Alle prisene har inkl minst 3 sider: Om oss, Kontakt oss og handlekurv/checkout (forskjellige priser har forskjellige antall sider). Dersom du ønsker noen ekstra sider, så må du fortelle dette til oss. Det kan du gjøre etter du har sendt inn bestilling, og vi har kontaktert deg</p>
             <br>
             <p class="cover-p">En ekstra side koster 120kr</p>
          </div>
       </div>
    </div>
   </div>
</div>
{% endblock %}