{% load static %}

<link rel="stylesheet" href="{% static '/scss/store/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<br>
<br>
<br>
<br>
<div id="footer">
    <div id="newsletter">
        <h1>Bli medlem</h1>
        <form v-on:submit.prevent="onSubmit">
            <div class="content">
                <label for="email">Din epost</label>
                <input type="email" v-model="email" name="email" class="input">
                <button>Send</button>
            </div>
        </form>
        <div id="footerNewsLetterAlert" v-if="showSuccess">
            <div class="alert alert-success">Epost er lagret, tusen takk!</div>
        </div>
    </div>
    <div class="footer-section">
        <ul class="footer-ul">
            <h1>Raske Linker</h1>
            <li class="footer-li">
                <a href="/">Sektorer</a>
                <a href="/">Blogg</a>
                <a href="/">Om oss</a>
                <a href="/">Prosjekter</a>
                <a href="/">Forum</a>
                <a href="/">Forum</a>
                <a href="/">Forum</a>
            </li>
        </ul>
    </div>
    <div class="social-icons">
        <h1>Finn oss her</h1>
        <div class="icons">
            <i onclick="window.location.href='https://www.instagram.com/webiser.no/'" class="fab fa-instagram"></i>
            <i onclick="window.location.href='https://www.instagram.com/webiser.no/'" class="fab fa-tiktok"></i>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright &#169; 2020-2021 Webiser</p>
    </div>
</div>



    <script>
    function RefreshPage(){
        // setTimeout(function(){
        //     location.reload();
        // },1500);
    }

        var newsletterapp = new Vue({
            el: '#newsletter',
            data () {
                return {
                    email: '',
                    showSuccess: false
                }
            },
            methods: {                
                onSubmit() {
                    console.log('onSubmit')
                    fetch('/api/add_subscriber/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({'email': this.email}),
                        })
                        .then((response) => {
                            return response.json()
                        })
                        .then((data) => {
                            console.log(data)
    
                            this.showSuccess = true
                            this.email = ''
                        })
                        .catch(function(error) {
                            this.showSuccess = false
                            console.log('Error:', error);
                        });
                },
            }
        })
    </script>
</div>


