{% load static %}

<link rel="stylesheet" href="{% static '/scss/store/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div id="footer">
    <div class="footer-section">
        <ul class="footer-ul">
            <h1>Meny</h1>
            <li class="footer-li">
                <a href="/">Hjemme</a>
                <a href="/">Kundeservice</a>
                <a href="/">Om oss</a>
                <a href="/">Prosjekter</a>
                <a href="/">Anmeldelser</a>
            </li>
        </ul>
        <ul class="footer-ul">
            <h1>Priser</h1>
            <li class="footer-li">
                <a href="/">Ecommerce</a>
                <a href="/">Blog</a>
                <a href="/">Portofolio</a>
                <a href="/">Personal</a>
                <a href="/">Business</a>
            </li>
        </ul>
    </div>
    <div class="social-icons">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-tiktok"></i>
    </div>
    <div class="copyright">
        <p>Copyright &#169; 2020-2021 Webiser</p>
    </div>
</div>


