{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">


<!-- LOADER -->
<div class="load-wrapp" id="homeLoader">
   <div class="load-2">
     <div class="line"></div>
     <div class="line"></div>
     <div class="line"></div>
   </div>
 </div>
<!-- COVER -->
<div class="cover" id="cover">
   <div class="content" id="coverContent">
      <div class="text">
         <h1 class="maintext">moderne nettsider til</h1>
         <h1 class="secondtext">lave priser</h1>
         <p class="cover-paragraph">Ta neste steg for ditt bedrift med hjelp av våres fantastiske og moderne nettsider laget av Norges beste designere og utviklere</p>
      </div>
      <div class="cover-action">
         <a href="/bestill">Bestill</a>
         <a onclick="contact()">Kontakt oss</a>
      </div>
      <img src="{% static '/images/covers/cover-7.png' %}" alt="cover-1">
   </div>
</div>
<!-- SERVICES -->
<div class="services" id="services">
   <h1 class="heading">hvorfor velge webiser</h1>
   <p class="services-paragraph">Klikk for å lese mer</p>
   <div class="service-1 service" id="service1" onclick="services1()">
      <div class="img">
         <i class="fal fa-phone-laptop"></i>
      </div>
      <div class="text">
         <h1>Responsiv<br>design</h1>
         <div class="about" id="aboutService1">
            <p>Alle designene våres er responsive og moderne. De er designet av de beste webdesignerne i Norge, og garanterer at du kommer til å elske den!</p>
         </div>
      </div>
   </div>
   <div class="service-2 service" id="service2" onclick="services2()">
      <div class="text">
         <h1>Veileding</h1>
         <div class="about" id="aboutService2">
            <p>Du får 4 timer gratis veileding hver uke etter bestilling, sånn at du kan gjøre endringer på nettsiden.</p>
         </div>
      </div>
      <div class="img">
         <i class="fas fa-hands-helping"></i>      
      </div>
   </div>
   <div class="service-3 service" id="service3" onclick="services3()">
      <div class="img">
         <i class="fas fa-medal"></i>
      </div>
      <div class="text">
         <h1>Norges<br>beste</h1>
         <div class="about" id="aboutService3">
            <p>Vi har et team som består av de mest motiverte og kreative webdesignerne i hele Norge. Vi har bygget over 100 nettsider i løpet av de siste 8 måneder, og våre designere og utviklere har fått en topp anmeldelse!</p>
         </div>
      </div>
   </div>
   <div class="service-4 service" id="service4" onclick="services4()">
      <div class="text">
         <h1>Lave priser</h1>
         <div class="about" id="aboutService4">
            <p>Når det gjelder priser, så har vi har nemlig de laveste prisene på markedet ;)</p>
         </div>
      </div>
      <div class="img">
         <i class="fas fa-coins"></i>
      </div>
   </div>
</div>
<!-- PRODUCT -->
<div id="productScrollTo" class="scroll-to" style="height: 60px; width: 100%"></div>
<div class="product-section" id="productHomePage">
   <h1 class="heading">Priser</h1>
   <div class="flex">
      {% for product in products %}
      <div class="product-card" onclick="window.location.href='{% url  'product_detail' product.slug  %}'">
         <div class="text">
            <h1 class="product-name">{{product.name}}</h1>
            <h1 class="product-price">{{product.price|floatformat}} kr</h1>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
<!-- INFO/PROCCESS -->
<div id="proccessScrollTo" class="scroll-to" style="height: 60px; width: 100%;"></div>
<div class="proccess" id="info">
   <h1 class="heading">Så enkelt er det</h1>
   <div class="content">
      <div class="class-1">
         <h1>Vi motar bestillingen din</h1>
         <img src="{% static '/images/other/loading-bar-1.png' %}" alt="load-bar-1">
         <p>Med engang bestillingen er fullført, så sender vi det videre til våres designere som starter å lage designen. Du kan følge med på hvor langt vi har kommet under "min bruker" >> "mine bestillinger"</p>
      </div>
      <div class="class-2">
         <h1>Designen har blitt fullført</h1>
         <img src="{% static '/images/other/loading-bar-2.png' %}" alt="load-bar-2">
         <p>Da designen har blitt fullført, så blir designen sendt videre til våres utviklere, som starter å bygge nettsiden</p>
      </div>
      <div class="class-3">
         <h1>Nettsiden er ferdig bygget</h1>
         <img src="{% static '/images/other/loading-bar-3.png' %}" alt="load-bar-3">
         <p>Da utviklerne våres har bygget ferdig nettsiden, så vil du mota en mail sånn at du kan sjekke om noe skal endres</p>
      </div>
      <div class="class-4">
         <h1>Siste endringer blir gjort</h1>
         <img src="{% static '/images/other/loading-bar-4.png' %}" alt="load-bar-4">
         <p>Om det er noe feil eller endringer som skal bli gjort, så vil utviklerne våres utføre det</p>
      </div>
      <div class="class-5">
         <h1>Alt har blitt fullført!</h1>
         <img src="{% static '/images/other/loading-bar-5.png' %}" alt="load-bar-5">
         <p>Da alt er 100% fullført, så vil nettsiden bli sendt over til deg innen 2 dager</p>
      </div>
   </div>
</div>
<!-- ORDER NOW -->
<div class="order-now" id="orderNow">
   <img src="{% static 'images/icons/phone-sreen.png' %}" alt="ios screen mockup preview webiste order webiser">
   <button class="order-button" onclick="window.location.href='/bestill'">kom i gang</button>
</div>
<!-- CONTACT US -->
<div id="contactScrollTo" class="scroll-to" style="height: 60px; width: 100%;"></div>
<div class="contact-us" id="contactUs">
   <h1 class="heading">Trenger du extra hjelp?</h1>
   <p>Kontakter oss under</p>
   <form action="" method="POST">
      {% csrf_token %}
      <br>
      <label for="navn" class="form-tag-navn tag">Navn</label>
      <input type="text" name="navn" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn navn')" oninput="this.setCustomValidity('')">
      <br>
      <br>
      <label for="email" class="form-tag-email tag">Epost</label>
      <input type="email" name="email" required oninvalid="this.setCustomValidity('Værsåsnill, skirv inn epost')" oninput="this.setCustomValidity('')">
      <br>
      <br>
      <label for="message" class="form-tag-message tag">Hva ønsker du fortelle oss?</label>
      <textarea name="message" cols="30" rows="10" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn beskjed')" oninput="this.setCustomValidity('')"></textarea>
      <div class="form-actions">
         <button class="hover" type="submit" name="contact" value="contact">Send</button>
      </div>
   </form>
</div>
{% endblock %}
