{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/store/base.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<!-- LOADER -->
<!-- <div class="load-wrapp" id="homeLoader">
   <div class="load-2">
     <div class="line"></div>
     <div class="line"></div>
     <div class="line"></div>
   </div>
 </div> -->


<!-- COVER -->
<div class="cover" id="cover">
   <!-- ALL COVER CONENT -->
   <div class="content">
      <!-- COVER SECTION 1 -->
      <div class="cover-section1">
         <!-- ALL COVER TEXT -->
         <div class="text">
            <h1 class="cover-h1">Enkleste Måten å Starte En Nettbutikk</h1>
            <p class="cover-p">Enten om du selger digitale produkter eller nettjenester, er Webiser den enkleste måten å komme i gang med en nettbutikk</p>
         </div>
         <!-- ALL COVER ACTIONS -->
         <div class="cover-actions">
            <a href="/bestill">Kom i Gang<i class="fad fa-arrow-alt-from-left"></i></a>
            <br>
            <a href="">Les Om Oss<i class="fad fa-arrow-alt-from-left"></i></a>
         </div>
      </div>
      <!-- COVER SECTION 2 -->
      <div class="cover-section2">
         <!-- COVER BOTTOM IMAGE -->
         <div class="cover-image-div">
            <img class="cover-image" src="{% static '/images/covers/cover-image2.png' %}" alt="image main cover web design webiser">
         </div>
      </div>
   </div>
</div>
<br>
<br>
<!-- INTRO -->
<div class="intro section">
   <div class="content">
      <div class="card">
         <h1>15+</h1>
         <p>Drevet Nettbutikker</p>
      </div>
      <div class="card">
         <h1>50 000+</h1>
         <p>Kroner Bearbeidet</p>
      </div>
      <div class="card">
         <h1>2 år+</h1>
         <p>Erfaring</p>
      </div>
      <div class="card">
         <h1>24/7</h1>
         <p>Kundeservice</p>
      </div>
   </div>
</div>
<!-- WHY WEBISER -->
<div class="why-webiser section">
   <!-- HALF SQUARE -->
   <div class="content">
      <!-- WHY WEBISER TEXT -->
      <div class="text">
         <p class="why-webiser-headingp">Hvorfor Webiser?</p>
         <h1>Aldri Vært Enkelere å Selge Online</h1>
         <!-- LONG TEXT -->
         <p class="why-webiser-long-ptext">
            Uansett produktet du selger trenger du en high-end nettside for å konvertere.
            Det er ikke nok med en pen nettside, 
            du trenger en nettside som gjør det enkelt å få flere salg, maksimere konverteringer og drive bedriften din.
         </p>
      </div>
   </div>
</div>
<!-- SELL -->
<div class="sell-anything section">
   <!-- SELL CONTENT -->
   <div class="content">
      <!-- SELL TEXT -->
      <div class="text">
         <h1>Selg (nesten) alt du kan tenke deg om...</h1>
      </div>
      <div class="flex">
         <!-- EBOOKS -->
         <div class="card">
            <div class="card-content" onclick="desPricesScroll()">
               <div class="icon">
                  <i class="fa-solid fa-book"></i>
               </div>
               <div class="card-text">
                  <h1>eBøker</h1>
                  <p>Se de digitale og fysiske bøkene dine fly fra hyllene som aldri før!</p>
               </div>
            </div>
         </div>
         <!-- ONLINE COURSE -->
         <div class="card">
            <div class="card-content" onclick="desPricesScroll()">
               <div class="icon">
                  <i class="fa-solid fa-chalkboard-user"></i>
               </div>
               <div class="card-text">
                  <h1>Nettkurs</h1>
                  <p>Tiltrekk flere studenter med en enklere måte å kjøpe, oppgradere og få tilgang til innholdet ditt på</p>
               </div>
            </div>
         </div>
         <!-- ECOMMERCE -->
         <div class="card">
            <div class="card-content" onclick="desPricesScroll()">
               <div class="icon">
                  <i class="fa-solid fa-shop"></i>
               </div>
               <div class="card-text">
                  <h1>eCommerce</h1>
                  <p>Selg produkter på en enklere måte, og få inn flere salg</p>
               </div>
            </div>
         </div>
         <!-- COACHING -->
         <div class="card">
            <div class="card-content" onclick="desPricesScroll()">
               <div class="icon">
                  <i class="fa-solid fa-headset"></i>
               </div>
               <div class="card-text">
                  <h1>Coaching</h1>
                  <p>Alt du trenger for å bli #1 coach i din bransje</p>
               </div>
            </div>
         </div>
         <!-- AND MUCH MORE -->
         <div class="card">
            <div class="card-content" onclick="desPricesScroll()">
               <div class="icon">
                  <i class="fa-solid fa-shuttle-space"></i>
               </div>
               <div class="card-text">
                  <h1>... og mye mer</h1>
                  <p>Selg nesten alle typer produkter du kan tenke deg.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- WEBSITE BENEFITS -->
   <div class="website-benefits">
      <!-- WEBSITE BENEFITS CONTENT -->
      <div class="content">
         <!-- WEBSITE BENEFITS FLEX -->
         <div class="flex">
            <!-- WEBSITE BENEFITS ICON -->
            <div class="icon">
               <i class="fa-solid fa-check"></i>
            </div>
            <p>Handlekurv & Checkout</p>
         </div>
         <!-- WEBSITE BENEFITS FLEX -->
         <div class="flex">
            <!-- WEBSITE BENEFITS ICON -->
            <div class="icon">
               <i class="fa-solid fa-check"></i>
            </div>
            <p>Responsiv og Modern design</p>
         </div>
         <!-- WEBSITE BENEFITS FLEX -->
         <div class="flex">
            <!-- WEBSITE BENEFITS ICON -->
            <div class="icon">
               <i class="fa-solid fa-check"></i>
            </div>
            <p>Enkelt å mota betalinger</p>
         </div>
         <div class="flex">
            <!-- WEBSITE BENEFITS ICON -->
            <div class="icon">
               <i class="fa-solid fa-check"></i>
            </div>
            <p>Admin dashboard</p>
         </div>
      </div>
   </div>
</div>
<!-- PROCCESS -->
<div class="proccess section">
   <!-- PROCCESS CONTENT -->
   <div class="content">
      <!-- PROCCESS MAIN TEXTS -->
      <div class="text">
         <h1>Kom i gang med tre enkle steg</h1>
      </div>
      <!-- PROCCESS CARD -->
      <div class="proccess-card">
         <!-- PROCCESS IMAGE SECTION -->
         <div class="proccess-image">
            <!-- IMAGE RIBBON NUMBER -->
            <div class="ribbon-number">1</div>
            <!-- IMAGE -->
            <img src="{% static '/images/other/woman-laptop.jpg' %}" alt="webiser">
         </div>
         <!-- PROCCESS IMAGE TEXT -->
         <div class="proccess-image-text">
            <h1>Velg plan</h1>
            <p>Det første steget er å bestemme hvilken type plan du skal velge</p>
         </div>
      </div>
      <!-- PROCCESS CARD -->
      <div class="proccess-card">
         <!-- PROCCESS IMAGE SECTION -->
         <div class="proccess-image">
            <!-- IMAGE RIBBON NUMBER -->
            <div class="ribbon-number">2</div>
            <!-- IMAGE -->
            <img src="{% static '/images/other/man-phone.jpg' %}" alt="webiser">
         </div>
         <!-- PROCCESS IMAGE TEXT -->
         <div class="proccess-image-text">
            <h1>Send bestillingen</h1>
            <p>Med engang bestillingen har blitt motatt vil vi kontaktere deg tilbake innen 60 minutter</p>
         </div>
      </div>
      <!-- PROCCESS CARD -->
      <div class="proccess-card">
         <!-- PROCCESS IMAGE SECTION -->
         <div class="proccess-image">
            <!-- IMAGE RIBBON NUMBER -->
            <div class="ribbon-number">3</div>
            <!-- IMAGE -->
            <img src="{% static '/images/other/woman-relax.jpg' %}" alt="webiser">
         </div>
         <!-- PROCCESS IMAGE TEXT -->
         <div class="proccess-image-text">
            <h1>Vent på svar</h1>
            <p>Ta deg en kopp kafe og slapp av mens vi gjør jobben!</p>
         </div>
      </div>

   </div>
</div>
<!-- BOOST CONVERSIONS -->
<div class="boost-conversions section">
   <!-- BOOST CONTENT -->
   <div class="content">
      <!-- BOOST IMAGE -->
      <img src="{% static '/images/covers/conversions.png' %}" alt="webiser">
      <!-- BOOST TEXT -->
      <div class="text">
         <p class="boost-headingp">fordeler og sider</p>
         <h1>Øk konverteringer med en unik nettside</h1>
         <!-- BOOST LONG PARAGRAPH -->
         <p class="boost-longp">
            Kom i gang på noen få klikk, og du er klar til å akseptere bestillinger
         </p>
      </div>
   </div>
   <!-- BOOST BENEFITS -->
   <div class="boost-benefits">
      <!-- BOOST BENEFITS CONTENT -->
      <div class="content">
         <!-- BOOST BENEFITS FLEX -->
         <div class="flex">
            <!-- BOOST BENEFITS ICON -->
            <div class="icon">
               <i class="fa-solid fa-check"></i>
            </div>
            <p>eCommerce & Medlemskap</p>
         </div>
         <!-- BOOST BENEFITS FLEX -->
         <div class="flex">
            <!-- BOOST BENEFITS ICON -->
            <div class="icon">
               <i class="fa-solid fa-check"></i>
            </div>
            <p>Krever lite progamering</p>
         </div>
         <!-- BOOST BENEFITS FLEX -->
         <div class="flex">
            <!-- BOOST BENEFITS ICON -->
            <div class="icon">
               <i class="fa-solid fa-check"></i>
            </div>
            <p>100% tilgang til nettsiden</p>
         </div>
      </div>
   </div>
</div>
<!-- CUSTOMER QUOTE -->
<div class="customer-quote section">
   <!-- logo -->
   <img class="logo1" src="{% static '/images/logo/logo1.png' %}" alt="logo1">
   <!-- SLIDER -->
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="transition: .3s;">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
         <!-- ITEM -->
        <div class="carousel-item active">
             <!-- QUOTE CONTENT -->
            <div class="content">
               <h1>Beste valget jeg kunne ha tatt for <span>bedriften</span> min!</h1>
               <!-- IMG -->
               <div class="img">
                  <img src="{% static '/images/other/man-hat.jpg' %}" alt="webiser">
                  <p>Daglig leder, Eforie NORD</p>
               </div>
            </div>
        </div>
        <!-- ITEM -->
        <div class="carousel-item">
            <!-- QUOTE CONTENT -->
            <div class="content">
               <h1>Endelig kan jeg selge <span>treningskurset</span> mitt online</h1>
               <!-- IMG -->
               <div class="img">
                  <img src="{% static '/images/other/woman-workout.jpg' %}" alt="webiser">
                  <p>Emma</p>
               </div>
            </div>
        </div>
        <!-- ITEM -->
        <div class="carousel-item">
            <!-- QUOTE CONTENT -->
            <div class="content">
               <h1>Takker <span>webiser</span> kan jeg selge produktene mine</h1>
               <!-- IMG -->
               <div class="img">
                  <img src="{% static '/images/other/man-pc.jpg' %}" alt="webiser">
                  <p>Sander</p>
               </div>
            </div>
        </div>
        <!-- ITEM -->
        <div class="carousel-item">
            <!-- QUOTE CONTENT -->
            <div class="content">
               <h1>Søkte lenge for en nettbutikk, til slutt fant jeg <span>webiser</span></h1>
               <!-- IMG -->
               <div class="img">
                  <img src="{% static '/images/other/man-green-jacket.jpg' %}" alt="webiser">
                  <p>Hans</p>
               </div>
            </div>
        </div>
      </div>
      <!-- PREV -->
      <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a> -->
      <!-- NEXT -->
      <!-- <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>
</div>
<!-- PRICES -->
<div class="prices section" id="prices">
   <!-- PRICES CONTENT -->
   <div class="content">
      <!-- PRICES IMAGE -->
      <img src="{% static '/images/covers/products.png' %}" alt="webiser">
      <!-- PRICES TEXT -->
      <div class="text">
         <p class="price-headingp">priser</p>
         <h1>Profesjonelle nettsider, rett foran deg</h1>
         <p class="prices-longp">Klikk under for å se de forskjellige prisene</p>
      </div>
      <div class="choose-type-of-product-flex" id="chooseTypeOfProductFlex">
         <p id="eco" onclick="ecoShowFunc()">Nettbutikk</p>
         <p id="blog" onclick="blogShowFunc()">Blogg</p>
         <p id="pers" onclick="persShowFunc()">Personlig</p>
     </div>  
      <div class="choose-type-of-productblog-flex" id="chooseTypeOfProductBlogFlex">
         <i onclick="blogShowFuncClose()" class="fad fa-arrow-alt-from-right" style="--fa-secondary-color: dimgray;"></i>
         <p id="blogTypeOf">Blogg</p>
     </div>  
      <div class="choose-type-of-productblog-flex" id="chooseTypeOfProductPersFlex">
         <i onclick="persShowFuncClose()" class="fad fa-arrow-alt-from-right" style="--fa-secondary-color: dimgray;"></i>
         <p id="persTypeOf">Personlig</p>
     </div>  
      <div class="choose-type-of-producteco-flex" id="chooseTypeOfProductEcoFlex">
         <i onclick="ecoShowFuncClose()" class="fad fa-arrow-alt-from-right" style="--fa-secondary-color: dimgray;"></i>
         <p id="small" onclick="smallFunc()">Liten</p>
         <p id="middle" onclick="middleFunc()">Middel</p>
         <p id="big" onclick="bigFunc()">Stor</p>
     </div>  
     <div class="product-section">
        <!-- BLOG PRODUCT -->
        <div class="productblog blog" id="productIsBlog">
         {% for product in products %}
             {% if product.is_blog %}
                   <div class="product-row-one">
                         <h1 class="product-name">{{product.name}}</h1>
                         <p class="product-price">{{ product.price | floatformat }}kr</p>
                   </div>
                   <div class="product-row-two">
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>100% tilgang</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>Source code - via GitHub</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>Gratis hjelp innen 14 dager</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>3 sider</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>10-18 dager levering</p>
                      </div>
                       <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>Profesjonell design</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>Hosting til 240kr/m</p>
                      </div>
                   </div>
                {% endif %}     
             {% endfor %}   
       </div>
        <!-- PERS PRODUCT -->
        <div class="productpers pers" id="productIsPers">
         {% for product in products %}
             {% if product.is_pers %}
                   <div class="product-row-one">
                         <h1 class="product-name">{{product.name}}</h1>
                         <p class="product-price">{{ product.price | floatformat }}kr</p>
                   </div>
                   <div class="product-row-two">
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>100% tilgang</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>Source code - via GitHub</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>Gratis hjelp innen 14 dager</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>4 sider</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>10-18 dager levering</p>
                      </div>
                       <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>Profesjonell design</p>
                      </div>
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                         <!-- PRODUCT BENEFITS ICON -->
                         <div class="icon">
                            <i class="fa-solid fa-check"></i>
                         </div>
                         <p>Hosting til 240kr/m</p>
                      </div>
                   </div>
                {% endif %}     
             {% endfor %}   
       </div>
        <!-- ECOMMERCE PRODUCT -->
         <!-- -----SMALL -->
        <div class="producteco small" id="productIsSmall">
           {% for product in products %}
               {% if product.is_small %}
                     <div class="product-row-one">
                           <h1 class="product-name">{{product.name}}</h1><p class="product-tag">LITEN</p>
                           <p class="product-price">{{ product.price | floatformat }}kr</p>
                     </div>
                     <div class="product-row-two">
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon">
                              <i class="fa-solid fa-check"></i>
                           </div>
                           <p>100% tilgang</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon">
                              <i class="fa-solid fa-check"></i>
                           </div>
                           <p>Source code - via GitHub</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon">
                              <i class="fa-solid fa-check"></i>
                           </div>
                           <p>Gratis hjelp innen 14 dager</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon">
                              <i class="fa-solid fa-check"></i>
                           </div>
                           <p>5 sider</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon-same">
                              <span></span>
                           </div>
                           <p>Logo</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon">
                              <i class="fa-solid fa-check"></i>
                           </div>
                           <p>30-65 dager levering</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon-same">
                              <span></span>
                           </div>
                           <p>Blogg</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon-same">
                              <span></span>
                           </div>
                           <p>Tekst/Copywrite</p>
                        </div>
                         <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon">
                              <i class="fa-solid fa-check"></i>
                           </div>
                           <p>Profesjonell design</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon">
                              <i class="fa-solid fa-check"></i>
                           </div>
                           <p>Hosting til 240kr/m</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon-same">
                              <span></span>
                           </div>
                           <p>Alle funksjonene</p>
                        </div>
                        <!-- PRODUCT BENEFITS -->
                        <div class="flex">
                           <!-- PRODUCT BENEFITS ICON -->
                           <div class="icon-same">
                              <span></span>
                           </div>
                           <p>Logg inn & Lag bruker</p>
                        </div>
                     </div>
                  {% endif %}     
               {% endfor %}   
         </div>
         <!-- -----MIDDLE -->
         <div class="producteco middle" id="productIsMiddle">
            {% for product in products %}
            {% if product.is_middle %}
                  <div class="product-row-one" style="margin-bottom: 65px;">
                        <h1 class="product-name">{{product.name}}</h1><p class="product-tag">MIDDEL</p>
                        <p class="product-price">{{ product.price | floatformat }}kr</p>
                        <div class="popular">
                           <h1>Popular</h1>
                        </div>
                  </div>
                  <div class="product-row-two">
                      <!-- PRODUCT BENEFITS -->
                      <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>100% tilgang</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Source code - via GitHub</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Gratis hjelp innen 14 dager</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>6 sider</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon-same">
                           <span></span>
                        </div>
                        <p>Logo</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>35-70 dager levering</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon-same">
                           <span></span>
                        </div>
                        <p>Blogg</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Tekst/Copywrite</p>
                     </div>
                      <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Profesjonell design</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Hosting til 240kr/m</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Alle funksjonene</p>
                     </div>
                     <!-- PRODUCT BENEFITS -->
                     <div class="flex">
                        <!-- PRODUCT BENEFITS ICON -->
                        <div class="icon">
                           <i class="fa-solid fa-check"></i>
                        </div>
                        <p>Logg inn & Lag bruker</p>
                     </div>
                  </div>
               {% endif %}         
         {% endfor %} 
         </div>
         <!-- -----BIG -->
         <div class="producteco big" id="productIsBig">
            {% for product in products %}
            {% if product.is_big %}
                  <div class="product-row-one">
                        <h1 class="product-name">{{product.name}}</h1><p class="product-tag">STOR</p>
                        <p class="product-price">{{ product.price | floatformat }}kr</p>
                  </div>
                  <div class="product-row-two">
                   <!-- PRODUCT BENEFITS -->
                   <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>100% tilgang</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Source code - via GitHub</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Gratis hjelp innen 30 dager</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>7 sider</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Logo</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>45-80 dager levering</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Blogg</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Tekst/Copywrite</p>
                  </div>
                   <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Profesjonell design</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Hosting til 240kr/m</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Alle funksjonene</p>
                  </div>
                  <!-- PRODUCT BENEFITS -->
                  <div class="flex">
                     <!-- PRODUCT BENEFITS ICON -->
                     <div class="icon">
                        <i class="fa-solid fa-check"></i>
                     </div>
                     <p>Logg inn & Lag bruker</p>
                  </div>
                  </div>
               {% endif %}         
         {% endfor %} 
         </div>
      </div>
   </div>
</div>
{% endblock %}
