{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>



<!-- LOADER -->
<div class="load-wrapp" id="homeLoader">
   <div class="load-2">
     <div class="line"></div>
     <div class="line"></div>
     <div class="line"></div>
   </div>
 </div>
<!-- COVER -->
<div class="cover" id="cover">
   <img src="{% static '/images/covers/cover2.jpg' %}" alt="cover-1">
   <div class="content" id="coverContent">
      <div class="text">
         <h1><span class="moderne">Moderne</span> nettsider <br>til<br> <div class="background-overlay"></div> <span class="lave priser">lave priser</span></h1>
         <p>Nettsider designet og utviklet av Norges beste sånn at du kan få den beste tjenesten</p>
      </div>
   </div>
</div>
<!-- INTRO -->
<div class="intro" id="intro">
   <h1 class="heading">Vi bygger nettsider som konverterer</h1>
   <p>Har du en nettbutikk eller driver eget firma?<br><span class="light-overlay">Vi er her for å hjelpe deg!</span> Vi består av Norges beste designere og utviklere, og vi garanter at du vil elske nettsiden. Under finner du en demo for hver enkel nettside</p>
   <div class="sites">
      <div class="swiper mySwiper">
         <div class="swiper-wrapper">
            {% for product in products %}
            <div class="swiper-slide">
               <h1 class="product-name">{{product.name}}</h1>
               <i class="fas fa-chevron-right"></i>
            </div>
            {% endfor %}   
         </div>
       </div>
   </div>
</div>
<br>
<!-- DEMO -->
<!-- CONTACT US -->
<div class="contact-us" id="contactUs">
   <h1 class="heading">Trenger du extra hjelp?</h1>
   <p>Trykk på chatt ikonet nederst til høyre, eller kontakter oss under</p>
   <form action="" method="POST">
      {% csrf_token %}
      <br>
      <label for="navn" class="form-tag-navn tag">Navn</label>
      <input type="text" name="navn" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn navn')" oninput="this.setCustomValidity('')">
      <br>
      <br>
      <label for="email" class="form-tag-email tag">Epost</label>
      <input type="email" name="email" required oninvalid="this.setCustomValidity('Værsåsnill, skirv inn epost')" oninput="this.setCustomValidity('')">
      <br>
      <br>
      <label for="message" class="form-tag-message tag">Hva ønsker du fortelle oss?</label>
      <textarea name="message" cols="30" rows="10" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn beskjed')" oninput="this.setCustomValidity('')"></textarea>
      <div class="form-actions">
         <button class="hover" type="submit" name="contact" value="contact">Send</button>
      </div>
   </form>
</div> 
 <!-- Swiper JS -->
 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
   var swiper = new Swiper(".mySwiper", {
     slidesPerView: 2.35,
     spaceBetween: 25,
     freeMode: true,
     pagination: {
       el: ".swiper-pagination",
       clickable: true,
     },
   });
 </script>
{% endblock %}
