{% load static %}


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script rel="stylesheet" src="{% static '/js/nav.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/store/nav.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">


<div id="navbar">
    <!-- LOGO -->
    <div class="logo" id="logo" onclick="window.location.href='/'">
        <h1>Webiser</h1>
    </div>
    <!-- MENU -->
        <!-- HAMBURGER -->
        <div class="hamburger" id="hamburger" onclick="menu()">
            <span class="upper-span"></span>
            <span class="center-span"></span>
            <span class="lower-span"></span>
        </div>
    <!-- SIDEBAR -->
    <div class="sidebar" id="sidebar"></div>
    <!-- USER -->
    <a onclick="myaccount()" class="my-account-icon" id="myAccountIcon">
        <i class="far fa-user-astronaut"></i>    
    </a>
</div>


<!-- <div id="navbar">
    <div class="logo" id="logo" onclick="window.location.href='/'">
        <h1 class="logo1" alt="logo1">Webiser</h1>
    </div>
    <div class="hamburger" id="hamburger" onclick="menu()">
        <span class="upper-span"></span>
        <span class="center-span"></span>
        <span class="lower-span"></span>
    </div>
    <div class="sidebar" id="sidebar">
        <ul class="sidebar-ul">
            <li class="sidebar-li" id="sidebarLi">
                <a onclick="prices()">Priser</a>
                <a href="/om-webiser">Om oss</a>
                <a onclick="info()">Prosess</a>
                <a onclick="hosting()">Hosting</a>
                <a onclick="contact()">Kontakt oss</a>
            </li>   
        </ul>
        <img src="{% static '/images/other/sidebar-bottom-img.png' %}" class="sidebar-bottom-img" alt="sidebar-bottom-img">
    </div>
    <a onclick="signUpORLogin()" class="my-account-icon" id="myAccountIcon">
        <i class="far fa-user-astronaut"></i>    
    </a>

    <div class="login-signup" id="loginORSignUp">
        <div id="choose">
            <div id="signUpOrLogin">
                <div class="part-one">
                    {% if request.user.is_authenticated %}
                    <a onclick="myaccount()">Min bruker</a>
                    <a id="logOut" href="{% url 'logout' %}">Logg ut</a>
                    {% else %}
                    <a onclick="login()">Logg inn</a>
                    <a onclick="signup()">Lag bruker</a>
                    {% endif %}
                </div>
                <div class="part-two">
                    <a onclick="signUpORLoginBack()">Tilbake</a>
                </div>
            </div>

            <form id="loginForm" method="post">
                {% csrf_token %}
                <div class="part-one">
                    <br>
                    <label for="username" class="form-tag-username tag">Brukernavn</label>
                    <input type="text" id="username" name="username" required oninvalid="this.setCustomValidity('Værsåsnill skriv inn brukernavnet')" oninput="this.setCustomValidity('')">
                    <br>
                    <br>
                    <label for="password" class="form-tag-password tag">Passord</label>
                    <input type="password" id="password" name="password" required oninvalid="this.setCustomValidity('Skriv inn passordet')" oninput="this.setCustomValidity('')">
                    <div id="signUpFormErrors">{{ form.username.errors }}</div>
                    <br>
                    <div id="signUpFormErrors">{{ form.password.errors }}</div>
                    <button id="logInButton" type="submit" value="login" name="login">Logg inn</button>
                </div>
                    <div class="part-two">
                        <a onclick="loginBack()">Tilbake</a>
                    </div>
            </form>

        <form id="signUpForm" method="post" autocomplete="off">      
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{form.errors}}
                <div class="part-one">
                    <br>
                    <label for="username" class="form-tag-username tag">Brukernavn</label>
                    <input type="text" id="username" name="username" required oninvalid="this.setCustomValidity('Værsåsnill velg en brukernavn')" oninput="this.setCustomValidity('')">
                    <br>
                    <br>
                    <label for="first_name" class="form-tag-first_name tag">Fornavn</label>
                    <input type="text" id="first_name" name="first_name" required oninvalid="this.setCustomValidity('Fornavn kan ikke være tom')" oninput="this.setCustomValidity('')">
                    <br>
                    <br>
                    <label for="last_name" class="form-tag-last_name tag">Etternavn</label>
                    <input type="text" id="last_name" name="last_name" required oninvalid="this.setCustomValidity('Etternavn kan ikke være tom')" oninput="this.setCustomValidity('')">
                    <br>
                    <br>
                    <label for="email" class="form-tag-email tag">Epost</label>
                    <input type="email" id="email" name="email" required oninvalid="this.setCustomValidity('Skriv din epost her')" oninput="this.setCustomValidity('')">
                    <br>
                    <br>
                    <label for="password1" class="form-tag-password1 tag">Passord</label>
                    <input type="password" autocomplete="new-password" id="password1" name="password1" required oninvalid="this.setCustomValidity('Velg et passord')" oninput="this.setCustomValidity('')">
                    <br>
                    <br>
                    <label for="password2" class="form-tag-password2 tag">Gjenta passord</label>
                    <input type="password" id="password2" name="password2" required oninvalid="this.setCustomValidity('Du må gjenta passordet')" oninput="this.setCustomValidity('')">
                    <button id="signUpFormButton" type="submit" name="signup" value="signup">Lag bruker</button>
            </div>
            <div class="part-two">
                <a onclick="signUpBack()">Tilbake</a>
            </div>
        </form>

        </div>
        <div class="my-account" id="myAccount">
            <p><strong>Navn:</strong> {{ request.user.get_full_name }}</p>
            <p><strong>Epost:</strong> {{ request.user.email }}</p>
            <a class="my-orders" href="/">Mine bestillinger</a>
            <a class="my-account-back" onclick="myAccountBack()">Tilbake</a>
        </div>
    </div>
        
    <a href="/bestill" class="order" id="makeOrder">Bestill</a>
    <div class="desktop-menu">
        <ul class="desktop-ul">
            <li class="desktop-li" id="desktopLi">
                <a onclick="prices()">Priser</a>
                <a href="/om-webiser">Om oss</a>
            <a onclick="info()">Prosess</a>
            <a href="/hosting-informasjon">Hosting</a>
            <a onclick="contact()">Kontakt oss</a>
            </li>   
        </ul>
    </div>
</div> -->


