{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static '/scss/page/about.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/page/pages.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/about.js' %}" type="text/javascript"></script>

<div class="page">
    <p class="about-q" id="aboutQ">Om Lillehammer Tjenester</p>

    <div class="about-us">

        <div class="text">
            <h1>Kort om oss</h1>
            <p>
                Velkommen til Lillehammer Tjenester! Vi er et team som hjelper deg å finne tjenester i Lillehammer. Vi har samlet en liste over de beste tjenestene i Lillehammer/Fåberg/Øyer og Tretten, fra regnskap og økonomi til elektro og bygg.
                <br>
                <br>
                Vi har et sterkt fokus på kvalitet av tjenestene vi har samlet inn.
                Vi håper at vår nettside kan være til hjelp for deg å finne de rette tjenestene i Lillehammer. Vi ser frem til å høre fra deg og hjelpe deg med å finne det du leter etter.
            </p>
        </div>

        <hr style="margin-block: 38px;">

        <div class="text">
            <h1>Verdier</h1>
            <p>
                Våres verdier går stort sett på kvalitet og respekt. Vi prøver så hardt vi kan til å forbedre listen av tjenestene våres, derfor er det supert viktig for oss at du er med å bidrar.
                Det viktigste for oss er å gjøre Lillehammer Tjenester veldig enkelt å bruke.
            </p>
        </div>

        <hr style="margin-block: 38px;">

        <div class="text">
            <h1>Visjon</h1>
            <p>
                Vår visjon er å være den foretrukne nettsiden for å finne tjenester i Lillehammer. Vi ønsker å gjøre det enkelt for folk å finne de rette tjenestene for deres behov, ved å tilby en oversiktlig og oppdatert liste over de beste tjenestene i området. 
                Vi vil fortsette å utvide vårt nettverk av samarbeidspartnere for å tilby enda flere tjenester til våre kunder.
                <br>
                <br>
                Vi vil alltid være tilgjengelige for å hjelpe deg og svare på eventuelle spørsmål du måtte ha.
                Vårt mål er å bidra til å gjøre Lillehammer til et enda bedre sted å bo og drive virksomhet ved å gjøre det enkelt å finne de rette tjenestene. Vi ser frem til å hjelpe deg med å finne det du leter etter og å bidra til å nå dine mål.
            </p>
        </div>

        <hr style="margin-block: 38px;">

        <div class="text">
            <h1>Teamet</h1>
            <p>
                Teamet består av en Vgs student som tenkte seg godt gjennom hva som mangler i Lillehammer.
            </p>

        <hr style="margin-block: 38px;">

        <div class="text">
            <h1>Bruk av tjenesten</h1>
            <p>
                Vi forstår at det kan være en utfordring å finne de rette tjenestene for dine behov, derfor har vi gjort det enkelt for deg ved å samle alle tjenestene på ett sted. 
                Tjenesten kommer alltid til å forbli gratis å bruke.
                <!-- <div class="video">video her</div> -->
            </p>
        </div>

        <hr style="margin-block: 38px;">

        <div class="text">
            <h1>Ansvarsfraskrivelse</h1>
            <p>
                Vi på Lillehammer Tjenester er ansvarlige for å gi deg informasjon om tilgjengelige tjenester i Lillehammer, og gjør vårt beste for å sikre at informasjonen vi gir deg er korrekt og oppdatert. 
                <br>
                <br>
                Vi er ikke ansvarlige for eventuelle skader eller tap som måtte oppstå som følge av å bruke tjenestene som tilbys av disse bedriftene.
                Vi anbefaler at du undersøker og vurderer de ulike tjenestene nøye før du bestemmer deg for å bruke dem, og at du tar kontakt med bedriftene direkte for å bekrefte informasjonen som tilbys på vår nettside.
            </p>
        </div>

        <hr style="margin-block: 38px;">

        <div class="text">
            <h1>Kontaktinformasjon</h1>
            <!-- <a href="">+47 nr</a> -->
            <!-- <a href="">support@Lillehammertjenester.no</a> -->
            <a href="https://www.facebook.com/profile.php?id=100090085785878">Instagram</a>
            <a href="https://www.instagram.com/lillehammertjenester.no/">Facebook</a>
        </div>

    </div>
</div>

{% endblock %}