{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">

<div class="page">
   <!-- COVER -->
   <div class="cover" id="cover">
      <!-- ALL COVER CONENT -->
    <div class="content">
       <!-- COVER SECTION 1 -->
       <div class="cover-section1">
          <!-- ALL COVER TEXT -->
          <div class="text">
             <h1 class="cover-h1">Sosiale medier</h1>
             <p class="cover-p">Følg oss på de forskjellige sosiale mediene</p>
            </div>
         </div>
    </div>
   </div>
</div>
{% endblock %}